Django==1.5
DjangoSEO==1.0
Markdown==2.2.1
PIL==1.1.7
Plata==1.1.0
South==0.7.6
boto==2.8.0
dj-database-url==0.2.1
django-allauth==0.9.0
django-appconf==0.6
django-contrib-comments==1.5
django-crispy-forms==1.2.4
django-imagekit==2.0.3
django-positions==0.4.4
django-ratings==0.3.7
django-reviews==0.1.0
django-social-auth==0.7.20
django-storages==1.1.6
django-widget-tweaks==1.1.2
gunicorn==0.17.2
httplib2==0.7.7
ipython==0.13.1
oauth2==1.5.211
psycopg2==2.4.6
python-openid==2.2.5
readline==6.2.4.1
requests==1.1.0
simplejson==3.1.0
six==1.2.0
wsgiref==0.1.2
