Django==1.5.1
Django-modal==0.1
DjangoSEO==1.0
Markdown==2.2.1
PIL==1.1.7
Padding==0.4
Plata==1.1.0
South==0.8.1
amqp==1.0.12
anyjson==0.3.3
billiard==2.7.3.31
boto==2.8.0
celery==3.0.21
dj-database-url==0.2.1
django-activity-stream==0.4.5beta1
django-allauth==0.9.0
django-app-metrics==0.9.0
django-appconf==0.6
django-autoslug==1.6.1
django-celery==3.0.17
django-contrib-comments==1.5
django-crispy-forms==1.2.4
django-endless-pagination==2.0
django-extensions==1.1.1
django-facebook-graph==0.2.0
django-facebook-graph-imly==0.2.0
django-imagekit==2.0.3
django-positions==0.4.4
django-ratings==0.3.7
-e git://github.com/danawoodman/django-reviews.git@b8daab8ae9aeed1b93556d6ec768bcb89087ee25#egg=django_reviews-dev
django-social-auth==0.7.20
django-storages==1.1.6
django-tracking2==0.1.4
django-widget-tweaks==1.1.2
geopy==0.95.1
gunicorn==0.17.2
httplib2==0.7.7
keen==0.1.9
kombu==2.5.12
oauth2==1.5.211
psycopg2==2.4.6
pycrypto==2.6
python-dateutil==2.1
python-omgeo==1.5.5
python-openid==2.2.5
pytz==2013b
readline==6.2.4.1
requests==1.1.0
simplejson==3.1.0
six==1.2.0
suds==0.4
wsgiref==0.1.2
