{% extends "base_store_manage.html" %}

{% block manage_store_navigation %}

    <li><a href="{% url "imly_store_info" object.store.slug %}">Shop Details</a></li>
    <li class="active"><a href="#">Product Details</a></li>
    <li><a href="{% url "imly_store_orders" object.store.slug %}">Order Details</a></li>
    <li><a href="#">My Profile</a></li>
                
{% endblock manage_store_navigation %}

{% block shop_content %}
    

    
        <div class="row-fluid">
            <div class="span9">
                <h4>Are you sure you want to delete the following item?</h4>
                <br><br>
                <table class="table table-striped table-bordered clearfix">
                    <tr>
                        <th>Product Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Capacity</th>
                    </tr>

                    <tr>
                        <td><img class="img-polaroid" src="{{ object.image_thumbnail_mini.url }}" alt="{{ object.name }}" width="100" height="80"></td>
                        <td>
                            {{ object.name }}
                            <p><small><em>last updated {{ object.date_created|date:"F j, Y" }}</em></small></p>
                        </td>
                        <td>{{ object.category }}</td>
                        <td>INR {{ object.get_price.unit_price }}</td>
                        <td>{{ object.capacity_per_month }}</td>
                    </tr>
                </table>
                
                <div class="row-fluid">
                    <form method="post" action="">
                        {% csrf_token %}
                        <a href="{% url "imly_store_products" %}" class="btn">Cancel</a>  
                        <input type="submit" class="btn btn-danger" value="Delete">
 
                    </form>
                </div>
                
            </div>
            
            <div class="span3"></div>
        </div>  
{% endblock shop_content %}
                

{% block shop_info %}
                
{% endblock shop_info %}   