<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Imly | Food</title>
        
        


        <link href="https://imly.s3.amazonaws.com/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="https://imly.s3.amazonaws.com/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="https://imly.s3.amazonaws.com/bootstrap/css/custom.css" rel="stylesheet" type="text/css">
        
        <!-- HTML5 shim for IE backwards compatibility -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="https://imly.s3.amazonaws.com/bootstrap/img/favicon.ico">
        <style type="text/css">
            body {
                padding-top: 0;
            }
        </style>
    </head>
    
    <body>


    <div class="container lower_border">
        
            
            <nav class="navbar">
                    <div class="navbar-inner">

                            <button class="btn btn-navbar btn-nav-collapse" data-toggle="collapse" data-target=".nav-collapse">
                                <a href="http://imly.in" class="brand"><img src="https://imly.s3.amazonaws.com/bootstrap/img/imly_logo_small_with_beta_light.png" alt="Imly Logo" width="80"></a>
                                <span class="pull-right">
                                        

                                        

                                </span>
                            </button>
                            <a href="http://imly.in" class="brand visible-desktop"><img src="https://imly.s3.amazonaws.com/bootstrap/img/imly_logo_with_beta.png" alt="Imly Logo"></a>
                            
                            <div class="nav-collapse collapse">
                                
                                <ul class="nav">
                                        <li class="visible-tablet top_nav_logo"><a href="http://imly.in" style="padding: 10px 0px;padding-right: 40px;"><img src="https://imly.s3.amazonaws.com/bootstrap/img/imly_logo_with_beta.png" alt="Imly Logo" width="80"></a></li>
                                   
                                </ul>
                            </div> <!-- end of nav-collapse div -->

                    </div> <!-- end of navbar-inner --> 

                </nav> <!-- end of navbar -->
            
        </div> <!-- end of div container -->
    
    
    <div id="wrap">
        <div id="main" class="container clear-top">
            <div class="row">
                <br>
                <div class="col-md-6 col-md-offset-3">
                    <div class="well text-center">
                        <p class="text-center"><img src="https://imly.s3.amazonaws.com/bootstrap/img/chef_embarassed.png" class="img-responsive img_center" alt="Server Error"></p>
            
                        <h3 class="text-center muted">Oops! A 500 error!<br>Looks like we spilled milk on our servers.</h3>
                        <a href="http://imly.in" class="give_us_a_tip give_us_a_tip2">Click to go back & try again</a><br><br>
                        <p class="muted"><small>We are cleaning our mess up</small></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        
            <br>
            <br>            
    </div>

        <footer class="container bgfull footer">
            <div class="container">
                <br>
                <div class="row">
                        <div class="col-md-12">
                            <small><ul class="list-inline footer_nav mobile_footer">
                                <li><a href="http://imly.in/what-is-imly/">What is Imly</a></li>
                                <li><a href="http://imly.in/why-join-imly/">Why sell on Imly</a></li>
                                <li><a href="http://imly.in/faqs/">FAQ</a></li>
                                <li><a href="http://blog.imly.in/" target="blank">Blog</a></li>
                                <li><a href="http://imly.in/contact-us/">Contact Us</a></li>
                            </ul></small>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-unstyled text-center">
                                <li>
                                    <ul class="list-inline">
                                        <li><a href="https://twitter.com/imly_in" target="blank"><div class="social_logo twitter"></div></a></li>
                                        <li><a href="https://facebook.com/imly.in" target="blank"><div class="social_logo facebook"></div></a></li>
                                        <li><a href="http://blog.imly.in/" target="blank"><div class="social_logo tumblr"></div></a></li>
                                    </ul>
                                </li>
                                <li><small>Cooked with <span class="glyphicon glyphicon-heart"></span> by Imly</li>
                            </ul>
                        </div>
                    </div>
            </div>
        </footer>
        
    </body>
</html>
