
                <table class="table table-striped table-bordered clearfix">
                    <tr>
                        <th>S.No</th>
                        <th>Order No.</th>
                        <th>Product Detail</th>
                        <th>User/Buyer Info</th>
                        <th>Order Place Date</th>
                        <th>Sub Total</th>
                        
                    </tr>
                {% for object in orders %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object.id }}</td>
                        <td>{% for product in object.items.all %}
                                {% ifequal product.product.store request.user.store %}
                                    {{product.quantity}} {{product.name}}<br>
                                {% endifequal %}
                            {% endfor %}</td>
                        <td>{{ object.user }}<br>{{object.billing_phone_number}}</td>
                        <td>{{ object.confirmed|date:"F j, Y" }}</td>
                        <td>{{ object.items_subtotal}}</td>
                        
                    </tr>
                {% endfor %}
                </table>