
                <table class="table table-striped table-bordered clearfix">
                    <tr>
                        <th style="background: #e5e5e5;">S.No</th>
                        <th style="background: #e5e5e5;">Order No.</th>
                        <th style="background: #e5e5e5;">You have to make</th>
                        <th style="background: #e5e5e5;">Buyer Info</th>
                        <th style="background: #e5e5e5;">Order Placed on</th>
                        <th style="background: #e5e5e5;">Total</th>
                        
                    </tr>
                {% for object in orders %}
                
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object.order_id }}</td>
                        <td>{% for product in object.items.all %}
                                {% ifequal product.product.store request.user.store %}
                                    {{ product.quantity }} {{ product.product.name }} <small class="muted"><i>({{ product.product.quantity_per_item }} {{ product.product.get_quantity_by_price_display }})</i></small><br>
                                {% endifequal %}
                            {% endfor %}</td>
                        {% if object.shipping_same_as_billing %}
                        <td><u>{{ object.billing_first_name|capfirst }} {{ object.billing_last_name|capfirst }}</u><br>{{ object.billing_address }}<br>{{ object.billing_city|slice:"3" }} - {{ object.billing_zip_code }}</td>
                        {% else %}
                        <td><u>{{ object.shipping_first_name|capfirst }} {{ object.shipping_last_name|capfirst }}</u><br>{{ object.shipping_address }}<br>{{ object.shipping_city|slice:"3" }} - {{ object.shipping_zip_code }}</td>  
                        {% endif %}
                        <td>{{ object.confirmed|date:"F j, Y" }}</td>
                        <td>{{ object.store_total|floatformat:"2" }}
                        </td>
                        
                    </tr>
                {% endfor %}
                </table>