{% load imly_tags %}
{% if object_list %}
<!-- using forloop counter to correct bootstrap bug- thumbnails dont align after first row, added bottom margin to each row fluid for proper spacing -->   
    <div class="row">
        {% load endless %}
        
        {% paginate object_list %}
        {% for object in object_list %}
		{% if foorloop.first %}
		{% block extra_head %}
		<meta property="og:title" content="{{ object.store.name }}: {{ object.name }}"/>
		<meta property="og:type" content="imly:product"/>
		<meta property="og:category" content="Food"/>
		<meta property="og:image" content="{{ object.image_thumbnail.url }}"/>
		<meta property="og:site_name" content="imly.in"/>
		<meta property="og:url" content="http://imly.in/{{ object.store.slug }}/{{ object.slug }}/"/>
		<meta property="og:description" content="Check out {{ object.name|title }} on imly.in! Drooool..."/>
		{% endblock extra_head %}
		{% endif %}
        <div class="col-xs-6 col-sm-6 col-md-4">
            <div class="thumbnail thumbnail_custom">
                {% if request.session.place_slug %}
                                {% store_amend_geo object.store %}
                                {% if object.store.pick_up_location %}
                                <p class="text-left location_distance"><span class="glyphicon glyphicon-map-marker"></span> <small class="text-muted">

                                    {% if object.store.distance < 1 %}
                                        &lt; 1 km 
                                    {% else %}
                                        {{ object.store.distance|floatformat:"1" }} kms
                                    {% endif %}
                                {% endif %}
                                
                                
                                <span class="pull-right deliver_pick_up">
                                {% if object.store.delivers %} {# Was this earlier - {% if object.store.delivers %} #}
                                    Delivers to you &nbsp;
                                {% else %}
                                    {% if object.store.pick_up and object.store.delivers %}
                                        Pick up/Delivery &nbsp;
                                    {% elif object.store.pick_up %}
                                        Pick up required &nbsp;
                                    {% else %}
                                        Unavailable &nbsp;
                                    {% endif %}
                                {% endif %}
                                </span>
                                </small></p>
                {% endif %}
                <a href="{% url "imly_product_detail" object.store.slug object.slug %}">
                    <div class="sold_out">
                        <img src="{{ STATIC_URL }}bootstrap/img/bisc.jpg" class="img-responsive img_center" alt="{{ object.name }}">
                        {% if not object.items_in_stock %}
                            <img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image">
                        {% endif %}
                        <div id="exceed_stock_{{ object.slug }}" class="exceed_stock">I can't make more today</div>
                        <div class="hidden-md hidden-lg">
                            <div id="item_added_{{ object.slug }}" class="item_added"><a href="{% url "plata_shop_cart" %}" class="item_added_link">Item added. Go to cart &raquo;</a></div>
                        </div>
                        <div>
                            <div id="item_wished_{{ object.slug }}" class="item_added"><a href="{% url "show_wishlist" %}" class="item_added_link">Favourited! Go there &raquo;</a></div>
                        </div>
                        
                            <div class="visible-md visible-lg">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_16x16_style custom_addthis" addthis:url="http://imly.in/{{ object.store.slug }}/{{ object.slug }}/" addthis:title="Check out {{ object.name|title }} on imly.in! Drooool...">
                                <div class="pull-left">
                                <a class="addthis_button_pinterest_share"><img src="{{ STATIC_URL }}bootstrap/img/share_pinterest.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Pin on Pinterest"></a>
                                <a class="addthis_button_facebook"><img src="{{ STATIC_URL }}bootstrap/img/share_facebook.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Share on Facebook"></a>
                                <a class="addthis_button_twitter"><img src="{{ STATIC_URL }}bootstrap/img/share_twitter.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Tweet on Twitter"></a>
                                </div>
                                {% if request.user.is_authenticated %}
                                    {% wish_product object.slug object.store.slug %}                    
                                {% else %}
                                    
                                    <a href="#myModal" role="button" data-toggle="modal" class="wishlist pull-right"><div class="wishlist_heart"></div></a>
                                    
                                {% endif %}
                                </div>
                                <!-- AddThis Button END -->
                            </div>

                    </div>

                </a>

                <h5 class="less_bottom_margin ellipsis text-center"><a class="top_text" href="{% url "imly_product_detail" object.store.slug object.slug %}">{{ object.name|lower|title }}</a></h5>
		<p class="text-center text-muted lower_bottom_margin ellipsis">
		    <small class="ultra_small"><a class="sub_text" href="{{ object.store.get_absolute_url }}">{{ object.store.name|upper }}</a></small>
		</p>
                <div class="thumbnail_info_wrapper">
                    <span class="pull-left">{{ object.currency }} {{ object.get_price.unit_price|floatformat:"0" }}<small class="text-muted">
                        {% if object.quantity_per_item == 1 %}
                            /{{ object.get_quantity_by_price_display }}
                        {% else %}
                            for {{ object.quantity_per_item|floatformat:"0" }} {{ object.get_quantity_by_price_display }}s
                        {% endif %} 
                    </small></span>
                    
                {% if object.store.is_open %}
                    {% if object.items_in_stock %}
                    <form method="post" action="{% url "imly_add_order" object.store.slug object.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="image_url" value="{{object.image_thumbnail_mini.url}}">
                        <input type="hidden" name="product_name" value="{{object.name|title}}">
                        <input type="hidden" name="store_name" value="{{object.store.name|title}}">
                        <input type="hidden" name="product_slug" value="{{ object.slug }}">
                        <input type="hidden" name="quantity" value="1">
                        <input type="button" class="submit-btn btn btn-custom btn-xs pull-right" value="Order">
                    </form>
                    {% else %}
                        <small class="ultra_small text-muted pull-right">Fresh batch tomorrow</small>
                    {% endif %}
                {% else %}
                    <small class="ultra_small text-muted pull-right">Chef on vacation</small>
                {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
		{% if forloop.counter|divisibleby:"3" %}<div class="clearfix visible-md visible-lg"></div>{% endif %}
		{% if forloop.counter|divisibleby:"2" %}<div class="clearfix visible-xs visible-sm"></div>{% endif %}
        {% endfor %}
    </div>
    <div class="text-center">
        {% show_pages %}
    </div>
{% else %}
    <br>
    <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/chef_sad.png" class="img-responsive img_center" alt="Oops no food matching your criteria"></p><br>

    <h4 class="text-muted text-center no_search_results">
        Oops, we could not find any {% if category %}<span class="orange">{{ category|capfirst }}</span>{% else %}food{% endif %} {% if request.session.place_slug %}in <span class="orange">{{ request.session.display_place_slug }}</span><br>{% endif %} {% if selected_tags %}that is {% for tag in selected_tags %}<span class="orange">{{ tag }}</span>{%if not forloop.last %}, {% endif %}{% if forloop.counter|divisibleby:"3" %}<br>{% endif %}{% endfor %} and{% endif %} {%if request.session.delivery %}that <span class="orange">delivers</span> to you.<br>See chefs you can <a href="{% url "set_pick_up" %}" class="pick_up_instead">pick-up</a> from instead{% else %}that can be <span class="orange">picked-up</span>{% endif %}.<br>
        
        </h4><p class="text-center"><a class="give_us_a_tip give_us_a_tip2" href="javascript:void(0)" data-toggle="modal">Suggest a Chef</a></p>
        <p class="text-muted text-center"><small>or try searching for something else.</small></p>
{% endif %}