{% extends "base.html" %}


{% block location_search_bar %}
    
{% endblock location_search_bar %}

{% block main_body %}
    <br>
    <div class="row-fluid">
        <section class="span9">
            {% block manage_store_heading %}
            <h3 style="line-height:24px;">Manage Your Shop<br><small class="muted">
            Need Help? Call +91 9920190624</small></h3>
            {% endblock manage_store_heading %}
            <br>
            <div class="row-fluid">
                <div class="span12">
                    <ul class="nav nav-tabs">
                    {% block manage_store_navigation %}
                    
                    {% endblock manage_store_navigation %}
                    </ul>
                </div>
            </div>
            
            {% block shop_content %}
                
            {% endblock shop_content %}
                
        </section>
        
        <aside class="span3">
            {% block shop_info %}
                
            {% endblock shop_info %}            
        </aside>
        

        
    </div>
{% endblock main_body %}

{% block picture_line %}
    
{% endblock picture_line %}