<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Imly{% endblock title %}</title>
        {% load seo %}
        {% get_metadata %}
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <!--<link href="{{ STATIC_URL }}bootstrap/css/jasny-bootstrap.css" rel="stylesheet" type="text/css">-->
        <link href="{{ STATIC_URL }}star-rating/jquery.rating.css" rel="stylesheet" type="text/css">
       
        <link href="{{ STATIC_URL }}bootstrap/css/custom.css" rel="stylesheet" type="text/css">
        
        <!-- HTML5 shim for IE backwards compatibility -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap/img/favicon.ico">
        
    </head>
    
    <body>
    <div class="container-fluid lower_border">
        <div class="container">
            {% block navigation %}
                
                {% include "top_nav.html" %}
                
            {% endblock navigation %}
        </div> <!-- end of div container -->
    </div>   
        {% block location_search_bar %}
            {% if not request.session.place_slug %}
                <div class="container-fluid location_bar_outer">
                    <div class="container location_bar_inner">
                            <div class="row-fluid">
                                <div class="span12">
                                   
                                        <ul class="text-center inline">
                                                <li>I want food in</li>
                                                <li><div class="input-append">
                                                    <input id="loc" type="text" class="large_location_search" placeholder="e.g. Breach Candy">
                                                    <button class="btn btn-custom go_location_button" type="button">Go</button>
                                                  </div>
                                                </li>
                                        </ul>
                                </div>
                            </div>
                    </div><!-- end of location_bar_inner -->
                </div><!-- end of div container-fluid location_bar_outer -->
            {% endif %}
        {% endblock location_search_bar %}
        
        <div id="wrap">
            <br>
        <div id="main" class="container clear-top">
            <div class="row">
                <div class="span12">

            {% block main_body %}
                {% if request.session.place_slug %}
                <br> <!-- for presentation purposes, otherwise sticks too close to the top -->
                <br>
                {% endif %}
            <div class="row-fluid">
                <nav class="span3">
                {% block sidebar_nav %}
                    {% load imly_tags %}
                {% comment %}{% get_location_list %}
                    <select class="location_list">
                        <option value="all">Search by Location (All)</option>
                        {% for location in locations %}
                            <option value="{{ location.slug }}" {% ifequal request.session.place_slug location.slug %}selected="selected"{% endifequal %}>{{ location.name|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                {% endcomment %}
                    
                    <div class="well sidebar-nav">
                        
                        <div class="span12">
                            <ul class="inline text-center food_chef">
                                <li><a href="#" class="food food_chef_active">Food</a></li>
                                <li><a href="{% if category %}{% url "imly_stores_by_category" category.slug %}{% else %}{% url 'imly_store_list' %}{% endif %}" class="chef food_chef_inactive">Chef</a></li>
                                <hr class="hr_less_margin">
                            </ul>
                        </div>
                        
                        {% include "sidebar_nav.html" %}
                    </div> <!-- end of well sidebar-nav -->
                {% endblock sidebar_nav %}
                </nav> <!-- end of nav span3 -->
                
                <section class="span9">
                    {% block shop_or_product %}

                  
                    {% endblock shop_or_product %}
                    
                    <div class="row-fluid">
                        {% block content %}
                    
                    
                        {% endblock content %}
                    </div>
                </section> <!-- end of section span9 -->
            </div> <!-- end of row-fluid -->
            {% endblock main_body %}
                </div>
            </div>
        </div> <!-- end of container div -->
        </div> <!-- end of wrap div -->

        <div class="container-fluid">
        
            <br><br><br><br>            
        </div>
        {% block login %}
            {% include "modal_signup.html" %}   
            
        {% endblock login %}

        <footer class="container-fluid bgfull footer">
            <div class="container">
                <br>
                {% block footer %}
                    {% include "footer.html" %}
                {% endblock footer %}
            </div>
        </footer>
        
        
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
        <script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.expander.min.js"></script>
        <script src="{{ STATIC_URL }}star-rating/jquery.rating.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        <!--<script src="{{ STATIC_URL }}bootstrap/js/jasny-bootstrap.js"></script>-->
        
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        <script type="text/javascript">

            $(document).ready(function(){
            
            

            $("#sortable").sortable({
                update:function(event,ui){
                    var serial = $('#sortable').sortable('serialize',{handle:".handle"});
                        //alert(serial);
                    $.ajax({url:"/account/store/sort-product/",type:"post",data:serial});
                },
                }).disableSelection();
            });
            

		
		/*		
                $("#sortable").sortable({
                    update:function(event,ui){
                        var serial = $('#sortable').sortable('serialize',{handle:".handle"});
                        //alert(serial);
                        $.ajax({url:"/account/store/sort_product/",type:"post",data:serial});
                    },
                	}).disableSelection();
				});
  */          

                !function ($) {
					
                    $(function(){
						/*
					    //$('#sortable').sortable({items:"> tr"});
                        //$('#sortable').disableSelection();
					   
						$("#local").autocomplete({
						            source: function (request, response) {
						                $.ajax({
						                    url: "http://dev.virtualearth.net/REST/v1/Locations/",
						                    dataType: "jsonp",
						                    data: {
						                        key: "AgOr3aEARXNVLGGSQe9nt2j6v9ThHyIiSNyWmoO5uw2N5RSfjt3MLBsxB_kgJTFn",
						                        q: request.term,
												inclnb: 1,
						                    },
						                    jsonp: "jsonp",
						                    success: function (data) {
						                        var result = data.resourceSets[0];
						                        if (result) {
						                            if (result.estimatedTotal > 0) {
						                                response($.map(result.resources, function (item) {
						                                    return {
						                                        data: item,
						                                        label: item.name + ' (' + JSON.stringify(item.point) + ')',
						                                        value: item.name
						                                    }
						                                }));
						                            }
						                        }
						                    }
						                });
						            },
						            minLength: 1
						        });
						*/		
						var default_bounds = new google.maps.LatLngBounds(
								new google.maps.LatLng(19.26, 72.98),
								new google.maps.LatLng(18.89, 72.775)); 
						var google_map_api_options = {
							bounds: default_bounds,
							componentRestrictions: {country: 'in'}
						};
                                                
                                                var set_location_button = function() {
                                                    window.location.href = '/set_location?location=' + $('#loc').val();
                                                }
                                                
                                                $(".go_location_button").on("click",set_location_button);
                                                
						var autocomplete = new google.maps.places.Autocomplete(document.getElementById('loc'), google_map_api_options);
						google.maps.event.addListener(autocomplete, 'place_changed', function(){
							window.location.href = '/set_location?location=' + $('#loc').val();
						});
						var autocomplete_delivery = $('#delivery_locator');
						if($('#delivery_locator')){
						 autocomplete_delivery = new google.maps.places.Autocomplete(document.getElementById('delivery_locator'), google_map_api_options);
						 google.maps.event.addListener(autocomplete_delivery, 'place_changed', function(){
							 var count = $('.delivery_locations').children().length;
							 var markup = $('#delivery_location_template').html()
							 var compiled = _.template(markup, {id: count, name: $('#delivery_locator').val()});
							 $('div.delivery_locations').append(compiled);
							 $('#id_delivery_locations-TOTAL_FORMS').attr('value', count + 1);
						 });
						}
						
						//expanding, contracting stor info
                        $("div.expandable").expander({
                        slicePoint: 140,
                        expandEffect: 'slideDown',
                        collapseEffect: 'slideUp',
    
                        });
                        
                        $('.form-tips').tooltip({placement:"right"});
                        
                        //$('.fileupload').fileupload();
                        /*
                        //filtering by tags - adding the tags
                        $("a.tag").click(function() {
                           var id = $(this).attr("id");
                           if (window.location.search == "") {
                                window.location.search = "tags=" + id;
                           }
                           else {
                                window.location.search += "&tags=" + id
                           }
                           return false;
                        });
                        
                        //filtering by tags - removing the tags
                        $("a.tag_selected").click(function(){
                            var id = $(this).attr("id");
                            var query = window.location.search.slice(1);
        
                                var tag_list = query.split("&");
                                var remaining_tags = []
                                for(i=0;i<tag_list.length;i++) {
                                    if(tag_list[i] != "tags="+id){
                                        remaining_tags.push(tag_list[i])
                                    }
                                }
                                
                                window.location.search=remaining_tags.join("&");
                                return false;
                        });
                        */
                        //filtering by location
                        $("select.location_list").on("change", function(){
                            var query = window.location.href
                            window.location = "/set_location/" + $("select.location_list option:selected").val() + "?next=" + encodeURI(query)
                        });
                        
                        //script to show fields in store edit/create if checkbox is already ticked
                        if($("#id_pick_up").is(":checked")){
                            $(".pick_up").css({"display":"block"})
                        }
                        else{
                            $(".pick_up").css({"display":"none"})
                        }
                        if($("#id_provide_delivery").is(":checked")){
                            $(".delivery_areas").css({"display":"block"})
                        }
                        else{
                            $(".delivery_areas").css({"display":"none"})
                        }
                
                        //script to hide/reveal fields in store edit/create if checkbox is checked/unchecked
                        $("#id_pick_up").change(function (){
                            if($(this).is(":checked")){
                                $(".pick_up").slideDown();
                                return;
                            }
                                $(".pick_up").slideUp();
        
                        });
                
                        $("#id_provide_delivery").change(function (){
                            if($(this).is(":checked")){
                                $(".delivery_areas").slideDown();
                                return;
                            }
                                $(".delivery_areas").slideUp();
        
                        });
                        $(".give_us_a_tip").click(function(){
                            $("#tip").modal();
                            $('#tip_form')[0].reset();
                        });
                        
                        $('#tip_form').submit(function(){
                            
                            //alert("Submit");
                            var form_data = $(this).serialize()
                            $.post('/give_us_tip/', form_data, function(data){   
                                $('#tip').modal('hide');
                                $('#tip_form').find("input[type=text], textarea").val("");
                            })
                            .error(function(data){$('#tip_form_body').html(data.responseText);});
                            $('#tip_form')[0].reset();
                            return false;
                        });
                        
                        $("#login_form").submit(function(){
                            
                            var form_data = $(this).serialize();
                            $.post("/login-x/", form_data, function(data){
                                window.location.href = data;
                                //alert('Howdy')
                            })
                            .error(function(data){$("#login_form").html(data.responseText);});
                            return false;
                        });
                  
                        $("#signup_form").submit(function(){
                            
                            var form_data = $(this).serialize();
                            $.post("/signup-x/", form_data, function(data){
                                window.location.href = data;  
                            })
                            .error(function(data){$("#signup_form").html(data.responseText);});
                            return false;
                        });

                        $("#open_your_shop").on("click",function(){
                            $(".redirect_path").attr("value","{% url "imly_store_info" %}");
                            $("#myModal").modal();

                        });
                        
                        
                        $("#from_logout").on("click", function(){
                            $(".redirect_path").attr("value","{% url "imly_product_list" %}");
                            $("#myModal").modal();
                        });
                        
                        var sDate = $('.del_date').text();
                        
                        var date = new Date(sDate);
                        var day = date.getDate();
                        var month = date.getMonth();
                        var year = date.getFullYear();

                        var newDate = new Date(year,month,day)
                                       
                        var maxDate = new Date(year,month,newDate.getDate() + 15)

                        $("#datepicker").datepicker({minDate:newDate,maxDate:maxDate,dateFormat:"DD MM dd"});
                        
                        $("#datepicker").datepicker("setDate",newDate);
                        $("#id_terms_and_conditions").attr("checked",true);
                        
                    })
                }(window.jQuery)
                

              
        </script>
        
        {% block extra_body %}
            
        {% endblock extra_body %}
        
        <!-- UserVoice JavaScript SDK (only needed once on a page) 
        <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/dL897A8Wf1MBVZxoxlMw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>-->
        
        <!-- A tab to launch the Classic Widget 
        <script>
        UserVoice = window.UserVoice || [];
        UserVoice.push(['showTab', 'classic_widget', {
          mode: 'feedback',
          primary_color: '#f05a28',
          link_color: '#ff7752',
          forum_id: 198507,
          support_tab_name: 'Contact Us',
          feedback_tab_name: 'We want your Feedback',
          tab_label: 'Feedback',
          tab_color: '#ff7752',
          tab_position: 'middle-right',
          tab_inverted: true
        }]);
        </script>-->
        

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39358285-1']);
            _gaq.push(['_trackPageview']);
          
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          
        </script>
        
    </body>
</html>
