{% extends "base.html" %}

{% block navigation %}
                
                <nav class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <a href="#" class="brand"><img src="{{ STATIC_URL }}bootstrap/img/imly_logo_with_beta.png" alt="Imly Logo"></a>
                            <div class="nav-collapse">
                                
                                <ul class="nav pull-right">
                                    
                                </ul>
                            </div> <!-- end of nav-collapse div -->
                        </div><!-- end of container --> 
                    </div> <!-- end of navbar-inner --> 

                </nav> <!-- end of navbar -->               
            {% endblock navigation %}

{% block main_body %}
    <div class="row-fluid">

        <section class="span9">
            {% block cart_content %}
                
            {% endblock cart_content %}
                
        </section>
        
        <aside class="span3">
            {% block shop_info %}
                
            {% endblock shop_info %}            
        </aside>
        

        
    </div>
{% endblock main_body %}
{% block picture_line %}
    
{% endblock picture_line %}

{% block footer %}
                    <div class="row-fluid"></div>
                    <br>
                    <div class="row-fluid">
                        <div class="span12">
                            <small><p class="text-center">&copy; Cooked with <span class="icon-heart icon-white"></span> by Imly</p></small>
                        </div>
                    </div>
                {% endblock footer %}