{% extends "base.html" %}

{% block main_body %}
    <div class="row-fluid">
        {% if user.store and not user.store.is_approved %}
        <div class="span12">
            <div class="alert alert-block"> <p>Your store is yet to be approved. To continue managing your store click <a href="{% url 'imly_store_info' %}">here</a></p> </div>
        </div>
        {% endif %}
        <aside class="span3">
            {% block shop_info %}
                
            {% endblock shop_info %}            
        </aside>
        
        <section class="span9">
            {% block shop_product_content %}
                
            {% endblock shop_product_content %}
                
        </section>
        

        
    </div>
{% endblock main_body %}