{% extends "base.html" %}


{% block location_search_bar %}
    
{% endblock location_search_bar %}

{% block main_body %}
    <br>
    <div class="row-fluid">
        <section class="span9">
            <h3>Manage Your Shop</h3>
            <div class="row-fluid">
                <div class="span12">
                    <ul class="nav nav-tabs">
                    {% block manage_store_navigation %}
                    
                    {% endblock manage_store_navigation %}
                    </ul>
                </div>
            </div>
            
            {% block shop_content %}
                
            {% endblock shop_content %}
                
        </section>
        
        <aside class="span3">
            {% block shop_info %}
                
            {% endblock shop_info %}            
        </aside>
        

        
    </div>
{% endblock main_body %}