{% extends "base.html" %}


{% block main_body %}
    {% if user.store and not user.store.is_approved %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-block"> <p class="text-center">Your store is pending approval&nbsp;&nbsp;&nbsp;<a class="btn btn-custom btn-mini" href="{% url 'imly_store_info' %}">Close Preview</a></p> </div>
            </div>
        </div>
    {% endif %}
    
    <br>
    <div class="row">

        <aside class="col-sm-4 col-md-3">
            {% block shop_info %}
                
            {% endblock shop_info %}            
        </aside>
        
        <section class="col-sm-8 col-md-9">
            {% block shop_product_content %}
                
            {% endblock shop_product_content %}
                
        </section>
        

        
    </div>
{% endblock main_body %}