{% extends "index.html" %}

{% block carousel %}
    {% if object.cover_profile_image %}
    <div class="hero-unit hero_chef_profile" style="background:url({{ object.cover_profile_image_thumbnail.url }}) no-repeat;background-position: top 50%;">
        
    {% else %}
    
    <div class="hero-unit hero_chef_profile">
    
{% endif %}

        <div class="container">
            <ul class="unstyled text-center pull-right">
                <li><h2 class="chef_profile">{{ object.first_name }} {{ object.last_name }}</h2></li>
                <li><p class="chef_profile_para">{{ object.word_one }}. {{ object.word_two }}. {{ object.word_three }}.</p></li>
            </ul>
            
        </div>
    </div>
    
{% endblock carousel %}

{% block featurette %}
    <div class="row-fluid">
        <div class="span9">
            <h3 class="about_chef">
                {{ object.about_me_html|safe }}
            </h3>
        </div>
        <div class="span3 well">
            <h4 class="best_dish text-center orange">My Best Dish</h4>
    
            <div class="row-fluid">
                <div class="span10 offset1">
                    <hr>
                </div>
            </div>
            {% with object.user.store.product_set.all|first as product %}
            <a href="{% url "imly_product_detail" product.store.slug product.slug %}"><img class="img-rounded" src="{{ product.image_thumbnail.url }}" alt="{{ product.name }}"></a>
            <p class="text-center"><small class="muted">{{ product.name }}</small></p>
            {% endwith %}
        </div>
    </div>
{% endblock featurette %}

{% block as_seen_on %}
    
{% endblock as_seen_on %}