{% extends "index.html" %}

{% block title %}Imly | Contact Us{% endblock title %}

{% block navigation %}
    {% include "top_nav.html" %}
{% endblock navigation %}

{% block carousel %}

    <div class="jumbotron hero_unit_contact hidden-xs">
        <div class="container">
            <div class="contact_wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline" style="padding-top:15px;">
                            <li><img src="{{ STATIC_URL }}bootstrap/img/contact_tel.png" alt="contact by phone"></li>
                            <li><h2 class="contact_header">+91 9920190624</h2></li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <hr class="contact_divider">
                    </div>
                </div>
                
                    <p class="contact_add">401 Enterprise Centre, <br>
                        Domestic Airport,<br>
                        Next to Orchid Hotel,<br> 
                        Vile Parle East,<br>
                        Mumbai - 400 099
                    </p>
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <hr class="contact_divider">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline" style="padding-top:15px;">
                            <li><img src="{{ STATIC_URL }}bootstrap/img/contact_mail.png" alt="Contact by Mail"></li>
                            <li><h2 class="contact_header">hello@imly.in</h2></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="container visible-xs">
        <div class="row">
            <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/choc_brownie_mobile.jpg" class="img-responsive"></p>
        </div>

                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline text-center" style="padding-top:5px;">
                            <li><img src="{{ STATIC_URL }}bootstrap/img/contact_tel.png" width="40" alt="contact by phone"></li>
                            <li><h4 class="contact_header">+91 9920190624</h4></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <p class="contact_add text-center">401 Enterprise Centre, <br>
                        Domestic Airport,<br>
                        Next to Orchid Hotel,<br> 
                        Vile Parle East,<br>
                        Mumbai - 400 099
                    </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline text-center email_contact_mobile">
                            <li><img src="{{ STATIC_URL }}bootstrap/img/contact_mail.png" width="40" alt="contact by email"></li>
                            <li><h4 class="contact_header">hello@imly.in</h4></li>
                        </ul>
                    </div>
                </div>
        
    </div>

{% endblock carousel %}

{% block featurette %}

{% endblock featurette %}

{% block as_seen_on %}
    
{% endblock as_seen_on %}

{% block picture_line %}

{% endblock picture_line %}