{% extends "index.html" %}

{% block title %}Imly | FAQs{% endblock title %}

{% block navigation %}
    {% include "top_nav.html" %}
{% endblock navigation %}

{% block carousel %}

{% endblock carousel %}

{% block featurette %}
    <br>
    <div class="row-fluid">
        <div class="span12">
            <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/faq_q.png"></p>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span6">
            <div class="row-fluid">
                <div class="span8 offset2">
                    <h3 class="best_dish text-center faq_header">Chefs</h3>
                </div>
            </div>
            
            <div class="accordion" id="chef_accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#chef_accordion" href="#chef_one">
                            <span class="faq_plus">+</span> What can I sell on Imly?
                        </a>
                    </div>
                    <div id="chef_one" class="accordion-body collapse">
                        <div class="accordion-inner">
                            You can sell any edible item that you cook as long as people can safely eat it. If you feel that your dish doesn't fit in any category we are offering, just give us a call and we will put your category in.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#chef_accordion" href="#chef_two">
                            <span class="faq_plus">+</span> How will I receive payment for the orders?
                        </a>
                    </div>
                    <div id="chef_two" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Currently all orders are on cash on delivery. So you can collect the amount when the buyer comes to pick up or when you deliver.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#chef_accordion" href="#chef_three">
                            <span class="faq_plus">+</span> I can't provide delivery for my items, what do I do?
                        </a>
                    </div>
                    <div id="chef_three" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Again no problem. Simply define a pick up point so customers can come collect the food from you. 
                        </div>
                    </div>
                </div>
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#chef_accordion" href="#chef_four">
                            <span class="faq_plus">+</span> How much do I need to pay to set up a shop?
                        </a>
                    </div>
                    <div id="chef_four" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Absolutely nothing! We do not charge any setup fees or subscriptions. At this point we are not even charging any commissions on sales, so everything you earn through Imly goes straight into your pocket.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#chef_accordion" href="#chef_five">
                            <span class="faq_plus">+</span> What if I can't handle many orders?
                        </a>
                    </div>
                    <div id="chef_five" class="accordion-body collapse">
                        <div class="accordion-inner">
                            We have designed Imly to give you complete control. You can enter your daily capacity for every item in your shop. As soon as that capacity is reached, you wont take in any additional orders for that day. So set as high or as low a capacity as you like.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#chef_accordion" href="#chef_six">
                            <span class="faq_plus">+</span> What if I go on a holiday?
                        </a>
                    </div>
                    <div id="chef_six" class="accordion-body collapse">
                        <div class="accordion-inner">
                            No problem! Shut your shop with a single click and you will stop receiving more orders. When you return simply click to reopen your shop and you are all set to go.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#chef_accordion" href="#chef_seven">
                            <span class="faq_plus">+</span> I have some pictures of my dishes, but they aren't very good?
                        </a>
                    </div>
                    <div id="chef_seven" class="accordion-body collapse">
                        <div class="accordion-inner">
                            We know food is a very visual item. If you need help with your food pictures, we will come and do a shoot for you completely free, so that your food looks as good as it tastes. Just give us a call. 
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="span6">
            <div class="row-fluid">
                <div class="span8 offset2">
                    <h3 class="best_dish text-center faq_header">Buyers</h3>
                </div>
            </div>
            <div class="accordion" id="buyer_accordion">
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#buyer_accordion" href="#buyer_one">
                            <span class="faq_plus">+</span> How do I make the payments? 
                        </a>
                    </div>
                    <div id="buyer_one" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Currently all payments are on Cash on Delivery. So you can pay the amount when you go to pick up the items or when the chef delivers.
                        </div>
                    </div>
                </div>
 
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#buyer_accordion" href="#buyer_two">
                            <span class="faq_plus">+</span> Can I cancel an order? 
                        </a>
                    </div>
                    <div id="buyer_two" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Unfortunately an order can't be cancelled once placed. The home chefs make the products on an order basis, and cancelling an order means a loss for them. So we hope you don't cancel.
                        </div>
                    </div>
                </div>               
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#buyer_accordion" href="#buyer_three">
                            <span class="faq_plus">+</span> When will my order be ready for delivery/pick-up? 
                        </a>
                    </div>
                    <div id="buyer_three" class="accordion-body collapse">
                        <div class="accordion-inner">
                            The delivery/pick-up time will vary from chef to chef. Each chef will deliver the items you have ordered from him/her separately and independently.<br><br>We club items you have ordered from a particular chef so he/she can delivery them to you together. Makes it convenient for both the chef and you. 
                        </div>
                    </div>
                </div>
                
            </div>          
        </div>
    </div>


{% endblock featurette %}

{% block as_seen_on %}
    
{% endblock as_seen_on %}