<div class="row">
    <div class="col-sm-6 col-md-6">
        <small><ul class="list-inline footer_nav mobile_footer">
            <li><a href="{% url "what_is_imly" %}">What is Imly</a></li>
            <li><a href="{% url "why_open_your_shop" %}">Why sell on Imly</a></li>
            <li><a href="{% url "imly_faqs" %}">FAQ</a></li>
            <li><a href="http://blog.imly.in/" target="blank">Blog</a></li>
            <li><a href="{% url "imly_contact_us" %}">Contact Us</a></li>
        </ul></small>
    </div>
    <div class="col-sm-6 col-md-6">
            <p class="text-right mobile_footer"><small>Know an amazing home chef? We'd love to know.<span class="visible-xs"><br></span>
            <a class="give_us_a_tip" id="givetip" href="javascript:void(0)" data-toggle="modal">Suggest a Chef</a></small></p>
            {% include 'tip_form.html' %}
    </div>
</div><!-- end of row -->
    <br>
        
<div class="row">
    <div class="col-md-12">
        <ul class="list-unstyled text-center">
            <li>
                <ul class="list-inline">
                    <li><a href="https://twitter.com/imly_in" target="blank"><div class="social_logo twitter"></div></a></li>
                    <li><a href="https://facebook.com/imly.in" target="blank"><div class="social_logo facebook"></div></a></li>
                    <li><a href="http://blog.imly.in/" target="blank"><div class="social_logo tumblr"></div></a></li>
                </ul>
            </li>
            <li><small>Cooked with <span class="glyphicon glyphicon-heart"></span> by Imly</small></li>
        </ul>
    </div>
</div><!-- end of row -->