{% extends "base_store_product.html" %}

{% block title %}{{ object.name }}{% endblock title %}

{% block shop_info %}

    <div class="well shop_info">
        <h3>Hi!</h3>
        Welcome to {{ object.name }}, proudly run by <strong>
                                        {% if object.owner.first_name %}
                                            {{ object.owner.first_name }}
                                        {% else %}
                                            {{ object.owner.username }}
                                        {% endif %}
        </strong> since {{ object.date_created|date:"F j, Y" }}
        
        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
        
        <div class="expandable">
            {{ object.description_html|safe }}
        </div>
        
        <h5>I make:</h5>
        <ul class="unstyled">
            {% for category in object.categories.all %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
        
        <h5>Total Items in my Shop: <span class="h5_inline">{{ object.product_set.count }}</span></h5>
             
        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
        
        <h5>I deliver to:</h5>   
        <ul class="unstyled">
            {% for delivery in object.delivery_areas.all %}
                <li>{{ delivery|capfirst }}</li>
            {% endfor %}
        </ul>
    </div>            
{% endblock shop_info %}

{% block shop_product_content %}
    <div class="hero-unit">
        <h1 class="store_name">{{ object.name }}</h1>
        {% if object.tagline %}
            <p>{{ object.tagline }}</p>
        {% endif %}
    </div>
    
    <div class="row-fluid">
        <ul class="thumbnails">
        {% for product in object.product_set.all %}
        {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
        <li class="span4">
            <div class="thumbnail">
                <a href="{% url "imly_product_detail" object.slug product.slug %}">
                    <div class="sold_out">
                        <img src="{{ product.image_thumbnail.url }}" alt="{{ product.name }}">
                        {% if product.items_in_stock %}
                        {% else %}
                            <img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image">
                        {% endif %}
                        
                    </div>
                </a>
                <h5 class="larger_h5"><a class="top_text" href="{% url "imly_product_detail" object.slug product.slug %}">{{ product.name }}</a></h5> <span class="pull-left">{{ product.currency }} {{ product.get_price.unit_price|floatformat:"0" }}<small class="muted ultra_small">
                    {% if product.quantity_per_item == 1 %}
                        /{{ product.get_quantity_by_price_display }}
                    {% else %}
                        for {{ product.quantity_per_item }} {{ product.get_quantity_by_price_display }}s
                    {% endif %} 
                </small></span>
                
                {% if object.items_in_stock %}
                <form method="post" action="{% url "imly_add_order" product.slug %}">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" class="btn btn-custom btn-mini pull-right" value="Order">
                </form>
                {% else %}
                    <small class="ultra_small muted pull-right">Fresh batch tomorrow</small>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </li>
        {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock shop_product_content %}


