{% extends "base_store_manage.html" %}

{% block title %}Imly | Manage Profile{% endblock title %}

{% block manage_store_navigation %}

    <li><a href="{% url "imly_store_info" %}">Shop Details</a></li>
    <li><a href="{% url "imly_store_products" %}">Product Details</a></li>
    <li><a href="{% url "imly_store_orders" %}">Order Details</a></li>
    <li class="active"><a href="#">My Profile</a></li>
                  
{% endblock manage_store_navigation %}



{% block shop_content %}
<!--<h5>Profile</h5>
Owner : {{owner|capfirst}}<br/>-->

<div class="row-fluid">
    <div class="span12">
        <p class="text-right"><a href="{% url "imly_profile_edit" user.userprofile.id %}" class="btn btn-success"><span class="icon-edit icon-white"></span>Edit Profile</a></p>
    </div>
</div>
<div class="row-fluid">
<br>
    <br>
    <div class="row-fluid">
        <div class="span12 well">
            <div class="row-fluid">
                <div class="span4">
                    <h4 class="store_info">First Name:</h4>{{ user.userprofile.first_name }} 
                </div>
                <div class="span4">
                    <h4 class="store_info">Last Name:</h4>{{ user.userprofile.last_name }}  
                </div>
            </div>
        </div>
    </div>
</div><br><br>
        <div class="row-fluid">
                <div class="span12 well">
                    <h4 class="store_info">About Me:</h4>{{ user.userprofile.about_me }}
                </div>
        </div>
            	
{% endblock shop_content %}
               
<!-- should show product thumbnail -->
