{% extends "base_store_manage.html" %}

{% block manage_store_navigation %}

    <li><a href="{% url "imly_store_info" %}">Shop Details</a></li>
    <li><a href="{% url "imly_store_products" %}">Product Details</a></li>
    <li><a href="{% url "imly_store_orders" %}">Order Details</a></li>
    <li class="active"><a href="">Profile</a></li>
                  
{% endblock manage_store_navigation %}



{% block shop_content %}
   <h4>Edit Profile</h4>
   <br>
    
        <div class="row-fluid">
            
		<div class="span12">
			{% load crispy_forms_tags %}
			<form enctype="multipart/form-data" method="post" action="">
			{% crispy form %}
			<a href="{% url "imly_my_profile" %}" class="btn">Cancel</a>
			<input type="submit" class="btn btn-success" value="Update">
			</form>
		</div>
	</div>


{% endblock shop_content %}