{% extends "base_account_manage.html" %}

{% block manage_account_navigation %}
		<li class="active"><a href="#">Profile</a></li>
		<li><a href="#">My Orders</a></li>
		<li><a href="#">Whist-List</a></li>
		
{% endblock manage_account_navigation %}

{% block account_content %}
<form enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
<ul style="list-style-type:none;">
<li>{{form}}</li><br/><br/>
<a href="{% url "imly_my_profile" %}" class="btn">Cancel</a>
<input type="submit" class="btn btn-success" value="Update">
</ul>

{% endblock account_content %}