{% extends "base_store_manage.html" %}

{% block manage_store_navigation %}

    <li><a href="{% url "imly_store_info" %}">Shop Details</a></li>
    <li><a href="{% url "imly_store_products" %}">Product Details</a></li>
    <li class="active"><a href="#">Pending Orders</a></li>
    <li ><a href="#">Orders Placed</a></li>
                 
{% endblock manage_store_navigation %}

{% block shop_content %}
        
            
        <div class="row-fluid">

            {% if object_list.count %}
             <div class="span12">
                
                    
                    {# todays orders #}
                    <h3>Today's Orders</h3>
                    {% with today as orders %}
                        {% include '_order_table.html' %}
                    {% endwith %}
                    {# tomorrows orders #}
                    <h3>Tomorrow's Orders</h3>
                    {% with tomorrow as orders %}
                        {% include '_order_table.html' %}
                    {% endwith %}
                    {# newer orders #}
                    {% for dater, date_orders in newer %}
                    <h3> {{ dater }}</h3>
                        {% with date_orders as orders %}
                            {% include '_order_table.html' %}
                        {% endwith %}
                    {% endfor %}
                                    
            </div>
            
            {% else %}
                <h2 class="muted text-center">You haven't received any orders yet.<br>
                Promote your shop.<br>Start by telling your friends and family.</h2>
            {% endif %}
        
        </div>
           
{% endblock shop_content %}
                

{% block shop_info %}
    <div class="well shop_info">

        <h4>{{ user.store.name }}</h4>
        <small><em>opened on {{ user.store.date_created|date:"F j, Y" }}</em></small>
        
        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
        
        <h5>Total Orders till date: <span class="h5_inline">{{ object_list.count }}</span></h5>
        
        <h5>Orders by Product:</h5>
        <table class="table table-condensed table-bordered">
            <tr>
                <th>Name</th>
                <th class="center_aligned_th">Total Orders</th>
                <th class="center_aligned_th">Total Sales</th>
            </tr>
        {% for product in user.store.product_set.all %}
            <tr>
                <td>{{ product.name }}</td>
                <td class="center_aligned_td">{{ product.orderitem_set.count }}</td>
                <td class="center_aligned_td">{{ product.sale }}</td>
            </tr>
        {% endfor %}
        </table>
             
        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
        
    </div>                
{% endblock shop_info %}    