{% extends "base_store_manage.html" %}

{% block manage_store_navigation %}
	{% if owner.store %}
		<li><a href="{% url "imly_store_info" %}">Shop Details</a></li>
		<li><a href="{% url "imly_store_products" %}">Product Details</a></li>
		<li><a href="{% url "imly_store_orders" %}">Order Details</a></li>
		<li class="active"><a href="#">My Profile</a></li>
	{% else %}
		<li><a href="{% url "imly_store_info" %}">Shop Details</a></li>
        <li class="disabled"><a href="#">Product Details</a></li> <!-- have removed link so user cant access page, will be autodirected there after creating store -->
        <li class="disabled"><a href="#">Order Details</a></li>
        <li class="active"><a href="{% url "imly_my_profile" %}">My Profile</a></li>

	{% endif %}

{% endblock manage_store_navigation %}

{% block shop_content %}

<form enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
<ul style="list-style-type:none;">
<li>{{form}}</li><br/><br/>
<a href="{% url "imly_my_profile" %}" class="btn">Cancel</a>
<input type="submit" class="btn btn-success" value="Submit">
</ul>

{% endblock shop_content %}