{% extends "base_store_product.html" %}

{% block title %}Imly | {{ object.name }}{% endblock title %}

{% block shop_info %}
{% if request.user.is_staff and not object.is_approved %}<h4>Store not Approved</h4>{% endif %}
    {% load imly_tags %}
    <div class="visible-phone">
        
        <h3 class="store_name text-center">{{ object.name }}</h3>
            {% if object.tagline %}
                <p class="text-center tagline_mobile">{{ object.tagline }}</p>
            {% else %}
                <p class="text-center tagline_mobile_no_tagline">Hi</p>
            {% endif %}
    <span class="visible-phone">
        <ul class="unstyled text-center" style="background: #f5f5f5;">    
            {% if object.provide_delivery and object.pick_up %}
                <li><span class="delivery_area_info">Delivers to:</span>
                {% if request.session.place_slug %}
                    {% store_amend_geo object %}
                    {% if object.delivers %}
                        Chef delivers to you :) Additional charges may apply
                    {% else %}
                        Sorry, chef can't deliver :(
                    {% endif %}
                {% else %}
                    Enter location above to check delivery
                {% endif %}
                </li>
                <li><span class="delivery_area_info">Pick up near:</span> {% if object.pick_up_landmark %}{{ object.pick_up_landmark }}, {% endif %}{{ object.pick_up_display }}<br><small class="muted">Exact address shared after purchase</small></li>
            {% else %}
            
                {% if object.provide_delivery %}
                    <li><span class="delivery_area_info">Delivers to:</span>
                    {% if request.session.place_slug %}
                        {% if object.delivers %}
                            Chef delivers to you :) Additional charges may apply
                        {% else %}
                            Sorry, chef can't deliver :(
                        {% endif %}
                    {% else %}
                        Enter location above to check delivery
                    {% endif %}
                    </li>
                {% endif %}
                {% if object.pick_up %}
                    <li><span class="delivery_area_info">Pick up near:</span> {% if object.pick_up_landmark %}{{ object.pick_up_landmark }}, {% endif %}{{ object.pick_up_display }}<br><small class="muted">Exact address shared after purchase</small></li>
                {% endif %}
            {% endif %}
        </ul>
    </span>
        {% if request.session.place_slug %}
            {% if object.pick_up %}
                                {% store_amend_geo object %}
                                
                                <p class="text-left location_distance"><span class="icon-map-marker"></span> <small class="muted">
                                
                                    {% if object.distance < 1 %}
                                        &lt; 1 km 
                                    {% else %}
                                        {{ object.distance|floatformat:"1" }} kms
                                    {% endif %}
                                {% endif %}
                                
                                
                                <span class="pull-right">
                                {% if object.delivers %}
                                    Delivers to you &nbsp;
                                {% else %}
                                    {% if object.pick_up %}
                                        Pick up required &nbsp;
                                    {% endif %}
                                {% endif %}
                            </span>
                        </small></p>
        {% endif %}
    </div>

    <div class="well shop_info hidden-phone">
        {% if object.logo %}
            <p class="text-center"><img class="img-rounded" src="{{ object.logo_thumbnail.url }}" alt="{{ object.name }}"></p>
        {% endif %}
        <h3>Hi!</h3>
            
        I'm {% if object.owner.userprofile %}{{ object.owner.userprofile.first_name }}{% else %}{{ object.owner.username }}{% endif %}. Welcome to my store. {% if object.owner.userprofile %}Find out more about me on my <a class="profile_link" href="{% url "chef_profile" object.owner.userprofile.slug %}">profile</a>.{% endif %}
        
        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
        
            
            {% if request.session.place_slug %}
                                {% store_amend_geo object %}
                                {% if object.pick_up %}
                                <p class="text-left location_distance"><span class="icon-map-marker"></span> <small class="muted">
                                
                                    {% if object.distance < 1 %}
                                        &lt; 1 km 
                                    {% else %}
                                        {{ object.distance|floatformat:"1" }} kms
                                    {% endif %}
                                {% endif %}
                                &nbsp;|&nbsp;
                                {% if object.delivers %}
                                    Delivers to you &nbsp;
                                {% else %}
                                    {% if object.pick_up %}
                                    Pick up required &nbsp;
                                    {% endif %}
                                {% endif %}
                                
                                </small></p>
            {% endif %}
        <ul class="unstyled">
            {% if object.provide_delivery and object.pick_up %}
                <li><span class="delivery_area_info">Delivers to:</span>
                {% if request.session.place_slug %}
                    {% if object.delivers %}
                        Chef delivers to you :) Additional charges may apply
                    {% else %}
                        Sorry, chef can't deliver :(
                    {% endif %}
                {% else %}
                    Enter location above to check delivery
                {% endif %}
                {% comment %}
                {% for area in object.delivery_locations.all %}
                    {{ area.display }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endcomment %}
                </li>
                <br>
                <li><span class="delivery_area_info">Pick up near:</span> {% if object.pick_up_landmark %}{{ object.pick_up_landmark }}, {% endif %}{{ object.pick_up_display }}<br><small class="muted">Exact address shared after purchase</small></li>
            {% else %}
            
                {% if object.provide_delivery %}
                    <li><span class="delivery_area_info">Delivers to:</span>
                    {% if request.session.place_slug %}
                    {% if object.delivers %}
                        Chef delivers to you :) Additional charges may apply
                    {% else %}
                        Sorry, chef can't deliver :(
                    {% endif %}
                {% else %}
                    Enter location above to check delivery
                {% endif %}</li>
                {% endif %}
                {% if object.pick_up %}
                    <li><span class="delivery_area_info">Pick up near:</span> {% if object.pick_up_landmark %}{{ object.pick_up_landmark }}, {% endif %}{{ object.pick_up_display }}<br><small class="muted">Exact address shared after purchase</small></li>
                {% endif %}
            {% endif %}
        </ul>
        
        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>       
                
        <div class="expandable">
            {{ object.description_html|safe }}
        </div>
        
        <h5>I make:</h5>
        <ul class="unstyled">
            {% for category in object.categories.all %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
        
        <h5>Total Items in my Shop: <span class="h5_inline">{{ product_count }}</span></h5>
             

        

    </div>            
{% endblock shop_info %}

{% block shop_product_content %}
    
    {% if object.cover_photo %}
        
        <div class="hero-unit hero_unit_custom text-center hidden-phone" style="background:url({{ object.cover_photo_thumbnail.url }});background-position: 50% 50%; border: 1px solid #ccc;">
            <h1 class="store_name store_name_with_cover_photo">{{ object.name|lower|title }}</h1>
        </div>
    
    {% else %}
        
        <div class="hero-unit no_cover_photo text-center hidden-phone">
            <h1 class="store_name">{{ object.name|lower|title }}</h1>
            {% if object.tagline %}
                <p>{{ object.tagline }}</p>
            {% endif %}
        </div>
    {% endif %}
    
    <div class="row-fluid">
        <ul class="thumbnails">
        {% for product in products %}
        {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
        <li class="span4">
            <div class="thumbnail thumbnail_custom">
                <a href="{% url "imly_product_detail" object.slug product.slug %}">
                    <div class="sold_out">
                        <img src="{{ product.image_thumbnail.url }}" alt="{{ product.name }}">
                        {% if not product.items_in_stock %}
                            <img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image">
                        {% endif %}
                        
                    </div>
                </a>

                <h5 class="larger_h5"><a class="top_text" href="{% url "imly_product_detail" object.slug product.slug %}">{{ product.name|lower|title }}</a></h5>
                <div class="thumbnail_info_wrapper">
                    <span class="pull-left">{{ product.currency }} {{ product.get_price.unit_price|floatformat:"0" }}<small class="muted">
                        {% if product.quantity_per_item == 1 %}
                            /{{ product.get_quantity_by_price_display }}
                        {% else %}
                            for {{ product.quantity_per_item }} {{ product.get_quantity_by_price_display }}s
                        {% endif %} 
                    </small></span>
                    
                    {% if product.store.is_open %}
                        {% if product.items_in_stock %}
                            <form method="post" action="{% url "imly_add_order" product.store.slug product.slug %}">
                            {% csrf_token %}
                                <input type="hidden" name="quantity" value="1">
                                <input type="submit" class="btn btn-custom btn-mini pull-right" value="Order">
                            </form>
                        {% else %}
                            <small class="ultra_small muted pull-right">Fresh batch tomorrow</small>
                        {% endif %}
                    {% else %}
                        <small class="ultra_small muted pull-right">Chef on vacation</small>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </li>
        {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
        </ul>
    </div>
    
    <div class="row-fluid visible-phone">
        {% if object.owner.userprofile %}
            
            <a class="btn btn-block btn-custom btn-custom-mobile" href="{% url "chef_profile" object.owner.userprofile.slug %}">{{ object.owner.userprofile.first_name }} {{ object.owner.userprofile.last_name }}'s Profile</a>
            
        {% else %}
            
            <h5 class="muted text-center" style="font-weight: 300;">by {{ object.owner.username }}</h5>
            
        {% endif %}
    </div>
{% endblock shop_product_content %}


