{% extends "base_profile.html" %}

{% block title %}Imly | Chef Profiles{% endblock title %}

{% block location_search_bar %}
    <div class="container-fluid location_bar_outer">
                    <div class="container location_bar_inner">
                            <div class="row-fluid">
                                <div class="span12">
                                   
                                        <ul class="text-center inline suggest_chef_bar">
                                            <li><a class="give_us_a_tip give_us_a_tip2 action_button" href="javascript:void(0)" data-toggle="modal">Suggest a Chef</a></li>
                                            <li>you want to see here</li>  
                                        </ul>
                                </div>
                            </div>
                    </div><!-- end of location_bar_inner -->
                </div><!-- end of div container-fluid location_bar_outer -->
{% endblock location_search_bar%}

{% block profile_content %}

{% if object_list %}
    <br><br>
<!-- using forloop counter to correct bootstrap bug- thumbnails dont align after first row, added bottom margin to each row fluid for proper spacing -->   
    <ul class="thumbnails">
        {% for object in object_list %}
                {% if forloop.counter0|divisibleby:"2" %}<div class="row-fluid margined">{% endif %}
                {% if object.cover_profile_image %}
                <li class="span6">
                    <div class="thumbnail thumbnail_custom">
                        <a href="{% url "chef_profile" object.slug %}">
                            <div class="sold_out">
                                
                                <img src="{{ object.cover_profile_image_thumbnail.url }}" alt="{{ object.first_name }}">

                                
                                {% if object.is_featured %}
                                    <img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image">
                                {% endif %}
                                
                            </div>
                        </a>
                        <h5 class="less_bottom_margin"><a class="top_text" href="{% url "chef_profile" object.slug %}">{{ object.first_name }} {{ object.last_name }}</a></h5>
                        <p class="text-center muted lower_bottom_margin"><small class="ultra_small"><a class="sub_text" href="{{ object.user.store.get_absolute_url }}">{{ object.user.store.name|upper }}</a></small></p>
                        
                            
                        
                            <div class="clearfix"></div>
                    </div>
                </li>
                {% endif %}
                {% if forloop.counter|divisibleby:"2" %}</div>{% endif %}
                {% if forloop.counter|divisibleby:"2" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    </ul>

{% else %}
    <br><br>
    <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/chef_hat.png"></p>

    <h3 class="muted text-center">We are out scouting amazing home-chefs to fill this space up.<br>If you have someone in mind, send us a tip below.</h3>
{% endif %}
    
    {% if is_paginated %}
        <div class="pagination pagination-centered">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="{% url "imly_products_by_category" category.slug %}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                    <li class="active"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                    <li><a href="{% url "imly_products_by_category" category.slug %}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}


{% endblock profile_content %}

