{% extends "base_store_manage.html" %}

{% block manage_store_navigation %}

        {% if user.store %}

                <li class="active"><a href="#">Shop Details</a></li>
                <li><a href="{% url "imly_store_products" %}">Product Details</a></li>
                <li><a href="{% url "imly_store_orders" %}">Order Details</a></li>
                {% if user.userprofile %}
                    <li><a href="{% url "imly_my_profile" %}">Profile</a></li>
                {% else %}
                    <li><a href="{% url "imly_create_profile" %}">Create Profile</a></li>
                {% endif %}
                

        {% else %}

                <li class="active"><a href="#">Shop Details</a></li>
                <li class="disabled"><a href="#">Product Details</a></li> <!-- have removed link so user cant access page, will be autodirected there after creating store -->
                <li class="disabled"><a href="#">Order Details</a></li>
                {% if user.userprofile %}
                    <li><a href="{% url "imly_my_profile" %}">Profile</a></li>
                {% else %}
                    <li><a href="{% url "imly_create_profile" %}">Create Profile</a></li>
                {% endif %}
                

        {% endif %}
                
{% endblock manage_store_navigation %}

{% block shop_content %}
    
        <div class="row-fluid">
            {% if user.store %}
                {% if not user.store.is_approved %}
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Your shop is <strong>pending approval</strong>. Once approved you can start taking orders!
                    </div>
                {% endif %}
            {% endif %}
            {% if user.store %}
            <div class="row-fluid">
                    <div class="span12">
                        <p class="text-right">{% if user.store.is_open %}<a href="{% url "imly_store_status" %}" class="btn">Shut Store</a>{% else %}<a href="{% url "imly_store_status" %}" class="btn">Open Store</a>{% endif %} <a href="{% url "imly_store_detail" user.store.slug %}" class="btn">Preview Store</a> <a href="{% url "imly_store_edit" %}" class="btn btn-success"><span class="icon-edit icon-white"></span> Edit Store</a></p>
                    </div>
            </div>
            <br>
                
               {% comment %}
               <div class="row-fluid">
                        
                        <div class="span12 well">
                                <form method="post" action="">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <div class="pull-right">
                                                <a href="{% url "imly_store_info" %}" class="btn btn-mini">Cancel</a>
                                                <input type="submit" class="btn btn-mini" value="Update">
                                        </div>
                                </form>
                        </div>
                </div>
                {% endcomment %}
            
            <div class="row-fluid">
                <div class="span12 well">
                    <div class="row-fluid">
                        <div class="span4">
                            <h4 class="store_info">Name:</h4>{{ object.name }} 
                        </div>
                        <div class="span4">
                            <h4 class="store_info">Owner:</h4>{{ object.owner }}  <small>({{ object.store_contact_number }})</small> 
                        </div>
                        <div class="span4">
                        {% if object.tagline %}
                            <h4 class="store_info">Tagline:</h4>{{ object.tagline }}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12 well">
                    <h4 class="store_info">Description:</h4>{{ object.description_html|safe }}
                </div>
            </div>


            <div class="row-fluid">
                <div class="span6 well">
                    <h4 class="store_info">Delivery Areas:</h4>
                            <ul class="inline no_left_padding">
                                {% for delivery in object.delivery_areas.all %}
                                    <li>{{ delivery|capfirst }}</li>
                                {% endfor %}
                            </ul>    
                </div>
                <div class="span6 {% if object.categories.count %}well{% endif %}">
                        {% if object.categories.count %}
                        <h4 class="store_info">Categories:</h4>
                            <ul class="inline no_left_padding">
                            {% for category in object.categories.all %}
                                <li>{{ category.name }}</li>
                            {% endfor %}
                            </ul>
                        
                        {% endif %}
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span12 well">
                        {% if object.tags.count %}
                        <h4 class="store_info">Tags:</h4>
                            <ul class="inline tags_for_store_inverted">
                                {% for tag in object.tags.all %}
                                    <li>{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        
                        {% endif %}
                    
                </div>
            </div>
            
            {% else %}
                <br><br><br>
                <h2 class="muted text-center">You do not have a shop yet.</h2>
                
                <p class="text-center"><a href="{% url "imly_store_create" %}" class="btn btn-large btn-success">Create Your Shop</a></p>
            {% endif %}
        
        </div>


           
{% endblock shop_content %}
                
<!-- should show product thumbnail -->
{% block shop_info %}
    {% if user.store %}
    <div class="well shop_info">

        <h4>{{ object.name }}</h4>
        <small><em>opened on {{ object.date_created|date:"F j, Y" }}</em></small>

        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>

        <h5>Items in Shop:</h5>
            {% if user.store.product_set.count %}
                <div class="row-fluid">
                    <ul class="thumbnails">
                    {% for product in object.product_set.all %}
                    {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined_product_detail_aside">{% endif %}
                    <li class="span4">
                        <div class="thumbnail">
                            <a href="{% url "imly_store_products" %}"><img src="{{ product.image_thumbnail_mini.url }}" alt="{{ product.name }}" class="centered"></a>
        
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
                    {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="row-fluid">
                    <p>You have no items in your shop yet!</p>
                    <a href="{% url "imly_product_add" %}" class="btn btn-success btn-block">Add a Product</a>
                </div>
                <br>
            {% endif %}

        <h5>Total Items in Shop: <span class="h5_inline">{{ object.product_set.count }}</span></h5>
             
    </div>
    {% endif %}
{% endblock shop_info %} 