{% extends "base_account_manage.html" %}

{% block manage_account_navigation %}
		<li class="active"><a href="#">Profile</a></li>
		<li><a href="#">My Orders</a></li>
		<li><a href="#">Past Orders</a></li>
		
{% endblock manage_account_navigation %}

{% block account_content %}
   <h4>Edit Profile</h4>
   <br>
    
        <div class="row-fluid">
            
		<div class="span12">
			{% load crispy_forms_tags %}
			<form enctype="multipart/form-data" method="post" action="">
			{% crispy form %}
			<a href="{% url "imly_my_profile" %}" class="btn">Cancel</a>
			<input type="submit" class="btn btn-success" value="Update">
			</form>
		</div>
	</div>


{% endblock account_content %}