{% extends "base_store_product.html" %}

{% block title %}{{ object.store.name|lower|title }}: {{ object.name|lower|title }} | Imly.in{% endblock title %}

{% block extra_head %}
<meta property="og:url" content="{% url 'imly_product_detail' object.store.slug object.slug %}">
<meta property="og:title" content="{{object.store}}: {{object}} - Imly.in">
<meta property="og:type" content="product"/>
<meta property="og:image" content="{{object.image_thumbnail_large.url}}"/>
{% endblock extra_head %}
{% block shop_info %}

    {% load imly_tags %}
    <div class="well shop_info hidden-xs">
        {% if request.user.is_staff and not object.store.is_approved %}<h4>Store not Approved</h4>{% endif %}
        <h2 class="store_name_in_product"><a class="top_text" href="{% url "imly_store_detail" object.store.slug %}"><span class="store_name">{{ object.store.name|lower|title }}</span></a></h2>
        <small class="text-muted"> by
                                            {% if object.store.owner.userprofile %}
                                                <a class="sub_text" href="{% url "chef_profile" object.store.owner.userprofile.slug %}"><u>{{ object.store.owner.userprofile.first_name|lower|title }} {{ object.store.owner.userprofile.last_name|lower|title }}</u></a>
                                            {% else %}
                                                {{ object.store.owner.username }}
                                            {% endif %}</small>
        
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr>
            </div>
        </div>
        <ul class="list-unstyled">
                            {% if object.store.provide_delivery and object.store.pick_up %}
                                <li><span class="delivery_area_info">Delivers to:</span>
                                {% if request.session.place_slug %}
                                    {% store_amend_geo object.store %}
                                    {% if object.store.delivers %}
                                        Chef delivers to you :) <br><b>{% store_delivery_charges object.store %}</b>
                                        {% ifnotequal charges 0 %}
                                            Delivery Charge
                                        {% else %}
                                            Additional charges may apply
                                        {% endifnotequal %}
                                    {% else %}
                                        Sorry, chef can't deliver :(
                                    {% endif %}
                                {% else %}
                                    Enter location above to check delivery
                                {% endif %}</li>
                                <br>
                                <li><span class="delivery_area_info">Pick up near:</span> {% if object.store.pick_up_landmark %}{{ object.store.pick_up_landmark }}, {% endif %}{{ object.store.pick_up_display }}<br><small class="text-muted">Exact address shared after purchase</small></li>
                            {% else %}
                            
                            {% if object.store.provide_delivery %}
                                <li><span class="delivery_area_info">Delivers to:</span>
                                {% if request.session.place_slug %}
                                    {% store_amend_geo object.store %}
                                    {% if object.store.delivers %}
                                        Chef delivers to you :)<br><b>{% store_delivery_charges object.store %}</b>
                                        {% ifnotequal charges 0 %}
                                            Delivery Charge
                                        {% else %}
                                            Additional charges may apply
                                        {% endifnotequal %}
                                    {% else %}
                                        Sorry, chef can't deliver :(
                                    {% endif %}
                                {% else %}
                                    Enter location above to check delivery
                                {% endif %}</li>
                            {% endif %}
                            {% if object.store.pick_up %}
                                <li><span class="delivery_area_info">Pick up near:</span> {% if object.store.pick_up_landmark %}{{ object.store.pick_up_landmark }}, {% endif %}{{ object.store.pick_up_display }}<br><small class="text-muted">Exact address shared after purchase</small></li>
                            {% endif %}
                            {% endif %}
        </ul>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr>
            </div>
        </div>
        <h5>I also make <span class="h5_inline">{{ product_count }}</span> other items</h5>
        
        <div class="row also_make">
            {% for product in other_store_products|slice:"5" %}
            <div class="col-sm-6 col-md-4 also_make_product">
                <div class="thumbnail also_make_thumbnail">
                    <a href="{% url "imly_product_detail" object.store.slug product.slug %}">
                        <img src="{{ STATIC_URL }}bootstrap/img/bisc2.jpg"  class="img-responsive img_center" alt="{{ product.name }}">
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div>
            
            {% if forloop.counter|divisibleby:"2" %}<div class="clearfix visible-xs visible-sm"></div>{% endif %}
            {% if forloop.counter|divisibleby:"3" %}<div class="clearfix visible-md visible-lg"></div>{% endif %}
            {% endfor %}
            {% if other_store_products.count > 5 %}
                <div class="col-sm-6 col-md-4 also_make_product">
                    <div class="thumbnail also_make_thumbnail product_detail_more_products">
                        <a href="{% url "imly_store_detail" object.store.slug %}"><img src="{{ STATIC_URL }}bootstrap/img/more_items.png" class="img-responsive img_center" alt="{{ object.store.name }}"></a>
                    </div>
                </div>

               
            {% endif %}
        </div>
        
    </div>
    <div class="well shop_info hidden-xs">
        <a href="#" class="btn btn-success btn-block">Contact Chef</a>
    </div>
{% endblock shop_info %}

{% block shop_product_content %}

    {% load imly_tags %}
    <div class="row">
        <div class="col-sm-7 col-md-8">
                
                        <div class="thumbnail">
                            
                            {% if request.session.place_slug %}
                                {% store_amend_geo object.store %}
                                {% if object.store.pick_up_location %}
                                <p class="text-left location_distance"><span class="glyphicon glyphicon-map-marker"></span> <small class="text-muted">
                                
                                    {% if object.store.distance < 1 %}
                                        &lt; 1 km 
                                    {% else %}
                                        {{ object.store.distance|floatformat:"1" }} kms
                                    {% endif %}
                                {% endif %}
                                
                                
                                <span class="pull-right">
                                {% if object.store.delivers %}
                                    Delivers to you &nbsp;
                                {% else %}
                                    {% if object.store.pick_up %}
                                        Pick up required &nbsp;
                                    {% else %}
                                        No delivery/pick-up &nbsp;
                                    {% endif %}
                                {% endif %}
                                </span>
                                </small></p>
                            {% endif %}
                            <div class="sold_out">
                                <img src="{{ STATIC_URL }}bootstrap/img/bisc1.jpg" class="product_image img-responsive img_center" alt="{{ object.name }}">
                                {% if not object.items_in_stock %}
                                    <img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image_product_detail">
                                {% endif %}
                                    <ul class="list-inline tags_for_product text-center">
                                    {% for tag in object.tags.all %}
                                        <li>{{ tag }}</li>
                                    {% endfor %}
                                    </ul>
                                    <div id="exceed_stock_{{ object.slug }}" class="exceed_stock">I can't make more today</div>
                                    <div class="hidden-md hidden-lg">
                                        <div id="item_added_{{ object.slug }}" class="item_added"><a href="{% url "plata_shop_cart" %}" class="item_added_link">Item added. Go to cart &raquo;</a></div>
                                    </div>
                                    <div>
                                    <div id="item_wished_{{ object.slug }}" class="item_added"><a href="{% url "show_wishlist" %}" class="item_added_link">Favourited! Go there &raquo;</a></div>
                                    </div>
                                        <div class="visible-md visible-lg">
                                            <!-- AddThis Button BEGIN -->
                                            <div class="addthis_toolbox addthis_default_style addthis_16x16_style custom_addthis" addthis:url="http://imly.in/{{ object.store.slug }}/{{ object.slug }}/" addthis:title="Check out {{ object.name|title }} on imly.in! Drooool...">
                                            <div class="pull-left">
                                            <a class="addthis_button_pinterest_share"><img src="{{ STATIC_URL }}bootstrap/img/share_pinterest.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Pin on Pinterest"></a>
                                            <a class="addthis_button_facebook"><img src="{{ STATIC_URL }}bootstrap/img/share_facebook.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Share on Facebook"></a>
                                            <a class="addthis_button_twitter"><img src="{{ STATIC_URL }}bootstrap/img/share_twitter.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Tweet on Twitter"></a>
                                            </div>
                                            {% if request.user.is_authenticated %}
                                                {% wish_product object.slug object.store.slug %}                    
                                            {% else %}
                                                
                                                <a href="#myModal" role="button" data-toggle="modal" class="wishlist pull-right"><div class="wishlist_heart"></div></a>
                                                
                                            {% endif %}
                                            </div>
                                            <!-- AddThis Button END -->
                                        </div>
                            </div>

                        </div>
                        <span class="visible-xs">
                            <ul class="list-unstyled text-center">
                            {% if object.store.provide_delivery and object.store.pick_up %}
                                <li><span class="delivery_area_info">Deliver to:</span>
                                {% if request.session.place_slug %}
                                    {% if object.store.delivers %}
                                        Chef delivers to you :)<br><b>{% store_delivery_charges object.store %}</b>
                                        {% ifnotequal charges 0 %}
                                            Delivery Charge
                                        {% else %}
                                            Additional charges may apply
                                        {% endifnotequal %}
                                    {% else %}
                                        Sorry, chef can't deliver :(
                                    {% endif %}
                                {% else %}
                                    Enter location above to check delivery
                                {% endif %}</li>
                                <li><span class="delivery_area_info">Pick up near:</span> {% if object.store.pick_up_landmark %}{{ object.store.pick_up_landmark }}, {% endif %}{{ object.store.pick_up_display }}<br><small class="text-muted">Exact address shared after purchase</small></li>
                            {% else %}
                            
                            {% if object.store.provide_delivery %}
                                <li><span class="delivery_area_info">Delivers to:</span>
                                {% if request.session.place_slug %}
                                    {% if object.store.delivers %}
                                        Chef delivers to you :)<br><b>{% store_delivery_charges object.store %}</b>
                                        {% ifnotequal charges 0 %}
                                            Delivery Charge
                                        {% else %}
                                            Additional charges may apply
                                        {% endifnotequal %}
                                    {% else %}
                                        Sorry, chef can't deliver :(
                                    {% endif %}
                                {% else %}
                                    Enter location above to check delivery
                                {% endif %}</li>
                            {% endif %}
                            {% if object.store.pick_up %}
                                <li><span class="delivery_area_info">Pick up near:</span> {% if object.store.pick_up_landmark %}{{ object.store.pick_up_landmark }}, {% endif %}{{ object.store.pick_up_display }}<br><small class="text-muted">Exact address shared after purchase</small></li>
                            {% endif %}
                            {% endif %}
                            </ul>
                        </span>
         
        </div>
        
        <div class="col-sm-5 col-md-4 product_detail_mobile">
            <h1 class="product_name">{{ object.name|lower|title }}</h1><small>by <a class="sub_text" href="{% url "imly_store_detail" object.store.slug %}">{{ object.store.name|lower|title }}</a></small>
            <br><br>
            {% if object.quantity_per_item == 1 %}
                <h2 class="currency">{{ object.currency }} {{ object.get_price.unit_price|floatformat:"0" }}<small> per {{ object.get_quantity_by_price_display }}</small></h2>
            {% else %}
                <h2 class="currency">{{ object.currency }} {{ object.get_price.unit_price|floatformat:"0" }}<small> for {{object.quantity_per_item|floatformat:"0"}} {{ object.get_quantity_by_price_display }}s</small></h2>
            {% endif %}
            {% if object.store.is_open %}
                {% if object.items_in_stock %}
                    {% if messages %}
                        <ul class="messages list-unstyled">
                            {% for message in messages %}
                                {% if "error" in message.tags %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                <form id="order_form" method="post" action="{% url "imly_add_order" object.store.slug object.slug %}">
                {% csrf_token %}
                    {{ form }} <a class="quantity_plus" >+</a> <a class="quantity_minus">-</a><br>
                    <input type="button" class="submit-btn btn btn-custom btn-lg order_button" value="Order Now">
                </form>
                {% else %}
                    <h3 class="text-muted all_out">Sorry I am all out for the day.<br><br>Come back <span class="orange">tomorrow</span>, I will be making a <span class="orange">fresh batch</span>.</h3>
                {% endif %}
            {% else %}
                <h3 class="text-muted all_out">Sorry, I am out on <span class="orange">vacation</span>.<br><br>I will be back soon.</span></h3>
            {% endif %}
        </div>
    </div>

    <br>
    <div class="row">

        <div class="col-sm-4 col-md-4">
            <ul class="list-unstyled text-center product_detail_rating">
                <li><h4 class="product_detail_header">Rating</h4></li>
                <li>
                    {% if object.reviews.count %}
                    <ul class="list-inline imly_star_rating">
                        {% for i in object.reviews.average_rating|loop_int %}
                        
                        <li><img src="{{ STATIC_URL }}star-rating/individual_star.gif"></li>
                        
                        {% endfor %}
                    </ul>
                    {% else %}
                        Be the first to review
                    {% endif %}
                </li>
            </ul>
        </div>
        
        <div class="col-sm-4 col-md-4 bordered_left_right">
            <ul class="list-unstyled text-center product_detail_prep">
                <li><h4 class="product_detail_header">Preparation Time <a href='#' class='form-tips' title='Time in which the chef will have your dish ready for delivery/pick-up'>[?]</a></h4></li>
                <li>
                    <b>
                    {% if object.lead_time == 1 %}
                        {{ object.lead_time }} {{ object.get_lead_time_unit_display }}
                    {% else %}
                        {{ object.lead_time }} {{ object.get_lead_time_unit_display }}s
                    {% endif %}
                    </b>
                </li>
            </ul>
        </div>
        
        <div class="col-sm-4 col-md-4">
            <ul class="list-unstyled text-center  product_detail_order">
                <li><h4 class="product_detail_header">Pre-Orders Left</h4></li>
                <li>
                    <b><span id="items_in_stock">{{ object.items_in_stock }}</span></b>
                </li>
            </ul>
        </div>

    </div>
    <br><br>
    {% if object.description %}
        <div class="row">
            <div class="col-md-12 product_detail_description">
                <span class="product_detail_description_header">Description</span>{{ object.description_html|safe }}
            </div>
        </div>
    {% endif %}
    
    {% if object.category.super_category.slug == "desserts" %}
        {% if object.category.slug == "cakes" or object.category.slug == "3d-cakes" or object.category.slug == "wedding-cakes" %}
            <span class="label custom_label">Imly Tip</span> Want something written on your cake? Or have something in mind? Mention it in the <span class="orange">Note to the Chef</span> during checkout
        {% elif object.category.slug == "cupcakes" %}
            <span class="label custom_label">Imly Tip</span> Want different flavours in your box? Mention it in the <span class="orange">Note to the Chef</span> during checkout
        {% else %}
            <span class="label custom_label">Imly Tip</span> Mention any requirements you might have in the <span class="orange">Note to the Chef</span> during checkout
        {% endif %}
    {% else %}
            <span class="badge custom_label"><span class="glyphicon glyphicon-thumbs-up"></span></span> Mention any requirements you might have in the <span class="orange">Note to the Chef</span> during checkout
    {% endif %}
    <br><br>
    <a class="btn btn-block btn-success btn-custom-mobile visible-xs" href="#"><small>Contact Chef</small></a>
    
    <a class="btn btn-block btn-custom btn-custom-mobile visible-xs" href="{% url "imly_store_detail" object.store.slug %}"><small>More from {{ object.store.name|lower|title }}</small></a>
    
    <div class="row">
        <br>
        <div class="col-md-6 col-md-offset-3">
            <hr class="hr_mobile">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
        <a name="reviews"></a><h4 class="product_detail_header_dark">Reviews:</h4>
        
        {% if user.is_authenticated %}
        <form method="post" action="{% url "submit_product_review" %}">
            {% csrf_token %}
            <input type="hidden" name="store_slug" value="{{ object.store.slug }}" />
            <input type="hidden" name="product_slug" value="{{ object.slug }}" />

            {% for radio in review_form.score %}
                {{ radio.tag }}
            {% endfor %}
            <br>
            {% if review_form.score.errors %}
                <p class="review_form_errors">Please rate this product.</p>
            {% endif %}


            {% for field in review_form.content %}
                <p>{{ field }}</p>
            {% endfor %}
            {% if review_form.content.errors %}
                <p class="review_form_errors">Please review this product.</p>
            {% endif %}
            <input type="submit" class="btn" value="Submit Review">
        </form>
        {% else %}
            <h4 class="text-muted"><a class="login_to_review" href="#myModal" role="button" data-toggle="modal">Login</a> to review</h4>
        {% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
    
            {% for review in object.reviews.all reversed %}
                <tr>
                    <td>
                    <span class="pull-right reviewer"><small>{{ review.user|capfirst }}</small></span>
                    <ul class="list-inline imly_star_rating">
                    {% for i in review.score|loop_int %}
                        <li><img src="{{ STATIC_URL }}star-rating/individual_star.gif"></li>
                    {% endfor %}
                    </ul>
                    
                
                    {{ review.content }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
        
{% endblock shop_product_content %}

{% block extra_javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('.product_wish').click(function(){
        var raw_id = $(this).attr('id')
        var clicked = $(this);
        var product = raw_id.split("_")[1]
        var store = raw_id.split("_")[2]
        var user = raw_id.split("_")[3]
        var data = {store_slug:store,product_slug:product,user_id:user};
        if (clicked.find('div').hasClass('already_wishlisted'))
        {
            $.post('{% url "remove_wish" %}',data,function(data)
            {

            }).done(function(data){
                //clicked.removeClass('already_wishlisted').addClass('wishlist_heart');
                $('#product_'+product+'_'+store+'_'+user + " .already_wishlisted").removeClass('already_wishlisted').addClass('wishlist_heart');//css({"background-position":"top"});
            });    
        }
        else
        {
            $.post('{% url "wishlist" %}',data,function(data)
            {

            }).done(function(data){
                //clicked.removeClass('product_wish').addClass('wishlist');
                $('#product_'+product+'_'+store+'_'+user + " .wishlist_heart").removeClass('wishlist_heart').addClass('already_wishlisted');//css({"background-position":"bottom"});
            
                $('#item_wished_'+ product).stop(true,true).fadeIn(200).delay(4000).hover(
                function(){
                    $(this).stop(true,false);
            
                },
                function(){
                    $(this).fadeOut(200);
                }
                ).fadeOut(200);
            });    
        }
    });
    
    $('#id_quantity').keypress(function(evt){
       var charCode =  (evt.which)?evt.which:evt.keyCode;
       if (charCode>31 && (charCode <48 || charCode>57))
       {
            return false;
       }
    });
    
    $('a.quantity_plus').click(function(){
        var quantity = parseInt($('#id_quantity').val());
        var items_in_stock = parseInt($('#items_in_stock').text());
        if (quantity >= items_in_stock)
        {
            return false;
        }
        else
        {
            quantity = quantity + 1;
            $('#id_quantity').val(quantity);
        }
    });
    $('a.quantity_minus').click(function(){
        var quantity = parseInt($('#id_quantity').val());
        var items_in_stock = parseInt($('#items_in_stock').text());
        if (quantity <= 1)
        {
            return false;
        }
        else
        {
            quantity = quantity - 1;
            $('#id_quantity').val(quantity);
        }
    });
    $('.submit-btn').click(function(){
        var form = $(this).parent();
        var product_url = $('.product_image').attr('src');
        $('.dropDowncart').empty();
        $('.dropDowncart').append('<li><img class="dropDowncart_img" src="' + product_url.replace('large','mini') + '" width="70"></li>');
        $('.dropDowncart').append('<li><ul class="dropDowncart2 unstyled">');
        $('.dropDowncart2').append('<li class="dropDowncart_product">' + $('#id_quantity').val() + ' &times; ' + '<span class="dropDowncart_product_name">' + $('.product_name').text() + '</span>' + '</li>');
        $('.dropDowncart2').append('<li class="dropDowncart_store">' + $('.store_name').text() + '</li>');
        $('.dropDowncart').append('</ul></li>');
        $('.dropdown_div').stop(true,true).slideDown(500).delay(2000).slideUp(500);
        $('.items_in_cart').stop(true,true).switchClass("dummy_cart_class","orange_back",400).delay(3000).switchClass("orange_back","dummy_cart_class",400);
        $.ajax({
            data:form.serialize(),
            type:form.attr('method'),
            url:form.attr('action'),            
            success:function(response){
                //alert(response['product'])
            if(response['success']==true){
                $('#items-count_cart').html(response['count']);
                $('#items-count').html(response['count']);
                
                $('#item_added_'+response["product_slug"]).stop(true,true).fadeIn(200).delay(4000).hover(
        function(){
            $(this).stop(true,false);
            
        },
        function(){
            $(this).fadeOut(200);
        }
    ).fadeOut(200);
                /*$('.dropDowncart').empty();
                $('.dropDowncart').append('<li><img class="dropDowncart_img" src="' + response['image'] + '" width="70"></li>');
                $('.dropDowncart').append('<li><ul class="dropDowncart2 unstyled">');
                $('.dropDowncart2').append('<li class="dropDowncart_product">' + response['quantity'] + ' &times; ' + '<span class="dropDowncart_product_name">' + response['product'] + '</span>' + '</li>');
                $('.dropDowncart2').append('<li class="dropDowncart_store">' + response['store'] + '</li>');
                $('.dropDowncart').append('</ul></li>');
                $('.dropdown_div').stop(true,true).slideDown(500).delay(3000).slideUp(500);*/
            }else{
                $("#exceed_stock_"+response["product_slug"]).stop(true,true).fadeIn(200).delay(1200).fadeOut(200);
                    //alert("Quantity exceed.");
            }
            }
        });
        return false;
    });
    
    $(".sold_out").hover(
        function(){
            $(this).find(".custom_addthis").stop(true,false).slideDown(300);
        },
        function(){
            $(this).find(".custom_addthis").stop(true,false).slideUp(300);
        }
    );
});
</script> 
{% endblock extra_javascript %}