<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Imly {% block title %}{% endblock title %}</title>
        
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}bootstrap/css/custom_index.css" rel="stylesheet" type="text/css">
        <!-- HTML5 shim for IE backwards compatibility -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" type="image/ico" href="{{ STATIC_URL }}bootstrap/img/favicon.ico">
    </head>
    
    
    
<body>
    
    <div class="container-fluid lower_border">   
        <div class="container">
            {% block navigation %}
            <div class="navbar">
                <div class="navbar-inner">
                  <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="{% url "imly_landing_page" %}" class="brand"><img src="{{ STATIC_URL }}bootstrap/img/imly_logo_xsmall1.png" alt="Imly Logo"></a>
                  <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                  <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="{% url "imly_product_list" %}">Discover Great Food</a></li>
                        {% if user.is_authenticated %}
                            {% if user.store %}
                                <li><a href="{% url "imly_store_info" %}">Manage Your Shop</a></li>
                            {% else %}
                                <li><a href="{% url "why_open_your_shop" %}">Open Your Shop</a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="{% url "why_open_your_shop" %}">Open Your Shop</a></li>
                        {% endif %}
                        <li><a href="{% url "imly_profiles" %}">Meet Our Chefs</a></li>
                                          {% if user.is_authenticated %}
                                              
                                              <li class="dropdown"><a class="dropdown-toggle border_right" data-toggle="dropdown" href="#">
                                              {% if user.userprofile.first_name %}
                                                  {{ user.userprofile.first_name }} <span class="caret"></span>
                                              {% else %}
                                                  {{ user.first_name }} <span class="caret"></span>
                                              {% endif %}
                                              </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{% url "plata_shop_cart" %}"><span class="icon-shopping-cart"></span> My Cart</a></li>
                                                        <li><a href="{% url "imly_store_info" %}"><span class="icon-home"></span> Manage Shop</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="{% url "account_logout" %}"><span class="icon-off"></span> Logout</a></li>
                                                    </ul>
                                              </li>
                                          {% else %}
                                              <li><a class="index_sign_in" href="#myModal" role="button" data-toggle="modal">Sign In</a></li>
                                          {% endif %}
      
                    </ul>
                  </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
            {% endblock navigation %}
        </div> <!-- end of div container -->
    </div>
    
    {% block carousel %}
    <div class="hero-unit hero-unit-float">
                    <div class="row-fluid">
                        <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/imly_logo.png"></p>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span3"></div>
                        <div class="span6">
                        <ul class="inline text-center">{# <h3>The online home food marketplace</h3> #}
                            <li><a href="{% url "why_open_your_shop" %}" class="action_button">Open Your Shop<br><small class="ultra_small_button">fast. easy. free.</small></a></li>
                            <li><a href="{% url "imly_product_list" %}" class="action_button action_button2">Discover Great Food<br><small class="ultra_small_button">fresh. homely. unique.</small></a></li>
                        </ul>
                        </div>
                        <div class="span3"></div>
                    </div>
    </div>
    
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="hero-unit hero_carousel1 active item"></div>
            
            <div class="hero-unit hero_carousel2 item"></div>
            
            <div class="hero-unit hero_carousel3 item"></div>
        </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="prev">&rsaquo;</a>
    </div>
    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6 negative_margin">
            <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/slogan.png" alt="Connecting home chefs with curious foodies"></p>
        </div>
        <div class="span3"></div>
    </div>
    </div>
    {% endblock carousel %}
    <br>
        
    
    <div id="wrap">
        <div id="main" class="container clear-top">
            {% block featurette %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                    <legend class="orange"><span class="legend_lower">Popular</span> <span class="legend_upper">Items</span><span class="pull-right small"><a class="index_view_more" href="{% url "imly_product_list" %}">View More</a></span></legend>
                    {% load imly_tags %}
                    {% get_bestseller_product_list %}
                    <ul class="thumbnails">
                    {% for product in bestselling_products %}
                    <li class="span3">
                        <div class="thumbnail thumbnail_custom">
                            <a href="{% url "imly_product_detail" product.store.slug product.slug %}"><img src="{{ product.image_thumbnail.url }}" alt="{{ product.name }}"></a>
                            <a class="top_text" href="{% url "imly_product_detail" product.store.slug product.slug %}"><h5>{{ product.name }}</h5></a><small class="muted ultra_small"><a class="sub_text" href="{{ product.store.get_absolute_url }}">{{ product.store.name|upper }}</small></a>
                        </div>
                    </li> 
                    {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        <br>
            <br>
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                    <legend class="orange"><span class="legend_lower">Featured</span> <span class="legend_upper">chefs</span><span class="pull-right small"><a class="index_view_more" href="{% url "imly_store_list" %}">View More</a></span></legend>
                    
                    {% get_featured_store_list %}
                    <ul class="thumbnails">
                    {% for store in featured_stores %}
                        
                        <li class="span3">
                            <div class="thumbnail thumbnail_custom">
                                {% if store.logo %}
                                    <a href="{% url "imly_store_detail" store.slug %}"><img class="bottom_border" src="{{ store.logo_thumbnail.url }}" alt="{{ store.name }}"></a>
                                {% else %}
                                    {% with store.product_set.all|first as product %}
                                        <a href="{% url "imly_store_detail" store.slug %}"><img src="{{ product.image_thumbnail.url }}" alt="{{ store.name }}"></a>
                                    {% endwith %}
                                {% endif %}

                                
                                <a class="top_text" href="{% url "imly_store_detail" store.slug %}"><h5>{{ store.name }}</h5></a><small class="muted"> by
                                            {% if store.owner.userprofile %}
                                                <a class="sub_text" href="#"><u>{{ store.owner.userprofile.first_name }} {{ store.owner.userprofile.last_name }}</u></a>
                                            {% else %}
                                                {{ store.owner.username }}
                                            {% endif %}</small>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        
                    {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
        {% endblock featurette %}
            {% block as_seen_on %}
            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span8 as_seen_on">
                        <span class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/as_seen_on.png" alt="As seen in the press"></span>
                </div>
                <div class="span2"></div>
            </div>
            {% endblock as_seen_on %}
        </div> <!-- end of container div -->
    </div> <!-- end of wrap div -->
        <div class="container-fluid">
            <br><br><br>            
        </div>
    
            {% block login %}
            {% include "modal_signup.html" %}   
            
        {% endblock login %}
    
    <footer class="container-fluid bgfull footer">
            <div class="container">
                <br>
                {% block footer %}
                    <div class="row-fluid">
                        <div class="span7">
                            <small><ul class="inline footer_nav">
                                <li><a href="{% url "imly_coming_soon" %}">What is Imly</a></li>
                                <li><a href="{% url "imly_coming_soon" %}">The Team</a></li>
                                <li><a href="{% url "imly_coming_soon" %}">Terms of Service</a></li>
                                <li><a href="{% url "imly_coming_soon" %}">FAQ</a></li>
                                <li><a href="http://blog.imly.in/" target="blank">Blog</a></li>
                                <li><a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-default-mode="support" data-uv-forum-id="198507">Contact Us</a></li>
                            </ul></small>
                        </div>
                        <div class="span5">
                            <small><p class="text-right">Know an amazing home chef? We'd love to know.
                            <a class="give_us_a_tip" id="givetip" href="javascript:void(0)" data-toggle="modal">Suggest a Chef</a></p></small>
                            {% include 'tip_form.html' %}
                        </div>
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="span12">
                            <ul class="unstyled text-center">
                                <li>
                                    <ul class="inline">
                                        <li><a href="https://twitter.com/imly_in"  target="blank"><div class="social_logo twitter"></div></a></li>
                                        <li><a href="https://facebook.com/imly.in"  target="blank"><div class="social_logo facebook"></div></a></li>
                                        <li><a href="http://blog.imly.in/" target="blank"><div class="social_logo tumblr"></div></a></li>
                                    </ul>
                                </li>
                                <li><small>Cooked with <span class="icon-heart icon-white"></span> by Imly</li>
                            </ul>
                            
                        </div>
                    </div>
                {% endblock footer %}
            </div>
        </footer>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({
                interval: 4000
          });
          
          $("#givetip").click(function(){
                            $("#tip").modal();
                            $('#tip_form')[0].reset();
                        });
                        
                        $('#tip_form').submit(function(){
                            
                            //alert("Submit");
                            var form_data = $(this).serialize()
                            $.post('/give_us_tip/', form_data, function(data){   
                                $('#tip').modal('hide');
                                $('#tip_form').find("input[type=text], textarea").val("");
                            })
                            .error(function(data){$('#tip_form_body').html(data.responseText);});
                            $('#tip_form')[0].reset();
                            return false;
                        });
                        
                        $("#login_form").submit(function(){
                            
                            var form_data = $(this).serialize();
                            $.post("/login-x/", form_data, function(data){
                                window.location.href = data;
                            })
                            .error(function(data){$("#login_form").html(data.responseText);});
                            return false;
                        });
                  
                        $("#signup_form").submit(function(){
                            
                            var form_data = $(this).serialize();
                            $.post("/signup-x/", form_data, function(data){
                                window.location.href = data;  
                            })
                            .error(function(data){$("#signup_form").html(data.responseText);});
                            return false;
                        });
                        
                        $("#open_your_shop").on("click",function(){
                            $(".redirect_path").attr("value","{% url "imly_store_info" %}");
                            $("#myModal").modal();

                        });
                        
                        $("#from_logout").on("click", function(){
                            $(".redirect_path").attr("value","{% url "imly_product_list" %}");
                            $("#myModal").modal();
                        });
                        
                        $(".open_your_shop").on("click",function(){
                            $(".redirect_path").attr("value","{% url "imly_store_info" %}");
                            $("#myModal").modal();

                        });
                        
        })
      }(window.jQuery)
    </script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
        <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/dL897A8Wf1MBVZxoxlMw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
        
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39358285-1']);
            _gaq.push(['_trackPageview']);
          
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          
        </script>
</body>
</html>