{% extends "index.html" %}

{% block carousel %}
    <div class="hero-unit hero_open_shop">
        <div class="container">
            <ul class="unstyled text-right">
                <li><h2>Imly is a marketplace unlike any other.</h2></li>
                <p class="text-right orange">Open your store now. Its Fast, Easy and Free!</p>
                <li><br><br></li>
                <li><a href="{% url "imly_store_create" %}" class="action_button action_button3 pull-right">Open your Shop</a></li>
            </ul>
            
        </div>
    </div>
    
{% endblock carousel %}

{% block featurette %}
    

{% endblock featurette %}