{% extends "base_store_manage.html" %}

{% block title %}Add a Product{% endblock title %}

{% block manage_store_navigation %}

    <li><a href="{% url "imly_store_info" %}">Shop Details</a></li>
    <li class="active"><a href="#">Product Details</a></li>
    <li><a href="{% url "imly_store_orders" %}">Order Details</a></li>
                
{% endblock manage_store_navigation %}

{% block shop_content %}
   <h4>Add a Product</h4>
   <br>
    
        <div class="row-fluid">
            
            <div class="span12">
                {% load crispy_forms_tags %}
                <form enctype="multipart/form-data" method="post" action="">
                    {% crispy form %}
                    <a href="{% url "imly_store_products" %}" class="btn">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Add Product">

                </form>
            </div>
    
        </div>


           
{% endblock shop_content %}
                

{% block shop_info %}
    <div class="well shop_info">

        <h4>{{ user.store.name }}</h4>
        <small><em>opened on {{ user.store.date_created|date:"F j, Y" }}</em></small>
        
        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
        
        <div class="expandable">
            {{ user.store.description_html|safe }}
        </div>
        
        <h5>Items Offered:</h5>
        <ul class="unstyled">
            {% for category in user.store.categories.all %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
        
        <h5>Total Items in Shop: <span class="h5_inline">{{ user.store.product_set.count }}</span></h5>
             
        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
        
        <h5>Delivery Areas:</h5>   
        <ul class="unstyled">
            {% for delivery in user.store.delivery_areas.all %}
                <li>{{ delivery|capfirst }}</li>
            {% endfor %}
        </ul>
    </div>           
{% endblock shop_info %}            

