{% extends "base.html" %}

{% block title %}Imly | Food{% endblock title %}

                {% block sidebar_nav %}
                    {% load imly_tags %}
                {% comment %}{% get_location_list %}
                    <select class="location_list">
                        <option value="all">Search by Location (All)</option>
                        {% for location in locations %}
                            <option value="{{ location.slug }}" {% ifequal request.session.place_slug location.slug %}selected="selected"{% endifequal %}>{{ location.name|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                {% endcomment %}

                    <div class="well sidebar-nav">
                        
                        <div class="span12">
                            <ul class="inline text-center food_chef">
                                <li><a href="#" class="food food_chef_active">Food</a></li>
                                <li><a href="{% if category %}{% url "imly_stores_by_category" category.slug %}{% else %}{% url 'imly_store_list' %}{% endif %}" class="chef food_chef_inactive">Chef</a></li>
                                
                                <hr class="hr_less_margin">
                                
                            </ul>
                        </div>
                        
                        <ul class="nav nav-list">
                        
                            {% if super_category %}
                            <li class="nav-header">You are currently here:</li>
                            <li><a href="{% url "imly_products_by_category" super_category.slug %}">{{ super_category.name|capfirst }}</a><!-- passed through get_context_data from the view -->
                                <ul>
                                    {% for sub_category in super_category.sub_categories.all %}
                                        <li><a {% ifequal sub_category category %}class="sub_category_link"{% endifequal %} href="{% url "imly_products_by_category" sub_category.slug %}">{{ sub_category.name|capfirst }}</a></li>
                                    {% endfor %}
                                </ul>
                                
                            </li>
                                {% if not selected_tags and super_category %}
                                        <hr>
                                {% endif %}
                            {% endif %}
                            {% if selected_tags %}
                            <li class="nav-header">You have filtered by:</li>
                            
                                <ul class="inline tags_for_product_home_inverted">
                                    {% for tag in selected_tags %}
                                        <li><a href="" class="tag_selected" id="{{ tag.slug }}">{{ tag.name|capfirst }} <span class="small">&times;</span></a></li>
                                    {% endfor %}
                                </ul>
                            
                                {% if not super_category and selected_tags %}
                                    <hr>
                                {% endif %}
                            {% endif %}
                            
                            {% if super_category and selected_tags %}
                                <hr>
                            {% endif %}
                        
                            <li class="nav-header">Search by Category</li>
                            {% get_category_list %}
                                <li><a href="{% url "imly_product_list" %}">All</a></li>
                                {% for category in categories %}
                                    
                                        {% if category.sub_categories.count %}
                                            <li class="dropdown-submenu"><a href="{% url "imly_products_by_category" category.slug %}">{{ category.name|capfirst }}</a>
                                                <ul class="dropdown-menu">
                                                    {% for sub_category in category.sub_categories.all %}
                                                        <li><a href="{% url "imly_products_by_category" sub_category.slug %}">{{ sub_category.name|capfirst }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url "imly_products_by_category" category.slug %}">{{ category.name|capfirst }}</a></li>
                                        {% endif %}
                                    
                                {% endfor %}
                                
                            <li class="nav-header">Filter by Taste</li>
                                <ul class="inline tags_for_product_home">
                                    {% get_tag_list %}
                                    {% for tag in tags %}
                                        <li><a href="" class="tag" id="{{ tag.slug }}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                        </ul> <!-- end of ul nav-list -->
                    </div> <!-- end of well sidebar-nav -->
                {% endblock sidebar_nav %}

{% block shop_or_product %}

                   {% comment %}
                    <div class="row-fluid">
                        
                        <div class="span12 centered-pills">
                            <p class="text-center"><small>SEARCH BY</small></p>
                            <ul class="nav nav-pills">
                                <li>
                                    <a href="{% if category %}{% url "imly_stores_by_category" category.slug %}{% else %}{% url 'imly_store_list' %}{% endif %}">Chef</a>

                                </li>
                                <li class="active"><a href="#">Food</a></li>
                                
                            </ul>
                            
                        </div>
                    
                    </div>
                    {% endcomment %}
                    
{% endblock shop_or_product %}

{% block content %}

{% if object_list %}
<!-- using forloop counter to correct bootstrap bug- thumbnails dont align after first row, added bottom margin to each row fluid for proper spacing -->   
    <ul class="thumbnails">
        {% for object in object_list %}
        {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
        <li class="span4">
            <div class="thumbnail thumbnail_custom">
                <a href="{% url "imly_product_detail" object.store.slug object.slug %}">
                    <div class="sold_out">
                        <img src="{{ object.image_thumbnail.url }}" alt="{{ object.name }}">
                        {% if not object.items_in_stock %}
                            <img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image">
                        {% endif %}
                        
                    </div>
                </a>
                <h5 class="less_bottom_margin"><a class="top_text" href="{% url "imly_product_detail" object.store.slug object.slug %}">{{ object.name }}</a></h5> <p class="text-center muted lower_bottom_margin"><small class="ultra_small"><a class="sub_text" href="{{ object.store.get_absolute_url }}">{{ object.store.name|upper }}</a></small></p>
                <div class="thumbnail_info_wrapper">
                    <span class="pull-left">{{ object.currency }} {{ object.get_price.unit_price|floatformat:"0" }}<small class="muted">
                        {% if object.quantity_per_item == 1 %}
                            /{{ object.get_quantity_by_price_display }}
                        {% else %}
                            for {{ object.quantity_per_item }} {{ object.get_quantity_by_price_display }}s
                        {% endif %} 
                    </small></span>
                    
                {% if object.store.is_open %}
                    {% if object.items_in_stock %}
                    <form method="post" action="{% url "imly_add_order" object.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1">
                        <input type="submit" class="btn btn-custom btn-mini pull-right" value="Order">
                    </form>
                    {% else %}
                        <small class="ultra_small muted pull-right">Fresh batch tomorrow</small>
                    {% endif %}
                {% else %}
                    <small class="ultra_small muted pull-right">Chef on vacation</small>
                {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </li>
        {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    </ul>
{% else %}
    <br><br>
    <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/chef_hat.png"></p>

    <h3 class="muted text-center">We are out scouting amazing home-chefs to fill this space up.<br>If you have someone in mind, send us a tip below.</h3>
{% endif %}
    
    {% if is_paginated %}
        <div class="pagination pagination-centered">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="{% url "imly_products_by_category" category.slug %}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                    <li class="active"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                    <li><a href="{% url "imly_products_by_category" category.slug %}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}


{% endblock content %}

