{% extends "base_store_manage.html" %}

{% block title %}Add a Product{% endblock title %}

{% block manage_store_navigation %}

    <li><a href="{% url "imly_store_info" %}">Shop Details</a></li>
    <li class="active"><a href="{% url "imly_store_products" %}">Product Details</a></li>
    <li><a href="{% url "imly_store_orders" %}">Order Details</a></li>
    {% if user.userprofile %}
                    <li><a href="{% url "imly_my_profile" %}">My Profile</a></li>
                {% else %}
                    <li><a href="{% url "imly_create_profile" %}">My Profile</a></li>
                {% endif %}
                
{% endblock manage_store_navigation %}

{% block shop_content %}
   <h4 class="form_heading">Add a Product</h4>
   <br>
    
        <div class="row-fluid">
            
            <div class="span12">
                {% load crispy_forms_tags %}
                <form enctype="multipart/form-data" method="post" action="">
                    {% crispy form %}
                    <a href="{% url "imly_store_products" %}" class="btn">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Add Product">

                </form>
            </div>
    
        </div>


           
{% endblock shop_content %}
              

{% block shop_info %}
    <aside class="well shop_info">
        <h4 class="text-center orange">Tips</h4>

        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
                
        <ol class="tips">
            <li><span class="orange">Pictures are key!</span> A poorly shot picture can make the best dish look unappetizing.</li>
            <li>Set your capacity based on what you can produce in a single day.</li>
            <li>Make sure each item in your shop has a unique name.</li>
            <li><span class="orange">Tag your products well.</span> They become easier to find.</li>
        </ol>
    </aside>           
{% endblock shop_info %}            

