{% extends "base.html" %}

{% block title %}Products{% endblock title %}

{% block shop_or_product %}
                    <div class="row-fluid">
                        
                        <div class="span12 centered-pills">
                            <p class="text-center"><small>SEARCH BY</small></p>
                            <ul class="nav nav-pills">
                                <li><a href="{% url "imly_store_list" %}">Shop</a></li>
                                <li class="active"><a href="{% url "imly_product_list" %}">Products</a></li>
                                
                            </ul>
                            
                        </div>
                    
                    </div>
{% endblock shop_or_product %}

{% block content %}

<!-- using forloop counter to correct twitter bug- thumbnails dont align after first row, added bottom margin to each row fluid for proper spacing -->   
    <ul class="thumbnails">
        {% for object in object_list %}
        {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
        <li class="span4">
            <div class="thumbnail">
                <a href="{% url "imly_product_detail" object.store.slug object.slug %}"><img src="{{ object.image_thumbnail.url }}" alt="{{ object.name }}" class="centered"></a>
                <h5>{{ object.name }}</h5> <span class="pull-left">by <a href="{{ object.store.get_absolute_url }}"><small>{{ object.store.name }}</small></a></span>
                <a href="{% url "imly_add_order" object.slug %}" class="btn btn-mini pull-right">Add to Cart</a>
                <div class="clearfix"></div>
            </div>
        </li>
        {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    </ul>
    


{% endblock content %}

