{% load imly_tags %}

                        <ul class="nav nav-list">
                            {% if request.session.place_slug %}
                            <li class="nav-header">Your location: </li>
                                <ul class="inline tags_for_product_home_inverted">
                                    <li><a href="{% url "unset_location" %}">{{ request.session.display_place_slug }} <span class="small">&times;</span></a></li>
                                </ul>
                            <br>                                
                            {% endif %}
                            {% if super_category %}
                            <li class="nav-header">You are currently here:</li>
                            <li><a href="{% url "imly_products_by_category" super_category.slug %}" {% ifequal super_category category %}class="selected_super_category"{% endifequal %}>{{ super_category.name|capfirst }}</a><!-- passed through get_context_data from the view -->
                                <ul>
                                    {% for sub_category in super_category.sub_categories.all %}
                                        <li><a {% ifequal sub_category category %}class="selected_sub_category_link"{% else %}class="unselected_sub_category_link"{% endifequal %} href="{% url "imly_products_by_category" sub_category.slug %}">{{ sub_category.name|capfirst }}</a></li>
                                    {% endfor %}
                                </ul>
                                
                            </li>
                                {% if not selected_tags and super_category %}
                                        <hr>
                                {% endif %}
                            {% endif %}
                            {% if selected_tags %}
                            <li class="nav-header">You have filtered by:</li>
                            
                                <ul class="inline tags_for_product_home_inverted">
                                    {% for tag in selected_tags %}
                                        <li><a href="{% url "remove_tag" tag.slug %}" class="tag_selected" id="{{ tag.slug }}">{{ tag.name|capfirst }} <span class="small">&times;</span></a></li>
                                    {% endfor %}
                                </ul>
                            
                                {% if not super_category and selected_tags %}
                                    <hr>
                                {% endif %}
                            {% endif %}
                            
                            {% if super_category and selected_tags %}
                                <hr>
                            {% endif %}
                        
                            <li class="nav-header">Search by Category</li>
                            {% get_category_list %}
                                <li><a href="{% url "imly_product_list" %}">All</a></li>
                                {% for category in categories %}
                                    
                                        {% if category.sub_categories.count %}
                                            <li class="dropdown-submenu"><a href="{% url "imly_products_by_category" category.slug %}">{{ category.name|capfirst }}</a>
                                                <ul class="dropdown-menu">
                                                    {% for sub_category in category.sub_categories.all %}
                                                        <li><a href="{% url "imly_products_by_category" sub_category.slug %}">{{ sub_category.name|capfirst }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url "imly_products_by_category" category.slug %}">{{ category.name|capfirst }}</a></li>
                                        {% endif %}
                                    
                                {% endfor %}
                            {% get_tag_list %}
                            {% if tags %}
                            <li class="nav-header">Filter by Taste</li>
                                <ul class="inline tags_for_product_home">
                                    
                                    {% for tag in tags %}
                                        <li><a href="{% url "add_tag" tag.slug %}" class="tag" id="{{ tag.slug }}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </ul> <!-- end of ul nav-list -->
                    