{% extends "index.html" %}

{% block title %}Imly | {{ request.special }}{% endblock title %}

{% block navigation %}
    {% include "top_nav.html" %}
{% endblock navigation %}

{% block location_search_bar %}
    {% include "location_search_bar.html" %}
{% endblock location_search_bar %}

{% block carousel %}
    {% if request.special.special_cover_photo %}
        
        <div class="hero-unit hero_unit_special_page text-center hidden-phone" style="background:url({{ request.special.special_cover_photo.url }});background-position: 50% 50%; border: 1px solid #ccc;">
            
        </div>
    
    {% else %}
        
        <div class="hero-unit hero_unit_special_page text-center hidden-phone">
            
        </div>
    {% endif %}
    
    <div class="container visible-phone">
        <div class="row-fluid">
            <p class="text-center"><img src="{{ request.special.special_cover_photo_thumbnail_mini.url }}"></p>
        </div>
    </div>
    
{% endblock carousel %}

{% block featurette %}
     <div class="row-fluid">
        <ul class="thumbnails">
            {% load imly_tags %}
        {% for product in object_list %}
        {% if forloop.counter0|divisibleby:"4" %}<div class="row-fluid margined">{% endif %}
        <li class="span3">
            <div class="thumbnail thumbnail_custom">
                            {% if request.session.place_slug %}
                                {% store_amend_geo product.store %}
                                {% if product.store.pick_up %}
                                <p class="text-left location_distance"><span class="icon-map-marker"></span> <small class="muted">

                                    {% if product.store.distance < 1 %}
                                        &lt; 1 km 
                                    {% else %}
                                        {{ product.store.distance|floatformat:"1" }} kms
                                    {% endif %}
                                {% endif %}
                                
                                
                                <span class="pull-right">
                                {% if product.store.delivers %}
                                    Delivers to you &nbsp;
                                {% else %}
                                    {% if product.store.pick_up %}
                                        Pick up required &nbsp;
                                    {% endif %}
                                {% endif %}
                                </span>
                                </small></p>
                            {% endif %}
                
                <a href="{% url "imly_product_detail" product.store.slug product.slug %}">
                    <div class="sold_out">
                        <img src="{{ product.image_thumbnail.url }}" alt="{{ product.name }}">
                        {% if not product.items_in_stock %}
                            <img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image">
                        {% endif %}
                        <div id="exceed_stock_{{ product.slug }}" class="exceed_stock">I can't make more today</div>
                        <div class="hidden-desktop">
                            <div id="item_added_{{ product.slug }}" class="item_added"><a href="{% url "plata_shop_cart" %}" class="item_added_link">Item added. Go to cart &raquo;</a></div>
                        </div>
                    </div>
                </a>

                <h5 class="less_bottom_margin"><a class="top_text" href="{% url "imly_product_detail" product.store.slug product.slug %}">{{ product.name }}</a></h5><p class="text-center muted lower_bottom_margin"><small class="ultra_small"><a class="sub_text" href="{{ product.store.get_absolute_url }}">{{ product.store.name|upper }}</a></small></p>
                <div class="thumbnail_info_wrapper">
                    <span class="pull-left">{{ product.currency }} {{ product.get_price.unit_price|floatformat:"0" }}<small class="muted">
                        {% if product.quantity_per_item == 1 %}
                            /{{ product.get_quantity_by_price_display }}
                        {% else %}
                            for {{ product.quantity_per_item }} {{ product.get_quantity_by_price_display }}s
                        {% endif %} 
                    </small></span>
                    
                    {% if product.store.is_open %}
                        {% if product.items_in_stock %}
                            <form method="post" action="{% url "imly_add_order" product.store.slug product.slug %}">
                            {% csrf_token %}
                                <input type="hidden" name="image_url" value="{{ product.image_thumbnail_mini.url }}">
                                <input type="hidden" name="product_name" value="{{ product.name|title }}">
                                <input type="hidden" name="store_name" value="{{ product.store.name|title }}">
                                <input type="hidden" name="product_slug" value="{{ product.slug }}">
                                <input type="hidden" name="quantity" value="1">
                                <input type="button" class="submit-btn btn btn-custom btn-mini pull-right" value="Order">
                            </form>
                        {% else %}
                            <small class="ultra_small muted pull-right">Fresh batch tomorrow</small>
                        {% endif %}
                    {% else %}
                        <small class="ultra_small muted pull-right">Chef on vacation</small>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </li>
        {% if forloop.counter|divisibleby:"4" %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"4" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock featurette %}

{% block as_seen_on %}
{% endblock as_seen_on %}

{% block extra_javascript %}
<script type="text/javascript">
        
$(document).ready(function(){
            
    $('.submit-btn').click(function(){
        var form = $(this).parent();
        var product_name = form.find('input[name=product_name]').val();
        var store_name = form.find('input[name=store_name]').val();
        var image_url = form.find('input[name=image_url]').val();
        var quantity = form.find('input[name=quantity]').val();
        var product_slug = form.find('input[name=product_slug]').val();
        $('.dropDowncart').empty();
        $('.dropDowncart').append('<li><img class="dropDowncart_img" src="' + image_url + '" width="70"></li>');
        $('.dropDowncart').append('<li><ul class="dropDowncart2 unstyled">');
        $('.dropDowncart2').append('<li class="dropDowncart_product">' + quantity + ' &times; ' + '<span class="dropDowncart_product_name">' + product_name + '</span>' + '</li>');
        $('.dropDowncart2').append('<li class="dropDowncart_store">' + store_name + '</li>');
        $('.dropDowncart').append('</ul></li>');
        $('.dropdown_div').stop(true,true).slideDown(500).delay(2000).slideUp(500);
        $('.items_in_cart').stop(true,true).switchClass("dummy_cart_class","orange_back",400).delay(3000).switchClass("orange_back","dummy_cart_class",400);
        $.ajax({
            data:form.serialize(),
            type:form.attr('method'),
            url:form.attr('action'),
            success:function(response){
                //alert(response['product'])
                if(response['success'] == true){
                    $('#items-count_cart').html(response['count']);
                    $('#items-count').html(response['count']);
                    $('#item_added_'+ product_slug).stop(true,true).fadeIn(200).delay(4000).hover(
                        function(){
                            $(this).stop(true,false);    
                        },
                        function(){
                            $(this).fadeOut(200);
                        }).fadeOut(200);
                }else{
                    $("#exceed_stock_"+response["product_slug"]).stop(true,true).fadeIn(200).delay(1200).fadeOut(200);
                }
            }
        });
        return false;
    });

            
});
</script>

{% endblock extra_javascript %}
