{% extends "base_store_manage.html" %}

{% block manage_store_navigation %}

    <li class="active"><a href="{% url "imly_store_info" %}">Shop Details</a></li>
    <li class="disabled"><a href="#">Product Details</a></li>

    <li class="disabled"><a href="#">Order Details</a></li>

    
                
{% endblock manage_store_navigation %}

{% block shop_content %}
    <h4 class="form_heading">Create Your Store</h4>
    <br>
        {% load crispy_forms_tags %}
        <form enctype="multipart/form-data" method="post" action="">
            {% crispy form %}
        <fieldset class="formset">
            <legend>Delivery Areas</legend>
            {{ delivery_location_form.management_form }}
            {% for form in delivery_location_form %}
                {{form.name}}
            {% endfor %}
        </fieldset>
        <a href="{% url "imly_store_info" %}" class="btn">Cancel</a>
        <input type="submit" class="btn btn-success" value="Submit for Approval">
        </form> 
{% endblock shop_content %}
                

{% block shop_info %}
    <aside class="well shop_info">
        <h4 class="text-center orange">Tips</h4>

        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
                
        <ol class="tips">
            <li>Choose a <span class="orange">memorable name</span> for your store.</li>
            <li>A tagline can help to reinforce your brand. A catchy phrase is hard to forget.</li>
            <li>Keep the description short but <span class="orange">interesting</span>. Customers only skim through. Make sure they see what is most important.</li>
        </ol>
    </aside>                     
{% endblock shop_info %} 