{% extends "base.html" %}

{% block title %}Imly | Chefs{% endblock title %}

                {% block sidebar_nav %}
                    
                    
                    {% comment %}
                    {% get_location_list %}
                    <select class="location_list">
                        <option value="all">Search by Location (All)</option>
                        {% for location in locations %}
                            <option value="{{ location.slug }}" {% ifequal request.session.place_slug location.slug %}selected="selected"{% endifequal %}>{{ location.name|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {% endcomment %}
                
                    <div class="well sidebar-nav">
                        <div class="span12">
                            <ul class="inline text-center food_chef">
                                <li><a href="{% if category %}{% url "imly_products_by_category" category.slug %}{% else %}{% url "imly_product_list" %}{% endif %}" class="food food_chef_inactive">Food</a></li>
                                <li><a href="#" class="chef food_chef_active">Chef</a></li>
                                <hr class="hr_less_margin">
                            </ul>
                        </div>
                        
                        {% load imly_tags %}

                        <ul class="nav nav-list">
                            {% if request.session.place_slug %}
                            <li class="nav-header">Your location: </li>
                                <ul class="inline tags_for_product_home_inverted">
                                    <li><a href="{% url "unset_location" %}">{{ request.session.display_place_slug|capfirst }} <span class="small">&times;</span></a></li>
                                </ul>
                            <p></p>                                
                            {% endif %}
                            {% if super_category %}
                            <li class="nav-header">You are currently here:</li>
                            <li><a href="{% url "imly_stores_by_category" super_category.slug %}" {% ifequal super_category category %}class="selected_super_category"{% endifequal %}>{{ super_category.name|capfirst }}</a><!-- passed through get_context_data from the view -->
                                <ul>
                                    {% for sub_category in super_category.sub_categories.all %}
                                        <li><a {% ifequal sub_category category %}class="selected_sub_category_link"{% else %}class="unselected_sub_category_link"{% endifequal %} href="{% url "imly_stores_by_category" sub_category.slug %}">{{ sub_category.name|capfirst }}</a></li>
                                    {% endfor %}
                                </ul>
                                
                            </li>
                                {% if not selected_tags and super_category %}
                                        <hr>
                                {% endif %}
                            {% endif %}
                            {% if selected_tags %}
                            <li class="nav-header">You have filtered by:</li>
                            
                                <ul class="inline tags_for_product_home_inverted">
                                    {% for tag in selected_tags %}
                                        <li><a href="{% url "remove_tag" tag.slug %}" class="tag_selected" id="{{ tag.slug }}">{{ tag.name|capfirst }} <span class="small">&times;</span></a></li>
                                    {% endfor %}
                                </ul>
                            
                                {% if not super_category and selected_tags %}
                                    <hr>
                                {% endif %}
                            {% endif %}
                            
                            {% if super_category and selected_tags %}
                                <hr>
                            {% endif %}
                        
                            <li class="nav-header">Search by Category</li>
                            {% get_category_list %}
                                <li><a href="{% url "imly_product_list" %}">All</a></li>
                                {% for category in categories %}
                                    
                                        {% if category.sub_categories.count %}
                                            <li class="dropdown-submenu"><a href="{% url "imly_stores_by_category" category.slug %}">{{ category.name|capfirst }}</a>
                                                <ul class="dropdown-menu hidden-phone">
                                                    {% for sub_category in category.sub_categories.all %}
                                                        <li><a href="{% url "imly_stores_by_category" sub_category.slug %}">{{ sub_category.name|capfirst }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url "imly_stores_by_category" category.slug %}">{{ category.name|capfirst }}</a></li>
                                        {% endif %}
                                    
                                {% endfor %}
                                
                            {% get_tag_list %}
                            {% if tags %}
                            <li class="nav-header">Filter by Taste</li>
                                <ul class="inline tags_for_product_home">
                                    
                                    {% for tag in tags %}
                                        <li><a href="{% url "add_tag" tag.slug %}" class="tag" id="{{ tag.slug }}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </ul> <!-- end of ul nav-list -->
                    
                    </div> <!-- end of well sidebar-nav -->
                {% endblock sidebar_nav %}

{% block shop_or_product %}

{% endblock shop_or_product %}

{% block content %}
<!-- using forloop counter to correct twitter bug- thumbnails dont align after first row, added bottom margin to each row fluid for proper spacing -->   
{% load imly_tags %}
{% if object_list %}
    <ul class="thumbnails">
        {% for object in object_list %}
        {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
                <li class="span4">
                    <div class="thumbnail thumbnail_custom">
                    {% if request.session.place_slug %}
                        {% if object.pick_up %}
                                {% store_amend_geo object %}
                                
                                <p class="text-left location_distance"><span class="icon-map-marker"></span> <small class="muted">
                                
                                    {% if object.distance < 1 %}
                                        &lt; 1 km 
                                    {% else %}
                                        {{ object.distance|floatformat:"1" }} kms
                                    {% endif %}
                                
                        {% endif %}
                                
                                <span class="pull-right">
                                {% if object.delivers %}
                                    Delivers to you &nbsp;
                                {% else %}
                                    {% if object.pick_up %}
                                    Pick up required &nbsp;
                                    {% endif %}
                                {% endif %}
                                </span>
                                </small></p>
                            {% endif %}
                        {% if object.logo %}
                            <a href="{% url "imly_store_detail" object.slug %}"><img src="{{ object.logo_thumbnail.url }}" alt="{{ object.name }}"></a>
                        {% else %}
                            {% with object.product_set.all|first as product %}
                                <a href="{% url "imly_store_detail" object.slug %}"><img src="{{ product.image_thumbnail.url }}" alt="{{ object.name }}"></a>
                            {% endwith %}
                        {% endif %}
                    
                        <h5 class="store_list_name"><a class="top_text" href="{% url "imly_store_detail" object.slug %}">{{ object.name }}</a></h5><small class="muted"> by
                                            {% if object.owner.userprofile %}
                                                <a class="sub_text" href="{% url "chef_profile" object.owner.userprofile.slug %}"><u>{{ object.owner.userprofile.first_name }} {{ object.owner.userprofile.last_name }}</u></a>
                                            {% else %}
                                                {{ object.owner.username }}
                                            {% endif %}</small>
                    </div>
                </li>
        {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    </ul>
{% else %}
    <br>
    <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/chef_sad.png"></p><br>
    <h3 class="muted text-center">Oops, we don't have any chefs<br> matching your search criteria yet. Help us! </h3><p class="text-center"><a class="give_us_a_tip give_us_a_tip2" href="javascript:void(0)" data-toggle="modal">Suggest a Chef</a></p>
{% endif %}
    
    {% if is_paginated %}
        <div class="pagination pagination-centered">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                    <li class="active"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                    <li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

{% endblock content %}

