{% extends "base_store_manage.html" %}

{% block title %}Imly | Create Shop{% endblock title %}
{% block manage_store_navigation %}

    <li class="active"><a href="{% url "imly_store_info" %}">Shop Details</a></li>
    <li class="disabled"><a href="#">Product Details</a></li>

    <li class="disabled"><a href="#">Order Details</a></li>
    <li class="disabled"><a href="#">My Profile</a></li>
    
                
{% endblock manage_store_navigation %}

{% block shop_content %}
    {% if form.errors %}
        <div class="row-fluid">
            <div class="span12">
                <p class="custom_error_heading">Oops! ERRORS in your form! Please scroll down and correct them.</p>
                <!--<ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li class="custom_form_errors"><span class="orange"><em>Required</em></span> - {{field.label_tag}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>-->
            </div>
        </div>

    {% endif %}
    <h4 class="form_heading">Create Your Shop</h4>
    <br>
        {% load crispy_forms_tags %}
        <form enctype="multipart/form-data" method="post" action="">
            {% crispy form %}
        
        
        <div style="display:none;" id="delivery_location_form" class="delivery_location_form">
            <div>
                <ul class="selected_locations inline">
                    
                </ul>
            </div>
            <label for="delivery_location_formset"><span style="font-weight: 500">Delivery Areas</span></label>
            <fieldset class="formset" id="delivery_location_formset">
                
                {{ delivery_location_form.management_form }}
                            <div class="delivery_locations" style="display: none;">
                {% for form in delivery_location_form %}
                                    <div class="delivery_location">
                                        {{form}}
                                    </div>
                {% endfor %}
                            </div>
    
            </fieldset>
	    <input type="text" name="location_autocompleter" id="delivery_locator" ></br>
        </div>
		<script type="text/html" id="delivery_location_template">
			<div class="delivery_location">
				<label for="id_delivery_locations-<%= id %>-name">Name:</label>
				<input id="id_delivery_locations-<%= id %>-name" type="text" name="delivery_locations-<%= id %>-name" maxlength="100" value="<%= name %>">
				<label for="id_delivery_locations-<%= id %>-DELETE">Delete:</label>
				<input id="id_delivery_locations-<%= id %>-DELETE" type="checkbox" name="delivery_locations-<%= id %>-DELETE">
				
				<input id="id_delivery_locations-<%= id %>-id" type="hidden" name="delivery_locations-<%= id %>-id">
				<input id="id_delivery_locations-<%= id %>-store" type="hidden" name="delivery_locations-<%= id %>-store">
			</div>
		</script>
            <br>
        <a href="{% url "imly_store_info" %}" class="btn">Cancel</a>
         <input type="submit" class="btn btn-success" value="Submit for Approval">
        </form>
{% endblock shop_content %}
                

{% block shop_info %}
    <aside class="well shop_info">
        <h4 class="text-center orange">Tips</h4>

        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
                
        <ol class="tips">
            <li>Choose a <span class="orange">memorable name</span> for your store.</li>
            <li>A tagline can help to reinforce your brand. A catchy phrase is hard to forget.</li>
            <li>Keep the description short but <span class="orange">interesting</span>. Customers only skim through. Make sure they see what is most important.</li>
        </ol>
    </aside>                     
{% endblock shop_info %}

{% block extra_javascript %}
<script type="text/javascript">

var default_bounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(19.26, 72.98),
        new google.maps.LatLng(18.89, 72.775)); 
    var google_map_api_options = {
        bounds: default_bounds,
        componentRestrictions: {country: 'in'}
    };
    
    $('#id_pick_up_location').keypress(function(event) { return event.keyCode != 13; });

    var autocomplete_pick_up = new google.maps.places.Autocomplete(document.getElementById('id_pick_up_location'), google_map_api_options);
        
    $('#delivery_locator').keypress(function(event) { return event.keyCode != 13; });

    var autocomplete_delivery = new google.maps.places.Autocomplete(document.getElementById('delivery_locator'), google_map_api_options);

    google.maps.event.addListener(autocomplete_delivery, 'place_changed', function(){
        var count = $('.delivery_locations').children().length;
        var markup = $('#delivery_location_template').html()
        var name = $('#delivery_locator').val();
        var short_name = name.split(",").slice(0,1)
        var compiled = _.template(markup, {id: count, name: name});
        $('div.delivery_locations').append(compiled);
        $('#id_delivery_locations-TOTAL_FORMS').attr('value', count + 1);
        $(".selected_locations").append("<li class='selected_location_margin_bottom' id='selected_location_" + count + "'><a class='each_location' onclick='mark_to_delete("+ count + ")'" + "'>" + short_name + " &times;"+"</a>" +"</li>");
                //$(".delivery_location").hide();
        setTimeout(function(){
            $('#delivery_locator').val('');
            $('#delivery_locator').focus();},50);
                
    });
        

        
       $(".delivery_location input[type=text]").each(function(index,input){
           var count = $(input).attr("id").split("-")[1];
           var short_name = $(input).attr("value").split(",")[0];
           var input_id = $(input).attr("id").split("-");
           var checkbox_id = input_id[0] + "-" + input_id[1] + "-DELETE";
           if(!$("#"+checkbox_id).attr("checked")){
                $(".selected_locations").append("<li class='selected_location_margin_bottom' id='selected_location_" + count + "'><a class='each_location' onclick='mark_to_delete("+ count + ")'" + "'>" + short_name + " &times;"+"</a>" +"</li>");
           }
        });
                
        function mark_to_delete(dl_id){
            var formfield_id = "id_delivery_locations-" + dl_id + "-DELETE";
            $("#"+formfield_id).prop("checked",true);
            $("#selected_location_"+ dl_id).hide();
            return false;
        }

$(document).ready(function(){
    
                            //script to show fields in store edit/create if checkbox is already ticked
                        if($("#id_provide_delivery").is(":checked")){
                            $(".delivery_areas").css({"display":"block"})
                            $(".delivery_location_form").css({"display":"block"})
                        }
                        else{
                            $(".delivery_areas").css({"display":"none"})
                            $(".delivery_location_form").css({"display":"none"})
                        }
                
                        //script to hide/reveal fields in store edit/create if checkbox is checked/unchecked
                
                        $("#id_provide_delivery").change(function (){
                            if($(this).is(":checked")){
                                $(".delivery_areas").slideDown();
                                $(".delivery_location_form").slideDown();
                                return;
                            }
                                $(".delivery_areas").slideUp();
                                $(".delivery_location_form").slideUp();
        
                        });
    
	
        
});     
</script>

{% endblock extra_javascript %}