{% extends "base_store_manage.html" %}

{% block manage_store_navigation %}

    <li class="active"><a href="#">Shop Details</a></li>
    <li class="disabled"><a href="#">Product Details</a></li>

    <li class="disabled"><a href="#">Order Details</a></li>

    <li><a href="#">My Profile</a></li>
                
{% endblock manage_store_navigation %}

{% block shop_content %}
    <h4>Create Your Store</h4>
    <br>
        <form method="post" action="">
            {% csrf_token %}
                    <ul class="unstyled form">
                        {{ form.as_ul }}
                    </ul>
        <a href="{% url "imly_store_info" %}" class="btn">Cancel</a>
        <input type="submit" class="btn btn-success" value="Submit for Approval">
        </form> 
{% endblock shop_content %}
                

{% block shop_info %}
                
{% endblock shop_info %} 