{% extends "base_store_manage.html" %}

{% block title %}Imly | Edit Shop{% endblock title %}
{% block manage_store_navigation %}

    <li class="active"><a href="{% url "imly_store_info" %}">Shop Details</a></li>
    <li><a href="{% url "imly_store_products" %}">Product Details</a></li>
    <li><a href="{% url "imly_store_orders" %}">Order Details</a></li>
    {% if request.user.userprofile %}
        <li><a href="{% url "imly_my_profile" %}">My Profile</a></li>
    {% else %}
        <li><a href="{% url "imly_create_profile" %}">My Profile</a></li>
    {% endif %}
    
                
{% endblock manage_store_navigation %}

{% block shop_content %}
    <h4 class="form_heading">Edit Your Shop</h4>
    <br>
        {% comment %}
        <form method="post" action="">
            {% csrf_token %}
                    <ul class="unstyled form">
                        {{ form.as_ul }}
                    </ul>
        <a href="{% url "imly_store_info" %}" class="btn">Cancel</a>
        <input type="submit" class="btn btn-success" value="Update">
        </form>
        {% endcomment %}
        <div>
        {% load crispy_forms_tags %}
        <form enctype="multipart/form-data" method="post" action="">
            {% crispy form %}
        <a href="{% url "imly_store_info" %}" class="btn">Cancel</a>
        <input type="submit" class="btn btn-success" value="Update">
        </form>
        </div>

{% endblock shop_content %}
                

{% block shop_info %}
    <aside class="well shop_info">
        <h4 class="text-center orange">Tips</h4>

        <div class="row-fluid">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
                
        <ol class="tips">
            <li>Choose a <span class="orange">memorable name</span> for your store.</li>
            <li>A tagline can help to reinforce your brand. A catchy phrase is hard to forget.</li>
            <li>Keep the description short but <span class="orange">interesting</span>. Customers only skim through. Make sure they see what is most important.</li>
        </ol>
    </aside>            
{% endblock shop_info %}            
