{% extends "base.html" %}

{% block title %}Imly | Shops{% endblock title %}


                {% block sidebar_nav %}
                    
                    
                    {% comment %}
                    {% get_location_list %}
                    <select class="location_list">
                        <option value="all">Search by Location (All)</option>
                        {% for location in locations %}
                            <option value="{{ location.slug }}" {% ifequal request.session.place_slug location.slug %}selected="selected"{% endifequal %}>{{ location.name|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {% endcomment %}
                
                    <div class="well sidebar-nav">
                        <div class="span12">
                            <ul class="inline text-center food_chef">
                                {% if request.session.delivery and not request.session.pick_up %}
                                    <li><a href="javascript:;" class="food food_chef_active">Delivery</a></li>
                                    <li><a href="{% url "set_pick_up" %}" class="chef food_chef_inactive">Pick-Up</a></li>
                                {% elif request.session.pick_up and not request.session.delivery %}
                                    <li><a href="{% url "set_delivery" %}" class="food food_chef_inactive">Delivery</a></li>
                                    <li><a href="javascript:;" class="chef food_chef_active">Pick-Up</a></li>
                                {% else %}
                                    <li><a href="javascript:;" id="delivery_location_not_set" class="food food_chef_inactive">Delivery</a></li>
                                    <li><a href="javascript:;" class="chef food_chef_active">Pick-Up</a></li>
                                {% endif %}
                                <hr class="hr_less_margin">
                            </ul>
                        </div>
                        
                        {% include "delivery_modal.html" %}
                    
                        {% load imly_tags %}

                        <ul class="nav nav-list">
                            {% if request.session.place_slug %}
                            <li class="nav-header selected_nav_header">Your location: </li>
                                <ul class="inline tags_for_product_home_inverted">
                                    <li><a href="{% url "unset_location" %}">{{ request.session.display_place_slug|capfirst }} <span class="small">&times;</span></a></li>
                                </ul>
                            <p></p>
                                {% if not selected_tags and not super_category %}
                                        <hr>
                                {% endif %}
                            {% endif %}
                            {% if super_category %}
                            <li class="nav-header selected_nav_header hidden-desktop">You have selected:</li>
                            <li class="hidden-desktop"><a href="{% url "imly_stores_by_category" super_category.slug %}" {% ifequal super_category category %}class="selected_super_category"{% endifequal %}>{{ super_category.name|capfirst }}</a><!-- passed through get_context_data from the view -->
                                <ul>
                                    {% for sub_category in super_category.sub_categories.all %}
                                        {% if sub_category.product_set.count and sub_category.product_set.is_flag.count %}
                                            <li><a {% ifequal sub_category category %}class="selected_sub_category_link"{% else %}class="unselected_sub_category_link"{% endifequal %} href="{% url "imly_stores_by_category" sub_category.slug %}">{{ sub_category.name|capfirst }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                
                            <li class="nav-header selected_nav_header visible-desktop" style="margin-top:0px;">You have selected:</li>
                                <ul class="inline tags_for_product_home_inverted visible-desktop">
                                    {% ifequal super_category category %}
                                        <li><a href="{% url "imly_store_list" %}">{{ super_category.name|capfirst }} <span class="small">&times;</span></a></li>
                                    {% endifequal %}
                                    {% for sub_category in super_category.sub_categories.all %}
                                        {% if sub_category.product_set.count %}
                                            {% ifequal sub_category category %}
                                                <li><a href="{% url "imly_store_list" %}">{{ sub_category.name|capfirst }} <span class="small">&times;</span></a></li>
                                            {% endifequal %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                                {% if not selected_tags and super_category %}
                                        <hr>
                                {% endif %}
                            {% endif %}
                            {% if selected_tags %}
                                {% if super_category and selected_tags %}
                                    <p></p>
                                {% endif %}
                            <li class="nav-header selected_nav_header">You have filtered by:</li>
                            
                                <ul class="inline tags_for_product_home_inverted">
                                    {% for tag in selected_tags %}
                                        <li><a href="{% url "remove_tag" tag.slug %}" class="tag_selected" id="{{ tag.slug }}">{{ tag.name|capfirst }} <span class="small">&times;</span></a></li>
                                    {% endfor %}
                                </ul>
                            
                                {% if not super_category and selected_tags %}
                                    <hr>
                                {% endif %}
                            {% endif %}
                            
                            {% if super_category and selected_tags %}
                                <hr>
                            {% endif %}
                        
                            <li class="nav-header">Search by Category</li>
                            {% get_category_list %}
                                <li><a href="{% url "imly_store_list" %}">All</a></li>
                                {% for category in categories %}
                                    
                                        {% if category.sub_categories.count %}
                                            <li class="dropdown-submenu"><a href="{% url "imly_stores_by_category" category.slug %}">{{ category.name|capfirst }}</a>
                                                <ul class="dropdown-menu hidden-phone">
                                                    {% for sub_category in category.sub_categories.all %}
                                                    {% if sub_category.product_set.count and sub_category.product_set.is_flag.count %}
                                                        <li><a href="{% url "imly_stores_by_category" sub_category.slug %}">{{ sub_category.name|capfirst }}</a></li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url "imly_stores_by_category" category.slug %}">{{ category.name|capfirst }}</a></li>
                                        {% endif %}
                                    
                                {% endfor %}
                                
                            {% get_tag_list %}
                            {% if tags %}
                            <li class="nav-header">Filter by Taste</li>
                                <ul class="inline tags_for_product_home">
                                    
                                    {% for tag in tags %}
                                    {% if tag.is_active and not tag.flag_product %}
                                        <li><a href="{% url "add_tag" tag.slug %}" class="tag" id="{{ tag.slug }}">{{ tag.name }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </ul> <!-- end of ul nav-list -->
                    
                    </div> <!-- end of well sidebar-nav -->
                {% endblock sidebar_nav %}

{% block shop_or_product %}

{% endblock shop_or_product %}

{% block content %}
<!-- using forloop counter to correct twitter bug- thumbnails dont align after first row, added bottom margin to each row fluid for proper spacing -->   
{% load imly_tags %}
{% if object_list %}
    <ul class="thumbnails">
        {% load endless %}
        
        {% paginate object_list %}
        {% for object in object_list %}
        {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
                <li class="span4">
                    <div class="thumbnail thumbnail_custom">
                    {% if request.session.place_slug %}
                        {% store_amend_geo object %}
                        {% if object.pick_up_location %}
                                
                                
                                <p class="text-left location_distance"><span class="icon-map-marker"></span> <small class="muted">
                                
                                    {% if object.distance < 1 %}
                                        &lt; 1 km 
                                    {% else %}
                                        {{ object.distance|floatformat:"1" }} kms
                                    {% endif %}
                                
                        {% endif %}
                                
                                <span class="pull-right">
                                {% if object.delivers %}
                                    Delivers to you &nbsp;
                                {% else %}
                                    {% if object.pick_up %}
                                    Pick up required &nbsp;
                                    {% else %}
                                    No delivery/pick-up &nbsp;  
                                    {% endif %}
                                {% endif %}
                                </span>
                                </small></p>
                            {% endif %}
                        {% if object.logo %}
                            <a href="{% url "imly_store_detail" object.slug %}">
                                <div class="sold_out">
                                    <img src="{{ object.logo_thumbnail.url }}" alt="{{ object.name }}">
                                        <!-- AddThis Button BEGIN -->
                                        <div class="addthis_toolbox addthis_default_style addthis_16x16_style custom_addthis" addthis:url="http://imly.in/{{ object.slug }}/" addthis:title="Check out chef {{ object.owner.first_name }}'s shop '{{ object.name|title }}' on imly.in! Amazing!">
                                        <a class="addthis_button_pinterest_share"><img src="{{ STATIC_URL }}bootstrap/img/share_pinterest.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Pin on Pinterest"></a>
                                        <a class="addthis_button_facebook"><img src="{{ STATIC_URL }}bootstrap/img/share_facebook.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Share on Facebook"></a>
                                        <a class="addthis_button_twitter"><img src="{{ STATIC_URL }}bootstrap/img/share_twitter.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Tweet on Twitter"></a>
                                        </div>
                                        <!-- AddThis Button END -->
                                </div>
                            </a>
                        {% else %}
                            {% with object.product_set.all|first as product %}
                                <a href="{% url "imly_store_detail" object.slug %}">
                                    <div class="sold_out">
                                        <img src="{{ product.image_thumbnail.url }}" alt="{{ object.name }}">
                                        
                                            <!-- AddThis Button BEGIN -->
                                            <div class="addthis_toolbox addthis_default_style addthis_16x16_style custom_addthis" addthis:url="http://imly.in/{{ object.slug }}" addthis:title="Check out chef {% if object.owner.userprofile %}{{ object.owner.userprofile.first_name }}'s{% else %}{{ object.owner.username }}'s{% endif %} shop '{{ object.name|title }}' on imly.in! Amazing!">
                                            <a class="addthis_button_pinterest_share"><img src="{{ STATIC_URL }}bootstrap/img/share_pinterest.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Pin on Pinterest"></a>
                                            <a class="addthis_button_facebook"><img src="{{ STATIC_URL }}bootstrap/img/share_facebook.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Share on Facebook"></a>
                                            <a class="addthis_button_twitter"><img src="{{ STATIC_URL }}bootstrap/img/share_twitter.png" class="custom_addthis_share_button" width="16" height="16" border="0" alt="Tweet on Twitter"></a>
                                            </div>
                                            <!-- AddThis Button END -->
                                            
                                    </div>
                                </a>
                            {% endwith %}
                        {% endif %}
                    
                        <h5 class="store_list_name"><a class="top_text" href="{% url "imly_store_detail" object.slug %}">{{ object.name|lower|title }}</a></h5><small class="muted"> by
                                            {% if object.owner.userprofile %}
                                                <a class="sub_text" href="{% url "chef_profile" object.owner.userprofile.slug %}"><u>{{ object.owner.userprofile.first_name|lower|title }} {{ object.owner.userprofile.last_name|lower|title }}</u></a>
                                            {% else %}
                                                {{ object.owner.username }}
                                            {% endif %}</small>
                    </div>
                </li>
        {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    </ul>
    <div class="text-center">
        {% show_pages %}
    </div>
{% else %}
    <br>
    <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/chef_sad.png"></p><br>
    <h3 class="muted text-center">Oops, we don't have any chefs<br> matching your search criteria yet. Help us! </h3><p class="text-center"><a class="give_us_a_tip give_us_a_tip2" href="javascript:void(0)" data-toggle="modal">Suggest a Chef</a></p>
{% endif %}
    

{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript">
$(document).ready(function(){
    
    $("#delivery_location_not_set").on("click",function(){
        $("#delivery_modal").modal();
    });
    
    $("#delivery_modal").on("hidden", function(){
        $(".large_location_search").focus(); 
    });
    
    $(".thumbnail_custom").hover(
        function(){
            $(this).find(".custom_addthis").stop(true,false).slideDown(300);
        },
        function(){
            $(this).find(".custom_addthis").stop(true,false).slideUp(300);
        }
    );
});
</script>   
{% endblock extra_javascript %}
