{% extends "base.html" %}

{% block title %}Imly | Chefs{% endblock title %}

                {% block sidebar_nav %}
                    
                    
                    {% comment %}
                    {% get_location_list %}
                    <select class="location_list">
                        <option value="all">Search by Location (All)</option>
                        {% for location in locations %}
                            <option value="{{ location.slug }}" {% ifequal request.session.place_slug location.slug %}selected="selected"{% endifequal %}>{{ location.name|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {% endcomment %}
                
                    <div class="well sidebar-nav">
                        <div class="span12">
                            <ul class="inline text-center food_chef">
                                <li><a href="{% if category %}{% url "imly_products_by_category" category.slug %}{% else %}{% url "imly_product_list" %}{% endif %}" class="food food_chef_inactive">Food</a></li>
                                <li><a href="#" class="chef food_chef_active">Chef</a></li>
                                <hr class="hr_less_margin">
                            </ul>
                        </div>
                        
                        {% include "sidebar_nav.html" %}
                    </div> <!-- end of well sidebar-nav -->
                {% endblock sidebar_nav %}

{% block shop_or_product %}
                {% comment %}
                    <div class="row-fluid">
                        
                        <div class="span12 centered-pills">
                            <p class="text-center"><small>SEARCH BY</small></p>
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#">Chef</a></li>
                                <li><a href="{% if category %}{% url "imly_products_by_category" category.slug %}{% else %}{% url "imly_product_list" %}{% endif %}">Food</a></li>
                                
                            </ul>
                            
                        </div>
                    
                    </div>
                {% endcomment %}
{% endblock shop_or_product %}

{% block content %}
<!-- using forloop counter to correct twitter bug- thumbnails dont align after first row, added bottom margin to each row fluid for proper spacing -->   
{% if object_list %}
    <ul class="thumbnails">
        {% for object in object_list %}
        {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
                <li class="span4">
                    <div class="thumbnail thumbnail_custom">
                    {% if request.session.place_slug %}
                        <p class="text-left location_distance"><span class="icon-map-marker"></span> <small class="muted">5.8 kms</small></p>
                    {% endif %}
                        {% if object.logo %}
                            <a href="{% url "imly_store_detail" object.slug %}"><img src="{{ object.logo_thumbnail.url }}" alt="{{ object.name }}"></a>
                        {% else %}
                            {% with object.product_set.all|first as product %}
                                <a href="{% url "imly_store_detail" object.slug %}"><img src="{{ product.image_thumbnail.url }}" alt="{{ object.name }}"></a>
                            {% endwith %}
                        {% endif %}
                    
                        <h5 class="store_list_name"><a class="top_text" href="{% url "imly_store_detail" object.slug %}">{{ object.name }}</a></h5><small class="muted"> by
                                            {% if object.owner.userprofile %}
                                                <a class="sub_text" href="{% url "chef_profile" object.owner.userprofile.slug %}"><u>{{ object.owner.userprofile.first_name }} {{ object.owner.userprofile.last_name }}</u></a>
                                            {% else %}
                                                {{ object.owner.username }}
                                            {% endif %}</small>
                    </div>
                </li>
        {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    </ul>
{% else %}
    <br>
    <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/chef_sad.png"></p><br>
    <h3 class="muted text-center">Oops, we don't have any chefs matching your search criteria.<br>Help us by <a class="give_us_a_tip action_button action_button3 open_your_shop" href="javascript:void(0)" data-toggle="modal">Suggest a Chef</a></p></small>suggesting a chef.</h3>
{% endif %}
    
    {% if is_paginated %}
        <div class="pagination pagination-centered">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="{% url "imly_stores_by_category" category.slug %}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                    <li class="active"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                    <li><a href="{% url "imly_stores_by_category" category.slug %}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

{% endblock content %}

