{% extends "base_store_manage.html" %}

{% block shop_content %}
        <h1>This is edit page</h1>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Store Details</a></li>
            <li><a href="#" data-toggle="tab">Product Details</a></li>
            <li><a href="#" data-toggle="tab">My Profile</a></li>
        </ul>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Submit">
           
{% endblock shop_content %}
                

{% block shop_info %}
                
{% endblock shop_info %}            
