{% extends "base_store_manage.html" %}

{% block shop_content %}

        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Store Details</a></li>
            <li><a href="#">Product Details</a></li>
            <li><a href="#">My Profile</a></li>
        </ul>
        
        <div class="row-fluid">
            <div class="span12">
                <hr>
            </div>
        </div>
        
           
{% endblock shop_content %}
                

{% block shop_info %}
                
{% endblock shop_info %}            
