<nav class="navbar">
                    <div class="navbar-inner">

                            <button class="btn btn-navbar btn-nav-collapse" data-toggle="collapse" data-target=".nav-collapse">
                                <a href="{% url "imly_landing_page" %}" class="brand"><img src="{{ STATIC_URL }}bootstrap/img/imly_logo_small_with_beta_light.png" alt="Imly Logo" width="80"></a>
                                <span class="pull-right">
                                        <br>
                                        <ul class="inline">
                                                            <li>MENU</li>
                                                            <li><span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                            </li>
                                                            
                                        </ul>
                                        

                                </span>
                            </button>
                            <a href="{% url "imly_landing_page" %}" class="brand visible-desktop"><img src="{{ STATIC_URL }}bootstrap/img/imly_logo_with_beta.png" alt="Imly Logo"></a>
                            
                            <div class="nav-collapse collapse">
                                
                                <ul class="nav pull-right">
                                        <li class="visible-tablet top_nav_logo"><a href="{% url "imly_landing_page" %}" style="padding: 10px 0px;padding-right: 40px;"><img src="{{ STATIC_URL }}bootstrap/img/imly_logo_with_beta.png" alt="Imly Logo" width="80"></a></li>
                                    <li><a class="no_border" href="{% url "imly_product_list" %}">Discover Great Food</a></li>
                                    
                                    {% if user.is_authenticated %}
                                        {% if user.store %}
                                            <li><a class="no_border"  href="{% url "imly_store_info" %}">Manage your Shop</a></li>
                                        {% else %}
                                            <li><a class="no_border_orange"  href="{% url "imly_store_info" %}">Open your Shop</a></li>
                                        {% endif %}
                                    {% else %}
                                        <li class="hidden-phone"><a id="open_your_shop" class="no_border_orange hand_pointer">Open your Shop</a></li>
                                        <li class="visible-phone"><a href="{% url "imly_store_info" %}">Open your Shop</a></li>
                                    {% endif %}
                                    <li><a class="no_border"  href="{% url "imly_profiles" %}">Chef Profiles</a></li>
                                    {% if user.is_authenticated %}
                                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        {% if user.userprofile.first_name %}
                                            {{ user.userprofile.first_name|slice:"12" }} <span class="caret"></span>
                                        {% else %}
                                            {{ user.first_name|slice:"12" }} <span class="caret"></span>
                                        {% endif %}
                                        </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url "plata_shop_cart" %}"><span class="icon-shopping-cart"></span> My Cart {% if plata.order %}({{ plata.order.items.count }}){% endif %}</a></li>
                                                <li><a href="{% url "imly_store_info" %}"><span class="icon-home"></span> Manage Shop</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{% url "account_logout" %}"><span class="icon-off"></span> Logout</a></li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        
                                        <li class="hidden-phone">
                                                            {% ifequal request.path "/logout/" %}
                                                                                <a id="from_logout" class="hand_pointer">Sign In</a>
                                                                                {% else %}<a href="#myModal" role="button" data-toggle="modal">Sign In</a>
                                                            {% endifequal %}</li>
                                        <li class="visible-phone"><a href="{% url "account_login" %}">Sign-In</a></li>
                                    {% endif %}
                                    <li class="border_right"><a class="items_in_cart" href="{% url "plata_shop_cart" %}"><span class="icon-shopping-cart"></span> {% if plata.order %}({{ plata.order.items.count }}){% endif %}</a></li>
                                    
                                </ul>
                            </div> <!-- end of nav-collapse div -->

                    </div> <!-- end of navbar-inner --> 

                </nav> <!-- end of navbar -->