//TYPOGRAPHY

$small-font-size: 85%;

// TOP NAV BAR VARIABLES
$topbar-bg: #fff;

$topbar-height:55px;
$topbar-margin-bottom:emCalc(0);

$topbar-link-color: #333;
$topbar-link-weight: normal;

$topbar-menu-link-color: #fff;
$topbar-menu-icon-color: #fff;

$topbar-dropdown-link-color: #666;
$topbar-dropdown-toggle-color: #333;

$topbar-breakpoint: emCalc(769);
