{% extends "base.html" %}

{% block left_content %}
            
<div class="sidebar_nav">
    
</div>       
{% endblock left_content %}

{% block right_content %}
<ul class="small-block-grid-2 large-block-grid-3">
    <li>
        <div class="th thumbnail_custom">
            <p class="text-left location_distance"><i class="fi-marker"></i> <small class="muted">9kms
            <span class="right delivery_pick_up">Delivers to you</span></small></p>
            <a href="#">
                
                    <img src="{{ STATIC_URL }}images/bisc.jpg">
                
            </a>    
            <h5><a href="#">Name of product is very very very very very very very very very very very</a></h5>
            <h6 class="store_name">by <a href="#">abhishek</a></h6>
            <br>
        </div>
    </li>
    
    <li>
        <div class="th thumbnail_custom">
            <a href="#"><img src="{{ STATIC_URL }}images/bisc.jpg"></a>
            <div class="info_wrapper">
                <h5><a href="#">Name of product</a></h5>
                <h6>INR 500 for 5</h6>
            </div>
        </div>
    </li>
    <li>
        <div class="th thumbnail_custom">
            <a href="#"><img src="{{ STATIC_URL }}images/bisc.jpg"></a>
            <div class="info_wrapper">
                <h5><a href="#">Name of product</a></h5>
                <h6>INR 500 for 5</h6>
            </div>
        </div>
    </li>
    <li>
        <div class="th thumbnail_custom">
            <a href="#"><img src="{{ STATIC_URL }}images/bisc.jpg"></a>
            <div class="info_wrapper">
                <h5><a href="#">Name of product</a></h5>
                <h6>INR 500 for 5</h6>
            </div>
        </div>
    </li>
    <li>
        <div class="th thumbnail_custom">
            <a href="#"><img src="{{ STATIC_URL }}images/bisc.jpg"></a>
            <div class="info_wrapper">
                <h5><a href="#">Name of product</a></h5>
                <h6>INR 500 for 5</h6>
            </div>
        </div>
    </li>
    <li>
        <div class="th thumbnail_custom">
            <a href="#"><img src="{{ STATIC_URL }}images/bisc.jpg"></a>
            <div class="info_wrapper">
                <h5><a href="#">Name of product</a></h5>
                <h6>INR 500 for 5</h6>
            </div>
        </div>
    </li>
                
</ul>         
{% endblock right_content %}