{% extends "facebook_store/base_facebook.html" %}

{% load i18n plata_tags %}


{% block main_content %}
<div class="span5 no_margin_left">
<h4>{% trans "Checkout" %}</h4>

<form method="post" action=".">
{% csrf_token %}
<input type="hidden" name="_checkout" value="1" />

{% form_errors orderform %}


<legend class="orange text-left">{% trans "Billing address" %}</legend>

<div style="display: none;">
{% if orderform.create_account %}
    {% form_item orderform.create_account %}
{% endif %}
</div>

{# {% form_item orderform.billing_company %} #}
{% form_item orderform.billing_first_name %}
{% form_item orderform.billing_last_name %}
{% form_item orderform.email %}
{# {% form_item orderform.billing_phone_number %} #}
{% form_item orderform.billing_address %}
{% form_item orderform.billing_phone_number %}
{% form_item orderform.billing_zip_code %}
{% form_item orderform.billing_city %}
{% form_item orderform.billing_country %}


<p><span class="shipping_same_as_billing"><span class="orange">{% trans "Shipping address" %}</span> same as billing address?{% form_item_plain orderform.shipping_same_as_billing %}</span></p>

<div class="shipping_address">
<table class="table table-order">
<tr><td colspan="2">
<legend class="orange text-left">{% trans "Shipping address" %}</legend>
</td></tr>
{# {% form_item orderform.shipping_company %} #}
{% form_item orderform.shipping_first_name %}
{% form_item orderform.shipping_last_name %}
{# {% form_item orderform.shipping_phone_number %} #}
{% form_item orderform.shipping_address %}
{% form_item orderform.shipping_phone_number %}
{% form_item orderform.shipping_zip_code %}
{% form_item orderform.shipping_city %}
{% form_item orderform.shipping_country %}

<!-- <tr><td colspan="2">
<h2>{% trans "Notes" %}</h2>
</td></tr> -->
{# {% form_item orderform.notes %} #}
{% form_errors form %}

</table>
</div>
</div> <!-- end of span7 -->

<div class="span7">
{% include "facebook_store/_fb_cart.html" %}            
<p class="text-center muted">Pay in Cash</p>
<div class="row-fluid">
        
        <button type="submit" class="btn btn-success btn-large btn-block btn-custom">{% trans "Confirm Order" %}</button>
    
</div>

<div class="row-fluid">
    <br>
    <p class="text-right"><small class="muted">*Exact pick-up addresses will be shared after purchase</small></p>
    <br><br>
</div>


    <div class="checkout_terms_payment">
    <table class="table table-order">
    {% form_item form.terms_and_conditions %}
    {% form_item form.payment_method %}
    </table>
    </div>


</form>
</div>
{% endblock main_content %}


{% block extra_javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		if ($('#id_order-shipping_same_as_billing').is(':checked'));
		{
			$('#id_order-shipping_first_name').prop("disabled",true);
			$('#id_order-shipping_last_name').prop("disabled",true);
			$('#id_order-shipping_address').prop("disabled",true);
			$('#id_order-shipping_phone_number').prop("disabled",true);
			$('#id_order-shipping_zip_code').prop("disabled",true);
			$('#id_order-shipping_city').prop("disabled",true);
			$('#id_order-shipping_country').prop("disabled",true);
		}

		$('#id_order-shipping_same_as_billing').change(function(){
			if ($(this).is(':checked'))
			{
                                $(".shipping_address").slideUp();
				$('#id_order-shipping_first_name').prop("disabled",true);
				$('#id_order-shipping_last_name').prop("disabled",true);
				$('#id_order-shipping_address').prop("disabled",true);
				$('#id_order-shipping_phone_number').prop("disabled",true);
				$('#id_order-shipping_zip_code').prop("disabled",true);
				$('#id_order-shipping_city').prop("disabled",true);
				$('#id_order-shipping_country').prop("disabled",true);
                                return;
			}
			
                                $(".shipping_address").slideDown();
				$('#id_order-shipping_first_name').prop("disabled",false);
				$('#id_order-shipping_last_name').prop("disabled",false);
				$('#id_order-shipping_address').prop("disabled",false);
				$('#id_order-shipping_phone_number').prop("disabled",false);
				$('#id_order-shipping_zip_code').prop("disabled",false);
				$('#id_order-shipping_city').prop("disabled",false);
				$('#id_order-shipping_country').prop("disabled",false);
			
		});
		
                $("#id_order-billing_country").val("India");
                //$('#id_payment_method')[0].selectedIndex=1;
                //$("#id_terms_and_conditions").attr("checked",true);

        if(document.getElementById('cart-update-modal')){
		$('#cart-update-modal').modal({
		keyboard: false,
		show: true,
		});

                }
            
            $(".cart_delivery_section").each(function(){
                if($(this).find(".delivery_radio_button").is(":checked")){
                    $(this).find(".delivery_hide_show").css({"display": "block"})
                }
            });
            
            //if($(".cart_delivery_section").find(".delivery_radio_button").is(":checked")){
              //  $(".delivery_hide_show").css({"display":"block"})
            //}
            
            // NOT WORKING
            //$(".delivery_radio_button").each(function(){
              //  if($(this).is(":checked")){
                //$(".delivery_radio_button").parents("td").find(".delivery_hide_show").css({"display":"block"})
            //}

            //});
                $(".delivery_location_not_set").on("click",function(){
                    $("#delivery_modal").modal();
                });
                
                $("#delivery_modal").on("hidden", function(){
                    $(".large_location_search").focus(); 
                });

        
            $(".delivery_radio_button").click(function(){
                if($(this).is(":checked")){
                    $(this).parents("td").find(".delivery_hide_show").fadeIn(200);
                    return;
                }
                
                $(this).parents("td").find(".delivery_hide_show").fadeOut(200);
                
            });
            
            $(".pick_up_radio_button").click(function(){
                if($(this).is(":checked")){
                    $(this).parents("td").find(".delivery_hide_show").fadeOut(200);
                    return;
                }
                
                $(this).parents("td").find(".delivery_hide_show").fadeIn(200);
                
            });
        
        
    $('.required input').keypress(function(evt){
        var charCode = (evt.which)?evt.which:evt.keyCode;
        if (charCode>31 && (charCode<48||charCode>57))
        {
            return false;
        }
    });
    $('.required input').change(function(){
        var id=parseInt($(this).parents('span.order_quantity').attr('id').split("-")[1]);
        var quantity = parseInt($(this).val());
        var items_in_stock = parseInt($('#orderitem_items_in_stock-'+id).text());
        var store_table = $(this).parents('table.store_table').attr('id');
        if (quantity <= 0){
            $(this).val(1);
            data = {id:id,quantity:1};
            $.post('{% url "change_quantity_text" %}',data,function(data){

            }).done(function(data){
            $('#store_total-'+store_table).html(data['store_order_total']);
            $('#order_total').html(data['order_total']);
            $('#order_total_mobile').html(data['order_total']);
            $('.orderitem_quantity_'+id).html(data['quantity']);
            $('.orderitem_subtotal_'+id).html(parseInt(data['discounted_subtotal']));
            $('.order_item_quantity_'+id).html(parseInt(data['order_item_quantity']));
            if (data['order_item_quantity']>1){
                $('.quantity_by_price_'+id).html(data['quantity_by_price']+'s');
            }else{
                $('.quantity_by_price_'+id).html(data['quantity_by_price']);
            }
            });
        }else if(quantity > items_in_stock){
            $(this).val(items_in_stock);
            data = {id:id,quantity:items_in_stock};
            $.post('{% url "change_quantity_text" %}',data,function(data){

            }).done(function(data){
            $('#store_total-'+store_table).html(data['store_order_total']);
            $('#order_total').html(data['order_total']);
            $('#order_total_mobile').html(data['order_total']);
            $('.orderitem_quantity_'+id).html(data['quantity']);
            $('.orderitem_subtotal_'+id).html(parseInt(data['discounted_subtotal']));
            $('.order_item_quantity_'+id).html(parseInt(data['order_item_quantity']));
            if (data['order_item_quantity']>1){
                $('.quantity_by_price_'+id).html(data['quantity_by_price']+'s');
            }else{
                $('.quantity_by_price_'+id).html(data['quantity_by_price']);
            }
            });
        }else{
            data = {id:id,quantity:quantity};
            $.post('{% url "change_quantity_text" %}',data,function(data){

            }).done(function(data){
            $('#store_total-'+store_table).html(data['store_order_total']);
            $('#order_total').html(data['order_total']);
            $('#order_total_mobile').html(data['order_total']);
            $('.orderitem_quantity_'+id).html(data['quantity']);
            $('.orderitem_subtotal_'+id).html(parseInt(data['discounted_subtotal']));
            $('.order_item_quantity_'+id).html(parseInt(data['order_item_quantity']));
            if (data['order_item_quantity']>1){
                $('.quantity_by_price_'+id).html(data['quantity_by_price']+'s');
            }else{
                $('.quantity_by_price_'+id).html(data['quantity_by_price']);
            }

            });
        }
    });
    $('a.quantity_plus').click(function(){
        var id = $(this).attr('id');
        var items_in_stock = parseInt($('#orderitem_items_in_stock-'+id).text());
        var input_id = $(this).prev().find('input[type=text]').attr("id");
        var quantity = parseInt($("#"+input_id).val());
        var store_table = $(this).parents('table.store_table').attr('id');
        var data = {order_item:$(this).attr("id")};
        if (quantity == items_in_stock){
            return false
        }else{
        $.post('{% url "change_quantity" change='up' %}',data,function(data){
            //quantity = quantity + 1;
            //quantity = quantity.toString();
            
        }).done(function(data){
            if (parseInt(data['order_item_quantity']) > 1){
                $('.quantity_by_price_'+id).html(data['quantity_by_price']+'s');
            }
            $('#'+input_id).val(data['quantity']);
            $('#store_total-'+store_table).html(data['store_order_total']);
            $('#order_total').html(data['order_total']);
            $('#order_total_mobile').html(data['order_total']);
            $('.orderitem_quantity_'+id).html(data['quantity']);
            $('.orderitem_subtotal_'+id).html(parseInt(data['discounted_subtotal']));
            $('.order_item_quantity_'+id).html(parseInt(data['order_item_quantity']));

        });
    }
    });
    $('a.quantity_minus').click(function(){
        var id = $(this).attr('id');
        var input_id = $(this).prevAll().find('input[type=text]').attr("id");
        var quantity = parseInt($("#"+input_id).val());
        var store_table = $(this).parents('table.store_table').attr('id');
        var data = {order_item:$(this).attr("id")};
        quantity = quantity - 1;
        if (quantity>=1){
            $.post('{% url "change_quantity" change='down' %}',data,function(data){
            
            }).done(function(data){
                if (parseInt(data['order_item_quantity']) == 1){
                $('.quantity_by_price_'+id).html(data['quantity_by_price']);
            }
                $('#'+input_id).val(data['quantity']);
                $('#store_total-'+store_table).html(data['store_order_total']);
                $('#order_total').html(data['order_total']);
                $('#order_total_mobile').html(data['order_total']);
                $('.orderitem_quantity_'+id).html(data['quantity']);
                $('.orderitem_subtotal_'+id).html(parseInt(data['discounted_subtotal']));
                $('.order_item_quantity_'+id).html(parseInt(data['order_item_quantity']));
            });
        }else return false;
        
    });
    $('a.order-item').click(function(){
        //var order-item-remove = $(this).attr('id');
        var id = $(this).attr('id');
        var order_item = parseInt(id.split("-")[1]);
        var order_item_id = $(this).parents('tr.order-items').attr('id');
        var store_table = $(this).parents('table.store_table').attr('id');
        var data = {id:parseInt((order_item_id).split("-")[1])};
        $.post('{% url "update_cart" %}',data,function(data){

        }).done(function(data){
            if (data['count'] != 0){
                if (data['store_order_total']!=0){
                    $('#items-count').text(data['count']);
                    $('.items-count_cart').text(data['count']);
                    $('#order_total').text(data['order_total']);
                    $('#order_total_mobile').html(data['order_total']);
                    $('#store_total-'+store_table).html(data['store_order_total']);
                    $('#order_item-'+order_item).remove();
                }
                else
                {
                    $('#'+store_table).remove();
                    $('#items-count').text(data['count']);
                    $('.items-count_cart').text(data['count']);
                    $('#order_total').text(data['order_total']);
                }
                    
            }
            else
            {
                window.location.href=('/shop/cart/');
            }
            
            
        });
    });
	});
	function sync_notes(){
        $('textarea').each(function(){ 
            $(this).change()
        });
    }
    setTimeout(sync_notes, 1000);
</script>            
{% endblock extra_javascript %}

