{% extends "facebook_store/base_facebook.html" %}

{% block main_content %}
	{% if special_event and special_products %}
	<div class="row-fluid special_event">
	    <legend class="orange"><span class="legend_upper">{{ special_event.title }}</span> <span class="legend_lower">Special</span></legend>
	    <ul class="thumbnails">
		{% for object in special_products %}
		    {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
		    <li class="span4">
			<div class="thumbnail thumbnail_custom">
			    
			    <a href="{% url "fb_product_detail" object.store.slug object.slug %}">
				<div class="sold_out">
				    <img src="{{ object.image_thumbnail.url }}" alt="{{ object.name }}">
				    {% if not object.items_in_stock %}
					<img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image">
				    {% endif %}
				    <div id="exceed_stock_{{ object.slug }}" class="exceed_stock">I can't make more today</div>
				    <div class="hidden-desktop">
					<div id="item_added_{{ object.slug }}" class="item_added"><a href="{% url "fb_checkout" %}" class="item_added_link">Item added. Go to cart &raquo;</a></div>
				    </div>
	    
				</div>
	    
			    </a>
	    
			    <h5 class="less_bottom_margin"><a class="top_text" href="{% url "fb_product_detail" object.store.slug object.slug %}">{{ object.name|lower|title }}</a></h5>
			    <div class="thumbnail_info_wrapper">
				<span class="pull-left">{{ object.currency }} {{ object.get_price.unit_price|floatformat:"0" }}<small class="muted">
				    {% if object.quantity_per_item == 1 %}
					/{{ object.get_quantity_by_price_display }}
				    {% else %}
					for {{ object.quantity_per_item|floatformat:"0" }} {{ object.get_quantity_by_price_display }}s
				    {% endif %} 
				</small></span>
				
			    {% if object.store.is_open %}
				{% if object.items_in_stock %}
				<form method="post" action="{% url "fb_add_order" object.store.slug object.slug %}">
				    {% csrf_token %}
				    <input type="hidden" name="image_url" value="{{object.image_thumbnail_mini.url}}">
				    <input type="hidden" name="product_name" value="{{object.name|title}}">
				    <input type="hidden" name="store_name" value="{{object.store.name|title}}">
				    <input type="hidden" name="product_slug" value="{{ object.slug }}">
				    <input type="hidden" name="quantity" value="1">
				    <input type="button" class="submit-btn btn btn-custom btn-mini pull-right" value="Order">
				</form>
				{% else %}
				    <small class="ultra_small muted pull-right">Fresh batch tomorrow</small>
				{% endif %}
			    {% else %}
				<small class="ultra_small muted pull-right">Chef on vacation</small>
			    {% endif %}
			    
				<div class="clearfix"></div>
			    </div>
			    <div class="fb_like_thumbnail">
				<div class="fb-like" data-href="http://imly.in/{{ object.store.slug }}/{{ object.slug }}" data-send="false" data-layout="button_count" data-width="225" data-show-faces="false" data-font="arial"></div>
			    </div>
			</div>
			
		    </li>
		    {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
		    {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
		{% endfor %}
	    </ul>
	</div>
	{% endif %}
	    <div class="row-fluid product_list">
		<ul class="thumbnails">
		    {% for object in products %}
		    {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid margined">{% endif %}
		    <li class="span4">
			<div class="thumbnail thumbnail_custom">
			    
			    <a href="{% url "fb_product_detail" object.store.slug object.slug %}">
				<div class="sold_out">
				    <img src="{{ object.image_thumbnail.url }}" alt="{{ object.name }}">
				    {% if not object.items_in_stock %}
					<img src="{{ STATIC_URL }}bootstrap/img/sold_out_tag.png" alt="sold out" class="sold_out_image">
				    {% endif %}
				    <div id="exceed_stock_{{ object.slug }}" class="exceed_stock">I can't make more today</div>
				    <div class="hidden-desktop">
					<div id="item_added_{{ object.slug }}" class="item_added"><a href="{% url "fb_checkout" %}" class="item_added_link">Item added. Go to cart &raquo;</a></div>
				    </div>
	    
				</div>
	    
			    </a>
	    
			    <h5 class="less_bottom_margin"><a class="top_text" href="{% url "fb_product_detail" object.store.slug object.slug %}">{{ object.name|lower|title }}</a></h5>
			    <div class="thumbnail_info_wrapper">
				<span class="pull-left">{{ object.currency }} {{ object.get_price.unit_price|floatformat:"0" }}<small class="muted">
				    {% if object.quantity_per_item == 1 %}
					/{{ object.get_quantity_by_price_display }}
				    {% else %}
					for {{ object.quantity_per_item|floatformat:"0" }} {{ object.get_quantity_by_price_display }}s
				    {% endif %} 
				</small></span>
				
			    {% if object.store.is_open %}
				{% if object.items_in_stock %}
				<form method="post" action="{% url "fb_add_order" object.store.slug object.slug %}">
				    {% csrf_token %}
				    <input type="hidden" name="image_url" value="{{object.image_thumbnail_mini.url}}">
				    <input type="hidden" name="product_name" value="{{object.name|title}}">
				    <input type="hidden" name="store_name" value="{{object.store.name|title}}">
				    <input type="hidden" name="product_slug" value="{{ object.slug }}">
				    <input type="hidden" name="quantity" value="1">
				    <input type="button" class="submit-btn btn btn-custom btn-mini pull-right" value="Order">
				</form>
				{% else %}
				    <small class="ultra_small muted pull-right">Fresh batch tomorrow</small>
				{% endif %}
			    {% else %}
				<small class="ultra_small muted pull-right">Chef on vacation</small>
			    {% endif %}
			    
				<div class="clearfix"></div>
			    </div>
			    <div class="fb_like_thumbnail">
				<div class="fb-like" data-href="http://imly.in/{{ object.store.slug }}/{{ object.slug }}" data-send="false" data-layout="button_count" data-width="225" data-show-faces="false" data-font="arial"></div>
			    </div>
			</div>
			
		    </li>
		    {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
		    {% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}
		    {% endfor %}
		</ul>
		
	    </div>
{% endblock main_content %}

{% block extra_javascript %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('.submit-btn').click(function(){
        var form = $(this).parent();
        var product_name = form.find('input[name=product_name]').val();
        var store_name = form.find('input[name=store_name]').val();
        var image_url = form.find('input[name=image_url]').val();
        var quantity = form.find('input[name=quantity]').val();
        var product_slug = form.find('input[name=product_slug]').val();
        $('.items_in_cart').stop(true,true).switchClass("dummy_cart_class","orange_back",400).delay(3000).switchClass("orange_back","dummy_cart_class",400);
	$.ajax({
            data:form.serialize(),
            type:form.attr('method'),
            url:form.attr('action'),
            success:function(response){
                //alert(response['product'])
                if(response['success'] == true){
                    $('#items-count_cart').html(response['count']);

                    $('#items-count').html(response['count']);
                    
                    $('#item_added_'+ product_slug).stop(true,true).fadeIn(200).delay(4000).hover(
        function(){
            $(this).stop(true,false);
            
        },
        function(){
            $(this).fadeOut(200);
        }
    ).fadeOut(200);

                    /*$('.dropDowncart').empty();
                    $('.dropDowncart').append('<li><img class="dropDowncart_img" src="' + response['image'] + '" width="70"></li>');
                    $('.dropDowncart').append('<li><ul class="dropDowncart2 unstyled">');
                    $('.dropDowncart2').append('<li class="dropDowncart_product">' + response['quantity'] + ' &times; ' + '<span class="dropDowncart_product_name">' + response['product'] + '</span>' + '</li>');
                    $('.dropDowncart2').append('<li class="dropDowncart_store">' + response['store'] + '</li>');
                    $('.dropDowncart').append('</ul></li>');
                    $('.dropdown_div').slideDown(500).delay(3000).slideUp(500);*/
                }else{
                    
                    
                    $("#exceed_stock_"+response["product_slug"]).stop(true,true).fadeIn(200).delay(1200).fadeOut(200);
                    //alert("Quantity exceed.");
                    
                    }


            }
        });
        return false;
    });
    });
</script>
{% endblock extra_javascript %}