<div class="row-fluid">
                        <div class="span6">
                            <small class="muted">Cooked by &nbsp;<a href="{% url "imly_landing_page" %}" target="blank"><img src="{{ STATIC_URL }}bootstrap/img/imly_logo_without_beta.png" width="70" alt="Imly Logo"></a></small>
                        </div>
                        <div class="span6 text-right">
                            <div class="margin_for_footer_button"></div>
                            <a href="{% url "why_open_your_shop" %}" target="blank" class="give_us_a_tip give_us_a_tip2">Open your own shop - FREE</a>
                        </div>
</div>
