{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

<div class="row-fluid">
    <div class="span8 offset2">
        <div class="well">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"><h4 class="modal_window_header">Login</h4></a></li>
                <li><a href="{{ signup_url }}"><h4 class="modal_window_header">Sign Up</h4></a></li>
            </ul>
        
        {% if not user.is_authenticated %}
        
            {% if socialaccount.providers  %}
    
            <br><br>
            <div class="socialaccount_ballot">
            
                <ul class="socialaccount_providers inline text-center">
                {% include "socialaccount/snippets/provider_list.html" %}
                </ul>
            
            <!--<div class="login-or">{% trans 'or' %}</div>-->
            
            </div>
    
            {% include "socialaccount/snippets/login_extra.html" %}
            
            {% endif %}
        {% endif %}
        
    <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/or_splitter.png"></p>
    
            <form class="login form-horizontal" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="row-fluid">
                    <div class="span12">
                        <span class="text-center">{{ form.non_field_errors }}</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <span class="control-label">{{ form.login.label }}</span>
                    <div class="controls">
                        {{ form.login }}
                        {{ form.login.errors }}
                    </div>
                </div>
                <div class="control-group">
                    <span class="control-label">{{ form.password.label }}</span>
                    <div class="controls">
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                </div>
                <div class="control-group">
                    
                    <div class="controls">
                        {{ form.remember }} <small>Remember Me</small>
                    </div>
                    
                </div>
                
                <div class="row-fluid">
                    <div class="span4 offset4">
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="primaryAction btn btn-primary btn-block btn-custom" type="submit">{% trans "Login" %}</button>
                        <a class="secondaryAction" href="{% url 'account_reset_password' %}"><small>{% trans "Forgot Password?" %}</small></a>
                    </div>
                </div>
                        

                
                
            </form>
 
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

