{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span6 offset3">
        <div class="well">
            <div class="grey_form_bg">
                <h3>{% trans "Change Password" %}</h3>
            </div>
            <br>
    <form method="POST" action="" class="password_change">
        {% csrf_token %}
        {{ password_change_form.as_p }}
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>
        </div>
    </div>
</div>
{% endblock %}
