{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row-fluid">
    <br>
    <div class="span6 offset3">
        <div class="well">
        <div class="grey_form_bg">
            <h3>{% trans "Password Reset" %}</h3>
        </div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <br>
    <p>{% blocktrans %}We have sent you an e-mail. Contact us on hello@imly.in if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
