{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset2">
        <div class="well">
            <ul class="nav nav-tabs">
                <li><a href="{{ login_url }}"><h4 class="modal_window_header">Login</h4></a></li>
                <li class="active"><a href="#"><h4 class="modal_window_header">Sign Up</h4></a></li>
            </ul>
            
        {% if not user.is_authenticated %}
        
            {% if socialaccount.providers  %}
    
            <br><br>
            <div class="socialaccount_ballot">
            
                <ul class="socialaccount_providers inline text-center">
                {% include "socialaccount/snippets/provider_list.html" %}
                </ul>
            
            <!--<div class="login-or">{% trans 'or' %}</div>-->
            
            </div>
    
            {% include "socialaccount/snippets/login_extra.html" %}
            
            {% endif %}
        {% endif %}
        
        <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/or_splitter.png"></p>
    
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% else %}

                <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
               
                {% load widget_tweaks %}
                <div class="row-fluid">
                    <div class="span12">
                        <span class="text-center">{{ form.non_field_errors }}</span>
                    </div>
                </div>

                <div class="control-group">
                    
                    <span class="control-label">{{ form.email.label }}</span>
                    <div class="controls">
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="control-group">
                    
                    <span class="control-label">{{ form.password1.label }}</span>
                    <div class="controls">
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                </div>
                <div class="control-group">
                    
                    <span class="control-label">{{ form.password2.label }}</span>
                    <div class="controls">
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                </div>

                <br>
                <div class="row-fluid">
                    <div class="span4 offset4">
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </div>
                </div>

                </form>
                
            {% endif %}
    
        </div>
    </div>
</div>
{% endblock %}


