{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span6 offset3">
        <div class="well">
        <div class="grey_form_bg">
            <h3 class="text-center">{% trans "Sign Up" %}</h3>
            
            {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
            {% else %}
            <p class="text-center">{% blocktrans %}Already have an account? Go ahead and <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        </div>
            <br>
                <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
               
                {% load widget_tweaks %}
                <div class="row-fluid">
                    <div class="span12">
                        <span class="text-center">{{ form.non_field_errors }}</span>
                    </div>
                </div>
                
                <div class="control-group">
                    
                    <span class="control-label">{{ form.username.label }}</span>
                    <div class="controls">
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                </div>
                <div class="control-group">
                    
                    <span class="control-label">{{ form.email.label }}</span>
                    <div class="controls">
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="control-group">
                    
                    <span class="control-label">{{ form.password1.label }}</span>
                    <div class="controls">
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                </div>
                <div class="control-group">
                    
                    <span class="control-label">{{ form.password2.label }}</span>
                    <div class="controls">
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                </div>

                <br>
                <div class="row-fluid">
                    <div class="span4 offset4">
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </div>
                </div>

                </form>
                
            {% endif %}
    
        </div>
    </div>
</div>
{% endblock %}


