{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span6 offset3">
        <div class="well">
            <div class="grey_form_bg">
            <h3>{% trans "Verify Your E-mail Address" %}</h3>
            </div>
{% url 'account_email' as email_url %}

<p>{% blocktrans %}Hi, you need to verify your email to use this
part of the site. {% endblocktrans %}</p>

<p>{% blocktrans %}There is an e-mail with a link in your inbox from Imly. Please click on the link to verify your e-mail. Please
contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{email_url}}">change your e-mail address</a>.{% endblocktrans %}</p>

        </div>
    </div>
</div>

{% endblock %}
