Hi {{ user.first_name }}!

You had selected "Create account" during the checkout process.<br/><br/>

Smart move! Because next time you buy something, you won't have to enter all your details again. Faster checkout!

We have set a password for you: <b>{{password}}</b><br/><br/>

You can use it freely or change it to something less complex by clicking the link below:<br/><br/>

{{password_reset_url}}<br/><br/>

Thank you and keep eating!<br/>
The Imly Team<br/><br/>

Call us: +91 9920190624<br/>
Visit our website <a href="http://imly.in">imly.in</a><br/>
Like us on <a href="https://facebook.com/imly.in">Facebook</a><br/>
Follow us on <a href="https://twitter.com/imly_in">Twitter</a>

