Hi Chef!<br/><br/>

<p>Thank you for creating your store on Imly.in.</p>

<p>Please go ahead and add some products and fill in your profile.</p>

<p>Once you do that, your store will go through a short approval proccess before it will be visible on Imly.</p>

<p>If everything is in place, we will have you up and running in no time and all set to start accepting orders!</p><br/>

Cook on!<br/>


The Imly Team<br/><br/>

Visit our website <a href="http://imly.in">imly.in</a><br/>
Like us on <a href="https://facebook.com/imly.in">Facebook</a><br/>
Follow us on <a href="https://twitter.com/imly_in">Twitter</a>

