Hi!<br/><br/>

<p>Thank you for creating your store on Imly.in..</p>

<p>Your store will go through a short approval proccess before you will be able to start accepting orders.</p>

<p>If everything is in place, we will have you up and running in no time.</p><br/>

Cook on!<br/>


The Imly Team<br/><br/>

Visit our website <a href="https://imly.in">imly.in</a><br/>
Like us on <a href="https://facebook.com/imly.in">Facebook</a><br/>
Follow us on <a href="https://twitter.com/imly_in">Twitter</a>

