Hi!<br/><br/>

Thank you for creating your store on Imly.in.<br/><br/>

Your store will go through a short approval proccess before you will be able to start accepting orders.<br/><br/>

If everything is in place, we will have you up and running in no time.<br/><br/>

Cook on!<br/><br/>


The Imly Team<br/><br/>

Visit our website <a href="https://imly.in">imly.in</a><br/><br/>
Like us on <a href="https://facebook.com/imly.in">Facebook</a><br/><br/>
Follow us on <a href="https://twitter.com/imly_in">Twitter</a>

