An order has been placed by <strong>{{order.user.username}} - {{order.billing_phone_number}}</strong><br/><br/>

Order detail are:<br/><br/>

<table>
	<tr>
		<th>No.</th>
		<th>Product</th>
		<th>Quantity</th>
		<th>Place On</th>
		<th>Total</th>
		<th>Delivered On</th>
	</tr>
	{% for storeorder in order.storeorder_set.all %}
	<tr><td><strong>Order from {{ storeorder.store.name }}</strong></td></tr>
	<tr><td>
		{% for product in storeorder.order.items.all %}
			{% if product.product.store == storeorder.store %}
				<table>
					<tr><td>{{product.product.name}}</td><td>{{product.product.quantity_by_price}}</td></tr>
				</table>
		{% endfor %}
		</td>
		<td>{{ storeorder.order.confirmed }}<td>
		<td>{{ storeorder.store_total }}</td>
		<td>{{ storeorder.delivered_on }}</td>
	</tr>
</table>