
Hi Chef {% if storeorder.store.owner.userprofile %}
			{{ storeorder.store.owner.userprofile.first_name }}
		{% else %}
			{{storeorder.store.owner.username}}
		{% endif %}
	,<br/><br/>

You have received an order through your store on Imly! Your order details are as follows:<br/><br/>

Order placed on {{storeorder.order.confirmed.date}}<br/>
Order number: {{storeorder.order}}<br/>
{% load imly_tags %}
<table style="border:1px solid;border-spacing:0;border-collapse:collapse;">
	<tr>
		<th style="border:1px solid;padding:0.2em;">S.No</th>
		<th style="border:1px solid;padding:0.2em;">You have to make</th>
		<th style="border:1px solid;padding:0.2em;">Quantity</th>
		<th style="border:1px solid;padding:0.2em;">
			{% if not storeorder.pick_up %}
				Deivery
			{% else %}
				Pick up
			{% endif %}
			</th>
		<th style="border:1px solid;padding:0.2em;">
			{% if not storeorder.pick_up %}
				Delivered Date
			{% else %}
				Pick up Date
			{% endif %}
		</th>
	</tr>
	{% for product in product_detail %}
		<tr>
			<td style="border:1px solid;padding:0.2em;">{{forloop.counter}}</td>
			<td style="border:1px solid;padding:0.2em;">{{product.product.name}}</td>
			<td style="border:1px solid;padding:0.2em;">
				{{product.product.quantity_per_item}}
				{% ifequal product.product.quantity_per_item 1 %}
					{{product.product.quantity_unit}}
				{% else %}
					{{product.product.quantity_unit}}s
				{% endifequal %} x {{product.quantity}} = {% order_item_quantity product %} {% quantity_by_price product %}</td>
			<td style="border:1px solid;padding:0.2em;">
				{% if not storeorder.pick_up %}
					{% if storeorder.order.shipping_same_as_billing %}
						<u>{{ storeorder.order.billing_first_name }} {{ storeorder.order.billing_last_name }}</u><br/>{{ storeorder.order.billing_phone_number }}<br/>
						<b><u>Address:</u></b><br>
						{{ storeorder.order.billing_address }}<br/>
						{{ storeorder.order.billing_city }}-{{ storeorder.order.billing_zip_code }}
					{% else %}
						<u>{{storeorder.order.shipping_first_name}} {{storeorder.order.shipping_last_name}}</u><br/>{{storeorder.order.shipping_phone_number}}<br/>
						<b><u>Address:</u></b><br>
						{{storeorder.order.shipping_address}}<br/>
						{{storeorder.order.shipping_city}}-{{storeorder.order.shipping_zip_code}}
					{% endif %}
				{% else %}
					{{storeorder.order.billing_first_name}} {{storeorder.order.billing_last_name}}<br/>
					{{storeorder.order.billing_phone_number}}<br/>
					<b>Buyer will pick up.</b>
				{% endif %}
			</td>
			<td style="border:1px solid;padding:0.2em;">
				Date:{{storeorder.delivered_on.date}}<br>
				Time:{{storeorder.display_order_time}}
			</td>
			
		</tr>
	{% endfor %}
</table><br/><br/>
<h3>Your order total is <b>Rs. {{storeorder.store_total}}</b>.</h3> <br/><br/>
{% if storeorder.note %}
	<b>Your customer has requested:</b>{{storeorder.note}}<br/>
{% endif %}
Cook on!<br/>

The Imly Team<br/><br/>

Special Chef Helpline: +91 9820072565<br/>
Visit our website <a href="http://imly.in">imly.in</a><br/>
Like us on <a href="https://facebook.com/imly.in">Facebook</a><br/>
Follow us on <a href="https://twitter.com/imly_in">Twitter</a>