An order has been placed by <strong>{{order.user.username}} - {{order.billing_phone_number}}</strong><br/><br/>

Order detail are:<br/><br/>

Order no is:{{order}}<br/><br/>

<table>
	{% for storeorder in order.storeorder_set.all %}
	<tr><td><strong>Order from {{ storeorder.store.name }}</strong></td></tr>
	<tr><td><table><tr><th>Items</th><th>Qty</th></tr>
		{% for product in storeorder.order.items.all %}
			{% if product.product.store == storeorder.store %}
				
					<tr><td>{{product.product.name}}</td><td>{{product.quantity}}</td></tr>
				
			{% endif %}
		{% endfor %}
	</table>
		</td>
		<td>{{ storeorder.order.confirmed.date }}<td>
		<td>{{ storeorder.store_total }}</td>
		<td>{{ storeorder.delivered_on.date }}</td>
	</tr>
	{% endfor %}
</table>