Hi Chef {% if store.owner.userprofile %}
			{{ store.owner.userprofile.first_name }}
		{% else %}
			{{store.owner.username}}
		{% endif %},<br/><br/>

<p>Congratulations! Your store <strong>{{store.name}}</strong> on Imly has been approved and is ready to start accepting orders.</p>

<p>Start promoting your food immediately and see as the orders pour in.</p>

<p>The link to your store is:<a href="http://imly.in/{{store.slug}}">www.imly.in/{{store.slug}}</a></p>

{% if store.owner.userprofile %}
<p>The link to your chef profile is:<a href="http://imly.in/profiles/{{ store.owner.userprofile.slug }}">www.imly.in/profiles/{{ store.owner.userprofile.slug }}</a></p>
{% endif %}

<p>So share the links with your friends, families and customers. Put it up on Facebook, tweet about it and shout it out from the rooftops.</p>

<p>We are just as excited to have you on board and will do everything to help you get more orders. We will let the world know you are now part of the Imly family.</p><br/>

Cook on!<br/>

The Imly Team<br/><br/>

Special Chef Helpline: +91 9820072565<br/>
Visit our website <a href="http://imly.in">imly.in</a><br/>
Like us on <a href="http://facebook.com/imly.in">Facebook</a><br/>
Follow us on <a href="http://twitter.com/imly_in">Twitter</a>
