Hi!<br/><br/>

<p>Welcome to Imly and thanks for signing up. Imly is your destination for discovering and buying amazing homefood being served fresh from kitchens and homes around your city. </p>

<p>We connect you directly to the chefs so you can start ordering drool inducing food you wont find anywhere else. </p>

<p>If you are a chef and have something to offer, head on over and <a href="http://imly.in/why-join-imly/">setup your shop.</a></p>

<p>We hope you enjoy Imly as much as we enjoyed cooking it up for you.</p><br/>


The Imly Team<br/>


<p>Show us some love on <a href="https://facebook.com/imly.in">facebook.com/imly.in</a> or follow us on twitter - <a href="https://twitter.com/imly_in">@imly_in</a></p>



