Hi!<br/><br/>
<p>Welcome to Imly and thanks for signing up. Imly is your destination for discovering and buying amazing home food being served fresh from kitchens and homes around your city. </p><br/><br/>

<p>We connect you directly to the chefs so you can start ordering drool inducing food you wont find anywhere else. </p><br/><br/>

<p>If you are a chef and have something to offer, head on over and <a href="http://imly.in/why-join-imly/">Setup a shop.</a></p><br/><br/>

<p>We hope you enjoy Imly as much as we enjoyed cooking it up for you.</p><br/><br/>


The Imly Team<br/><br/>


<p>Show us some love on facebook at <a href="https://facebook.com/imly.in">www.facebook.com/imly.in or follow us on twitter - <a href="https://twitter.com/imly_in">@imly_in</p>