{% extends "socialaccount/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<div class="well">
    <div class="grey_form_bg">
    <h3>{% trans "Login Cancelled" %}</h3>
    </div>
{% url 'socialaccount_login' as login_url %}

<p>{% blocktrans %}Hey, you seemed to have cancelled your log-in. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
</div>  
{% endblock %}

