{% extends base_template|default:"base_cart.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Order payment failure" %} - {{ block.super }}{% endblock %}

{% block cart_content %}
<h2>{% trans "Order payment failure" %}</h2>

<button type="button" class="btn" onclick="window.location.href='{% url plata_shop_cart %}'">{% trans "Cart" %}</button>

<button type="button" class="btn btn-success" onclick="window.location.href='{% url plata_order_new %}'">{% trans "Create new order" %}</button>
{% endblock cart_content %}
