{% extends base_template|default:"base_cart.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Order successful" %} - {{ block.super }}{% endblock %}

{% block cart_content %}
{% if not order.balance_remaining %}
    <h2>{% trans "Thank you for shopping with us!" %}</h2>
    {# TODO this isn't correct for cash on delivery #}
{% else %}
    {% if order.paid %}
        <h2>{% trans "Order has been partially paid." %}</h2>
    {% else %}
        <h2>{% trans "Order has been confirmed." %}</h2>
    {% endif %}
    <p>{% trans "As soon as we receive a confirmation from the payment provider, you'll be sent a confirmation e-mail." %}</p>
{% endif %}

{% include "plata/_order_overview.html" %}

<button type="button" class="btn btn-success" onclick="window.location.href='{% url "plata_order_new" %}'">{% trans "Create new order" %}</button>
{% endblock cart_content %}
