{% extends "base_cart2.html" %}

{% load i18n plata_tags %}

{% block title %}Imly | {% trans "Cart" %}{% endblock %}


{% block cart_content %}
    <div class="row-fluid">
        {% if empty %}
        <br><br><br><br>
        <h2 class="muted text-center">Your Cart is Empty :(</h2>
        <p class="text-center"><a href="{% url "imly_product_list" %}" class="btn btn-large btn-success">Start Shopping!</a></p>
        {% else %}
        <h3>{% trans "Cart" %} ({{ plata.order.items.count }} items)</h3>
        <div class="alert alert-block">
            <b>Heads up!</b> Please ensure that the stores you order from either deliver to your area or provide pick-up facility before confirming your order.
        </div>
        <form method="post" action=".">{% csrf_token %}{{ orderitemformset.management_form }}
                
                {% if messages %}
                    <ul class="messages unstyled">
                        {% for message in messages %}
                            {% if "error" in message.tags %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                
        {% form_errors orderitemformset %}
        

        {% comment %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>{% trans "product"|capfirst %}</th>
                <th>{% trans "details"|capfirst %}</th>
                <th>{% trans "price"|capfirst %}</th>
                <th>{% trans "quantity"|capfirst %}</th>
                <th>{% trans "subtotal"|capfirst %}</th>
                <th>{% trans "pick up"|capfirst %}</th>
                <th>{% trans "delivery Area"|capfirst %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
        {% for orderitemform in orderitemformset.forms %}
            <tr>
                <td><a href="{% url "imly_product_detail" orderitemform.instance.product.store.slug orderitemform.instance.product.slug %}"><img class="img-polaroid" src="{{ orderitemform.instance.product.image_thumbnail_mini.url }}" alt="{{ orderitemform.instance.product.name }}" width="100" height="80"></a></td>
                <td>{{ orderitemform.instance.product.name }}
                    <p><small>by <a href="{% url "imly_store_detail" orderitemform.instance.product.store.slug %}">{{ orderitemform.instance.product.store.name }}</a></small></p>
                </td>
                <td>{{ orderitemform.instance.currency }} {{ orderitemform.instance.unit_price|floatformat:0 }}</td>
                <td>
                    {{ orderitemform.id }}
                    {% form_item_plain orderitemform.quantity %}
                    <br>
                    <small class="muted">Orders left for today: {{ orderitemform.instance.product.items_in_stock }}</small>
                </td>
                
                <td>{{ orderitemform.instance.currency }} {{ orderitemform.instance.discounted_subtotal|floatformat:0 }}</td>
                <td>
                    {% if orderitemform.instance.product.store.pick_up %}
                        {{ orderitemform.instance.product.store.pick_up_location }}
                    {% else %}
                        <p>No</p>
                    {% endif %}
                </td>

                <td>
                    {% if orderitemform.instance.product.store.provide_delivery %}
                        <ul class="unstyled">
                            {% for location in orderitemform.instance.product.store.delivery_areas.all %}
                                <li>{{ location|capfirst }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        No
                    {% endif %}                   
                </td>
                
                <td><p class="text-center">{% form_item_plain orderitemform.DELETE %}</p></td>
            </tr>
        {% endfor %}

                  

        </table>{% endcomment %}

        
        {% for store in order.storeorder_set.all %}
        {% if store.store_items %}
        <table class="table table-bordered">

            <tr class="shop_cart_header">

                <th colspan="2">Your order from: <a class="shop_cart_store" href="{% url "imly_store_detail" store.store.slug %}">{{ store.store.name }}</a></th>
            </tr>
            
            <tr>
            <td>
                <table class="table table_top_border">
                    {% for orderitemform in orderitemformset.forms %}
                            {% ifequal orderitemform.instance.product.store.pk store.store.id %}
                            <tr>
                                <td class="less_padding">
                                    <table class="table table_border_right">
                                        <tr>
                                            <td class="less_padding_inner_td">
                                                <ul class="inline">
                                                    <li class="pull-left"><a href="{% url "imly_product_detail" orderitemform.instance.product.store.slug orderitemform.instance.product.slug %}"><img class="img-polaroid" src="{{ orderitemform.instance.product.image_thumbnail_mini.url }}" alt="{{ orderitemform.instance.product.name }}" width="100" height="80"></a></li>
                                                    <li>
                                                        <ul class="unstyled">
                                                            <li><span style="font-size:16px;">{{ orderitemform.instance.product.name }}</span></li>
                                                            
                                                            <li><small>Quantity:</small> <small class="muted"><i>({{ orderitemform.instance.product.items_in_stock }} left for today)</i></small><li>
                                                            <li>{{ orderitemform.id }}{% form_item_plain orderitemform.quantity %}</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                
                                            
                                            </td>
                                            <td width="200"  class="less_padding_inner_td"><p class="text-center">

                                            {{ orderitemform.instance.currency }} {{ orderitemform.instance.unit_price|floatformat:0 }} <span class="muted">x</span> {{ orderitemform.instance.quantity }} = {{ orderitemform.instance.currency }} {{ orderitemform.instance.discounted_subtotal|floatformat:0 }}</p></td>
                                            <td class="less_padding_inner_td"><p class="text-center"><small class="muted">Remove:</small> {% form_item_plain orderitemform.DELETE %}</p></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {% endifequal %}
                        
                    {% endfor %}
                </table>
            </td>
            <td class="cart_delivery_section" >
                
                <ul class="unstyled text-center">
                    <li class="muted"><small>I want my order on <span class="del_date">{{ store.delivered_on.date }}</span></small></li>
                    <li>
                        <strong>Date : </strong><input type="text" id="datepicker" readonly />
                    </li>

                    <li>
                        <label class="radio inline">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Pick Up
                        </label>
                    </li>
                    <li>
                        <label class="radio inline">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Delivery
                        </label>    
                    </li>
                    <li><br></li>
                    <li><h3 class="muted">Rs. {{ store.store_total|floatformat:"0" }}</h3></li>
                </ul>
                
            </td>
            </tr>
            
        </table>
        <br><br>

        {% endif %}

        {% endfor %}
        
            <p class="text-right">
                <a href="{% url "imly_product_list" %}" class="btn">Keep Shopping</a>
                <input type="submit" class="btn" name="save" value="{% trans "Update & Save" %}" />
            <input type="submit" class="btn btn-success" name="checkout" value="{% trans "Checkout" %}" /></p>
        </form>
        {% endif %}
</div>
{% endblock cart_content %}


{% block shop_info %}


{% endblock shop_info %}   
