{% extends "base_cart_order_status.html" %}

{% load i18n plata_tags %}

{% block title %}Imly | {% trans "Order successful" %} - {{ block.super }}{% endblock %}

{% block location_search_bar %}
    
{% endblock location_search_bar %}

{% block main_body %}
<div class="row-fluid text-center">
    <div class="span6 offset3">
        <br>
        <div class="well">
            <h3 class="text-center">{% trans "Thank you for shopping with us!" %}</h3>
            <p>You will receive a confirmation email with your order details shortly!</p>
            <p>Please do not click the back button. Click on continue to proceed.</p>
            <p class="text-center"><img src="{{ STATIC_URL }}bootstrap/img/chef_happy.png" alt="Thank you!"></p>
            <br>
            <button type="button" class="btn btn-large btn-custom" onclick="window.location.href='{% url "imly_product_list" %}'">{% trans "Continue" %}</button>
            
        </div>
    </div>
</div>

{% endblock main_body %}
