{% extends "base_cart2.html" %}

{% load i18n plata_tags %}
{% load imly_tags %}
{% block title %}Imly | {% trans "Cart" %}{% endblock %}


{% block cart_content %}
    <div class="row-fluid">
        {% if empty %}
        <br><br><br><br>
        <h2 class="muted text-center">Your Cart is Empty :(</h2>
        <p class="text-center"><a href="{% url "imly_product_list" %}" class="btn btn-large btn-success">Start Shopping!</a></p>
        <br><br>
        {% else %}
        <h3>{% trans "Cart" %} (<span class="items-count_cart">{{ plata.order.items.count }}</span>) <span class="muted visible-desktop" style="font-weight:300;">{{ order.currency }} <span id="order_total">{{ order.total|floatformat:"2" }}</span></span><span class="muted pull-right hidden-desktop" style="font-weight:300;">{{ order.currency }} {{ order.total|floatformat:"2" }}</span></h3>
        
        <br>
        
        <form method="post" action="." onsubmit="sync_notes();">{% csrf_token %}{{ orderitemformset.management_form }}
                
                {% if messages %}
                    <ul class="messages unstyled">
                        {% for message in messages %}
                            {% if "error" in message.tags %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                
        {% form_errors orderitemformset %}
        
        {% for store in order.storeorder_set.all %}
        {% if store.store_items %}
        <table class="table table-bordered store_table" id="{{store.store.slug}}">

            <tr class="shop_cart_header">

                <th colspan="2">Your order from: <a class="shop_cart_store" href="{% url "imly_store_detail" store.store.slug %}">{{ store.store.name|lower|title }}</a>
					{% store_amend_geo store.store %}

                        {% if request.session.place_slug %}
                                {% if store.store.pick_up %}
                                <span class="pull-right cart_mobile"><span class="icon-map-marker"></span> <small>

                                    {% if store.store.distance < 1 %}
                                        &lt; 1 km 
                                    {% else %}
                                        {{ store.store.distance|floatformat:"1" }} kms
                                    {% endif %}
                                {% endif %}

                                    &nbsp;|&nbsp;
                                
                            
                                {% if store.store.delivers %}
                                    Delivers to you &nbsp;
                                {% else %}
                                    {% if store.store.pick_up %}
                                        Pick up required near: {% if store.store.pick_up_landmark %}{{ store.store.pick_up_landmark }}, {% endif %}{{ store.store.pick_up_display }}&nbsp;
                                    {% endif %}

                                {% endif %}
                                </span>
                        {% else %}
                            {% if store.store.pick_up %}
                                <span class="pull-right cart_mobile"><small>Pick-up near: {% if store.store.pick_up_landmark %}{{ store.store.pick_up_landmark }}, {% endif %}{{ store.store.pick_up_display }}</small></span>
                            {% endif %}
                        {% endif %}
                </th>
            </tr>
            
            <tr>
            <td>
                <table class="table table_top_border">
                    {% for orderitemform in orderitemformset.forms %}
                            {% ifequal orderitemform.instance.product.store.pk store.store.id %}
                            <tr id="order_item-{{orderitemform.instance.id}}" class="order-items">
                                <td class="less_padding">
                                    <table class="table table_border_right">
                                        <tr>
                                            <td class="less_padding_inner_td">
                                                <ul class="inline">
                                                    <li class="pull-left"><a href="{% url "imly_product_detail" orderitemform.instance.product.store.slug orderitemform.instance.product.slug %}"><img class="img-polaroid" src="{{ orderitemform.instance.product.image_thumbnail_mini.url }}" alt="{{ orderitemform.instance.product.name }}" width="100" height="80"></a></li>
                                                    <li>
                                                        <ul class="unstyled">
                                                            <li><span style="font-size:16px;">{{ orderitemform.instance.product.name|lower|title }}</span></li>
                                                            
                                                            <li><small>Quantity:</small> <small class="muted"><i>({{ orderitemform.instance.product.items_in_stock }} left for today)</i></small><li>
                                                            <li>{{ orderitemform.id }}{% form_item_plain orderitemform.quantity %}<a class="quantity_plus" id="{{orderitemform.instance.id}}"><span class="icon-plus"></span></a><a class="quantity_minus" id="{{orderitemform.instance.id}}"><span class="icon-minus"></span></a></li>
                                                            
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <ul class="unstyled visible-phone cart_ul">
                                                    <li><b>{{ orderitemform.instance.currency }} {{ orderitemform.instance.unit_price|floatformat:0 }} <span class="muted">x</span> <span class="orderitem_quantity_{{orderitemform.instance.id}}">{{ orderitemform.instance.quantity }}</span> = {{ orderitemform.instance.currency }} <span class="orderitem_subtotal_{{orderitemform.instance.id}}">{{ orderitemform.instance.discounted_subtotal|floatformat:0 }}</span></b></li>
                                                    <li><b>{{ orderitemform.instance.product.quantity_per_item }} {% ifequal orderitemform.instance.product.quantity_per_item 1 %}{{ orderitemform.instance.product.quantity_unit }}{% else %}{{ orderitemform.instance.product.quantity_unit }}s{% endifequal %} <span class="muted">x</span> <span class="orderitem_quantity_{{orderitemform.instance.id}}">{{ orderitemform.instance.quantity }}</span> = <span class="order_item_quantity_{{orderitemform.instance.id}}">{% order_item_quantity orderitemform.instance %}</span> {{ orderitemform.instance.product.quantity_unit }}</b>
                                                    </li>
                                                    <li><small class="muted">Remove:</small> {% form_item_plain orderitemform.DELETE %}</li>
                                                    <li><small class="muted"><a class="order-item" id="order-item-remove:{{orderitemform.instance.id}}" >Remove</a></small>
                                                </ul>
                                                
                                            
                                            </td>
                                            <td width="200"  class="less_padding_inner_td hidden-phone"><p class="text-center">

                                            {{ orderitemform.instance.currency }} {{ orderitemform.instance.unit_price|floatformat:0 }} <span class="muted">x</span> <span class="orderitem_quantity_{{orderitemform.instance.id}}">{{ orderitemform.instance.quantity }}</span> = {{ orderitemform.instance.currency }} <span class="orderitem_subtotal_{{orderitemform.instance.id}}">{{ orderitemform.instance.discounted_subtotal|floatformat:0 }}</span><br><br>
                                            {{ orderitemform.instance.product.quantity_per_item|floatformat:"0" }} 
                                            {% ifequal orderitemform.instance.product.quantity_per_item 1 %}
                                                {{ orderitemform.instance.product.quantity_unit }}
                                            {% else %}
                                                {{ orderitemform.instance.product.quantity_unit }}s
                                            {% endifequal %}
                                            <span class="muted">x</span><span class="orderitem_quantity_{{orderitemform.instance.id}}"> {{ orderitemform.instance.quantity }}</span> = <span class="order_item_quantity_{{orderitemform.instance.id}}">{% order_item_quantity orderitemform.instance %}</span>{% quantity_by_price orderitemform.instance %}<span class="quantity_by_price_{{orderitemform.instance.id}}"></span></p></td>
                                            <td class="less_padding_inner_td hidden-phone" width="70"><p class="text-center"><small class="muted">Remove:</small> {% form_item_plain orderitemform.DELETE %}</p><p class="text-center"><a class="order-item" id="order-item-remove:{{orderitemform.instance.id}}" >Remove</a></p></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {% endifequal %}
                        
                    {% endfor %}
                </table>
            </td>
            <td class="cart_delivery_section" >
                
                <ul class="unstyled text-center">

                    <li class="muted"><small>I want my order on:</small></li>
					{% store_order_options store request %}
					<li><br></li>

                    <li><h3 class="muted">{{ order.currency }} <span id="store_total-{{store.store.slug}}" class="store_order_total"> {{ store.store_total|floatformat:"0" }}</span></h3></li>
                    <li><small class="muted">Pay in Cash<br>
                    {% if not store.store.delivers %}
                        {% if store.store.pick_up %}
                            Exact address shared after purchase
                        {% endif %}
                    {% endif %}
                    </small></li>
                </ul>
                
            </td>
            </tr>
            
        </table>
        <br><br>

        {% endif %}

        {% endfor %}

            <ul class="inline text-right checkout_mobile">
				{% request_update_cart plata.order %}
                <li><a href="{% url "imly_product_list" %}" class="btn">Keep Shopping</a></li>
                <li><input type="submit" class="btn" name="save" value="{% trans "Update & Save" %}" /></li>
                <li><input type="submit" class="btn btn-success" name="checkout" value="{% trans "Checkout" %}" /></li>
            </ul>

        </form>
        {% endif %}
</div>
<script>
function update_store_order(field, store_order_id, parameter){
	var update = {store_order_id: store_order_id};
	if(parameter == 'delivery_lead'){
		update[parameter] = field.options[field.selectedIndex].value;
	}else{
		update[parameter] = field.value;
	}
	$.post('{% url "update_store_order"%}', update, function(data){
		return true;
	});
}
</script>
{% endblock cart_content %}

{% block extra_javascript %}
<script type="text/javascript">

	$(document).ready(function(){
		if(document.getElementById('cart-update-modal')){
		$('#cart-update-modal').modal({
		keyboard: false,
		show: true,
		});
	}
    $('a.quantity_plus').click(function(){
        var id = $(this).attr('id');
        var input_id = $(this).prev().find('input[type=text]').attr("id");
        var quantity = parseInt($("#"+input_id).val());
        var store_table = $(this).parents('table.store_table').attr('id');
        var data = {order_item:$(this).attr("id")};
        $.post('{% url "change_quantity" change='up' %}',data,function(data){
            //quantity = quantity + 1;
            //quantity = quantity.toString();
            
        }).done(function(data){
            if (parseInt(data['order_item_quantity']) > 1){
                $('.quantity_by_price_'+id).html('s');
            }
            $('#'+input_id).val(data['quantity']);
            $('#store_total-'+store_table).html(data['store_order_total']);
            $('#order_total').text(data['order_total']);
            $('.orderitem_quantity_'+id).text(data['quantity']);
            $('.orderitem_subtotal_'+id).text(parseInt(data['discounted_subtotal']));
            $('.order_item_quantity_'+id).text(parseInt(data['order_item_quantity']));

        });
    });
    $('a.quantity_minus').click(function(){
        var id = $(this).attr('id');
        var input_id = $(this).prevAll().find('input[type=text]').attr("id");
        var quantity = parseInt($("#"+input_id).val());
        var store_table = $(this).parents('table.store_table').attr('id');
        var data = {order_item:$(this).attr("id")};
        quantity = quantity - 1;
        if (quantity>=1){
            $.post('{% url "change_quantity" change='down' %}',data,function(data){
            
            }).done(function(data){
                if (parseInt(data['order_item_quantity']) > 1){
                $('.quantity_by_price_'+id).html('s');
            }
                $('#'+input_id).val(data['quantity']);
                $('#store_total-'+store_table).html(data['store_order_total']);
                $('#order_total').text(data['order_total']);
                $('.orderitem_quantity_'+id).text(data['quantity']);
                $('.orderitem_subtotal_'+id).text(parseInt(data['discounted_subtotal']));
                $('.order_item_quantity_'+id).text(parseInt(data['order_item_quantity']));
            });
        }else return false;
        
    });
    $('a.order-item').click(function(){
        //var order-item-remove = $(this).attr('id');
        var order_item = parseInt(($(this).attr('id')).split(":")[1]);
        var order_item_id = $(this).parents('tr.order-items').attr('id');
        var store_table = $(this).parents('table.store_table').attr('id');
        var data = {id:parseInt((order_item_id).split("-")[1])};
        $.post('{% url "update_cart" %}',data,function(data){

        }).done(function(data){
            if (data['count'] != 0){
                if (data['store_order_total']!=0){
                    $('#items-count').text(data['count']);
                    $('.items-count_cart').text(data['count']);
                    $('#order_total').text(data['order_total']);
                    $('#store_total-'+store_table).html(data['store_order_total']);
                    $('#order_item-'+order_item).remove();    
                }
                else
                {
                    $('#'+store_table).remove();
                    $('#items-count').text(data['count']);
                    $('.items-count_cart').text(data['count']);
                    $('#order_total').text(data['order_total']);
                }
                    
            }
            else
            {
                window.location.href=('/shop/cart/');
            }
            
            
        });
    });
	});

    function sync_notes(){
        $('textarea').each(function(){ 
            $(this).change()
        });
    }
    setTimeout(sync_notes, 1000);
	
</script>            
{% endblock extra_javascript %}

