{% extends base_template|default:"base_cart.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Order summary" %} - {{ block.super }}{% endblock %}

{% block cart_content %}
<h2>{% trans "Order summary" %}</h2>

{% include "plata/_order_overview.html" %}

<form method="post" action=".">{% csrf_token %}
<legend class="orange">{% trans "Payment and order confirmation" %}</legend>
{% form_errors form %}

<div class="alert alert-block">
  <h4>This is a test transaction!</h4>
  Don't worry, you will <span style="text-decoration: underline;">not be charged</span>. When redirected for payment please enter:
  <ul class="unstyled">
        <li>Credit Card No. : 4111 1111 1111 1111 (Four and one 15 times)</li>
        <li>Expiry Date: Any date in the future</li>
        <li>CVV : 123</li>
  </ul>
</div>

<table>
{% form_item form.terms_and_conditions %}
{% form_item form.payment_method %}
<tr>
    <td></td>
    <td><button type="submit" class="btn btn-success btn-large">{% trans "Proceed to payment" %}</button></td>
</tr>
</table>
</form>
{% endblock cart_content %}
