{% extends base_template|default:"base_cart.html" %}

{% load i18n plata_tags %}

{% block title %}Imly | {% trans "Order summary" %} - {{ block.super }}{% endblock %}

{% block cart_content %}
<h2>{% trans "Order summary" %}</h2>

{% include "plata/_order_overview.html" %}

<form method="post" action=".">{% csrf_token %}
<legend class="orange">{% trans "Payment and order confirmation" %}</legend>
{% form_errors form %}

<table>
{% form_item form.terms_and_conditions %}
{% form_item form.payment_method %}
<tr>
    <td></td>
    <td><button type="submit" class="btn btn-success btn-large">{% trans "Proceed to payment" %}</button></td>
</tr>
</table>
</form>
{% endblock cart_content %}
