{% extends "base_cart_order_status.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Order payment failure" %} - {{ block.super }}{% endblock %}

{% block cart_content %}
<h2>{% trans "Order payment failure" %}</h2>
<p>Please do not click the back button. Click on one of the buttons to proceed.</p><br>

<button type="button" class="btn" onclick="window.location.href='{% url "plata_shop_cart" %}'">{% trans "Cart" %}</button>

<button type="button" class="btn btn-success" onclick="window.location.href='{% url "plata_order_new" %}'">{% trans "Create new order" %}</button>
{% endblock cart_content %}
