{% extends "base_cart_order_status.html" %}

{% load i18n plata_tags %}

{% block title %}Imly | {% trans "Order successful" %} - {{ block.super }}{% endblock %}

{% block cart_content %}
{% if not order.balance_remaining %}
    <h2>{% trans "Thank you for shopping with us!" %}</h2>
    {# TODO this isn't correct for cash on delivery #}
    <p>Please do not click the back button. Click on continue to proceed.</p>
    
    <button type="button" class="btn btn-large btn-success" onclick="window.location.href='{% url "imly_product_list" %}'">{% trans "Continue" %}</button>
{% else %}
    {% if order.paid %}
        <h2>{% trans "Order has been partially paid." %}</h2>
    {% else %}
        <h2>{% trans "Thank You! Order has been confirmed." %}</h2>
    {% endif %}
    <p>Please do not click the back button. Click on continue to proceed.</p>
    <button type="button" class="btn btn-large btn-success" onclick="window.location.href='{% url "plata_order_new" %}'">{% trans "Continue" %}</button><br>
    <p><br></p>
    <p>{% trans "Your order details are below:" %}</p>
{% endif %}

{% include "plata/_order_overview.html" %}

<button type="button" class="btn btn-success" onclick="window.location.href='{% url "imly_product_list" %}'">{% trans "Continue" %}</button>
{% endblock cart_content %}
